<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>接车登记</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
	</head>
	<body>
					<div id="body">
						<table class="table table-hover table-bordered text-center ">
								<thead>
									<tr>
										<th>编码</th>
									</tr>
								</thead>
								<tbody>
									<tr v-for="item in data" ondblclick="colseIframe(this)">
										<td>{{item.no}}</td>
									</tr>
								</tbody>
						</table>
			        </div>
	</body>
	<script type="text/javascript" th:src="@{/js/jquery-3.4.1.min.js}" ></script>
	<script type="text/javascript" th:src="@{/js/vue.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}" ></script>
	<script type="text/javascript">
		var vm =new Vue({
			el:"#body",
			data(){
				return {
					data:[{no:"渝D705C8",danno:"487878242"},{no:"牛B66666",danno:"487845613"}],
				};
			},
			methods:{
				
			}
		})
		function colseIframe(trObj){
			//此处应回传车牌和维修单号，最为方便。
			var index = $(trObj).index();
			var childIframe=window.parent.document.getElementById("otherHtml");
			window.parent.vm.selectedchepai=childIframe.contentWindow.vm.data[index].no;
			window.parent.queryHistory();
			window.parent.queryWXKehuInfo();
			index = null;
			childIframe.remove();
		}
	</script>
</html>
