<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>维修单</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
		<style type="text/css">
			body,ul,li{margin: 0;padding: 0;font:12px/1.5 arial;/* 字体12像素 行高 1.5em 字体 Arial */ }
			ul,li{list-style:none;}
			.wrap{width:99%; margin:20px auto;}
			.hide{display:none;}
			#tab_t{height:25px;border-bottom:1px solid #ccc;}
			#tab_t li{float:left; width:80px; height:24px; line-height:24px; margin:0 4px; text-align:center; border:1px solid #ccc; border-bottom:none; background:#f5f5f5; cursor:pointer}
			#tab_t .act{ position:relative; height:25px; margin-bottom:-1px; background:#fff;}
			#tab_c{border:1px solid #ccc;height: 300px;overflow: scroll; border-top:none; padding:20px;}
			.modal-lg { width: 100%;margin: 0px auto; }
			.afterdate { background-color: red;}
			
			#bt{
				background:#4b6cb7;
			}
			
			#c{
				background:#bdc3c7;
			}
			
			#body{
				background:#f5f5f5;
			}
			
			#ctx1{
				background:#ffffff;
			}
		</style>
	</head>
	<body>
		<div id="body">
			<div id="bt" class="row" style="border-bottom: solid 1px silver;">
				<h3 class="col-xs-offset-1 col-xs-4">维修单</h3>
				<p class="col-xs-3" style="height: 50px; line-height: 50px;" id="danjustatu">{{wxdan.danjustatu}}</p>
				<p class="col-xs-4" style="text-align: right; padding-right: 40px;"><button type="button" class="btn btn-default" style="margin: 14px 0 0 10px;" onclick="closeParent()">关闭</button></p>
			</div>
			<div class="row" style="font-size: 16px;border-bottom: solid 1px blue;">
				<p class="col-xs-10" style="padding-left: 40px;">单号：<strong><span>{{wxno}}</span></strong></p>
				<p class="col-xs-2"><strong><a href="javascript:void(0)" onclick="modalshow()">竣工检验</a>&nbsp;&nbsp;<!-- <a href="#fudan" data-toggle="modal">附单</a> --></strong></p>
			</div>
			<div class="row" style="margin-top: 20px;">
				<div class="row col-xs-10">
					<div class="col-xs-4" style="margin-bottom: 20px;">
						<div class="input-group">
							<span class="input-group-addon">车牌号码</span>
							<input type="text" v-model="wxChepai" disabled="disabled" style="vertical-align: middle ; width:160px; height:33px;"/>
						</div>
					</div>
					<div class="col-xs-4" style="margin-bottom: 20px;">
						<div class="input-group">
							<span class="input-group-addon">车架编号</span>
							<input type="text" v-model="wxdan.chejiaxinghao" disabled="disabled" style="vertical-align: middle ; width:160px; height:33px;"/>
						</div>
					</div>
					<div class="col-xs-4" style="margin-bottom: 20px;">
						<div class="input-group">
							<span class="input-group-addon">车辆型号</span>
							<input type="text" v-model="wxdan.carxinghao" disabled="disabled" style="vertical-align: middle ; width:160px; height:33px;"/>
						</div>
					</div>
					<!--    *******************华丽分割线********************   -->
					<div class="col-xs-4" style="margin-bottom: 20px;">
						<div class="input-group">
							<span class="input-group-addon">车辆品牌</span>
							<input type="text" v-model="wxdan.carbankname" disabled="disabled" style="vertical-align: middle ; width:160px; height:33px;"/>
						</div>
					</div>
					<div class="col-xs-4" style="margin-bottom: 20px;">
						<div class="input-group">
							<span class="input-group-addon">发动机号</span>
							<input type="text" v-model="wxdan.fanumber" disabled="disabled" style="vertical-align: middle ; width:160px; height:33px;"/>
						</div>
					</div>
					<div class="col-xs-4" style="margin-bottom: 20px;">
						<div class="input-group">
							<span class="input-group-addon">发动机品牌</span>
							<input type="hidden" size="8px" v-model="wxdan.fabankid" disabled="disabled"/>
							<input type="text" v-model="wxdan.faname" disabled="disabled" style="vertical-align: middle ; width:160px; height:33px;"/>
						</div>
					</div>
					<!--    *******************华丽分割线********************   -->
					<div class="col-xs-12" style="margin-bottom: 20px;">
						<div class="input-group">
							<span class="input-group-addon">车主姓名</span>
							<input type="hidden" disabled="disabled" v-model="wxdan.kehuno"/>
							<input type="text" disabled="disabled" v-model="wxdan.kehuname" style="vertical-align: middle ; width:160px; height:33px;"/>
						</div>
					</div>
					
					<!--    *******************华丽分割线********************   -->
					<div class="col-xs-4" style="margin-bottom: 20px;">
						<div class="input-group">
							<span class="input-group-addon">服务顾问</span>
							<select v-model="wxdan.guwen" style="vertical-align: middle ; width:160px; height:33px;" id="guwen">
								<option v-for="item in guwen" :value="item.val">
								{{item.text}}
								</option>
							</select>
						</div>
					</div>
					<div class="col-xs-4" style="margin-bottom: 20px;">
						<div class="input-group">
							<span class="input-group-addon">&nbsp;&nbsp;*驾驶员</span>
							<input type="text" v-model="wxdan.sijiname" style="vertical-align: middle ; width:160px; height:33px;"/>
						</div>
					</div>
					<div class="col-xs-4" style="margin-bottom: 20px;">
						<div class="input-group">
							<span class="input-group-addon">*联系电话</span>
							<input type="text" v-model="wxdan.lianphone" style="vertical-align: middle ; width:154px; height:33px;"/>
						</div>
					</div>
					<!--    *******************华丽分割线********************   -->
					<div class="col-xs-4" style="margin-bottom: 20px;">
						<div class="input-group">
							<span class="input-group-addon">进厂里程</span>
							<input type="number" onchange="numberchange(this)" min="0" v-model="wxdan.jinchanli" style="vertical-align: middle ; width:160px; height:33px;"/>
						</div>
					</div>
					<div class="col-xs-4" style="margin-bottom: 20px;">
						<div class="input-group">
							<span class="input-group-addon">进厂油量</span>
							<input type="number" onchange="numberchange(this)"  min="0" v-model="wxdan.jinchanyou" style="vertical-align: middle ; width:160px; height:33px;">
						</div>
					</div>
					<div class="col-xs-4" style="margin-bottom: 20px;">
						<div class="input-group">
							<span class="input-group-addon">上次里程</span>
							<input type="number" onchange="numberchange(this)"  min="0" v-model="wxdan.prevli" style="vertical-align: middle ; width:160px; height:33px;"/>
						</div>
					</div>
					<!--    *******************华丽分割线********************   -->
					<div class="col-xs-4" style="margin-bottom: 20px;">
						<div class="input-group">
							<span class="input-group-addon">进厂时间</span>
							<input type="text" v-model="wxdan.jinchantime" style="vertical-align: middle ; width:160px; height:33px;"/>
						</div>
					</div>
					<div class="col-xs-4" style="margin-bottom: 20px;">
						<div class="input-group">
							<span class="input-group-addon">上次进厂</span>
							<input type="text" v-model="wxdan.prevtime" style="vertical-align: middle ; width:160px; height:33px;"/>
						</div>
					</div>
					<div class="col-xs-4" style="margin-bottom: 20px;">
						<div class="input-group">
							<span class="input-group-addon">*预计完工</span>
							<input type="text" v-model="wxdan.yujitime" style="vertical-align: middle ; width:154px; height:33px;">
						</div>
					</div>
					<!--    *******************华丽分割线********************   -->
					<div class="col-xs-4" style="margin-bottom: 20px;">
						<div class="input-group">
							<span class="input-group-addon">*业务类别</span>
							<input type="text" id="yewutype" v-model="wxdan.yewutype" ondblclick="yewutypDbl()" style="vertical-align: middle ; width:154px; height:33px;">
						</div>
					</div>
					<div class="col-xs-4" style="margin-bottom: 20px;">
						<div class="input-group">
							<span class="input-group-addon">施工班次</span>
							<select v-model="wxdan.shigong" style="vertical-align: middle ; width:160px; height:33px;">
								<option v-for="item in banci" :value="item.val">
								{{item.text}}
								</option>
							</select>
						</div>
					</div>
					<div class="col-xs-4" style="margin-bottom: 20px;">
						<div class="input-group">
							<span class="input-group-addon">&nbsp;&nbsp;&nbsp;接车人</span>
							<select v-model="wxdan.jieche" style="vertical-align: middle ; width:162px; height:33px;">
								<option v-for="item in jiecheren" :value="item.val">
								{{item.text}}
								</option>
							</select>
						</div>
					</div>
					<!--    *******************华丽分割线********************   -->
					<div class="col-xs-4" style="margin-bottom: 20px;">
						<div class="input-group">
							<span class="input-group-addon">结算方式</span>
							<select v-model="wxdan.jiesuantype" style="vertical-align: middle ; width:160px; height:33px;">
								<option v-for="item in jiesuan" :value="item.val">
								{{item.text}}
								</option>
							</select>
						</div>
					</div>
					<div class="col-xs-4" style="margin-bottom: 20px;">
						<div class="input-group">
							<span class="input-group-addon">赔款公司</span>
							<select id="peikuan" style="vertical-align: middle ; width:160px; height:33px;">
								<option value="a公司">a公司</option>
								<option value="b公司">b公司</option>
							</select>
						</div>
					</div>
					<div class="col-xs-4" style="margin-bottom: 20px;">
						<div class="input-group">
							<span class="input-group-addon">完工时间</span>
							<input type="text" v-model="wxdan.wangongtime" disabled="disabled" disabled="disabled" style="vertical-align: middle ; width:160px; height:33px;"/>
						</div>
					</div>
					<!--    *******************华丽分割线********************   -->
					<div class="col-xs-4" style="margin-bottom: 20px;">
						<div class="input-group">
							<span class="input-group-addon">预估金额</span>
							<input type="number" v-model="wxdan.money" style="vertical-align: middle ; width:160px; height:33px;"/>
						</div>
					</div>
					<div class="col-xs-4">
					</div>
					<div class="col-xs-4" style="margin-bottom: 20px;">
						<div class="input-group">
							<span class="input-group-addon">结算金额</span>
							<input type="number" v-model="wxdan.jiesuanmoney" style="vertical-align: middle ; width:160px; height:33px;"/>
						</div>
					</div>
					<!--    *******************华丽分割线********************   -->
					<div class="col-xs-12" style="margin-bottom: 20px;">
						<div class="input-group">
							<span class="input-group-addon">接待备注</span>
							<input type="text" size="50px" v-model="wxdan.remark" style="vertical-align: middle ; width:400px; height:33px;"/>
						</div>
					</div>
					<!--    *******************华丽分割线********************   -->
					<div class="col-xs-12" style="margin-bottom: 20px;">
						<div class="input-group">
							<span class="input-group-addon">保修陈述</span>
							<input type="text" v-model="wxdan.baoxiu" disabled="disabled" style="vertical-align: middle ; width:400px; height:33px;"/>
						</div>
					</div>
					<!--    *******************截止********************   -->

	<!--    *******************华丽分割线********************   -->
				</div>
			</div>
			<div class="wrap">
				<ul id="tab_t">
				    <li class="act">维修项目</li>
				    <!-- <li>领料情况</li> -->
				    <!-- <li>附加项目</li> -->
				    <!-- <li>结算信息</li> -->
				</ul>
				<div id="tab_c">
					<div >
						<div class="row">
							<table id="ctx1" class="table table-hover table-bordered text-center" style="overflow: scroll; width: 1250px;">
									<thead>
										<tr id="c">
											<th class="text-center">选择</th>
											<th class="text-center">项目编码</th>
											<th class="text-center">项目名称</th>
											<th class="text-center">项目类型</th>
											<th class="text-center">售价按</th>
											<th class="text-center">原价</th>
											<th class="text-center">vip价</th>
											<th class="text-center">协议价</th>
											<th class="text-center">会员价</th>
											<th class="text-center">说明</th>
											<th class="text-center">备注</th>
										</tr>
									</thead>
									<tbody>
										<tr  v-for="item in wxxiangmus" v-if="item != null">
											<td class="text-center">{{item.xiangmuno}}</td>
											<td class="text-center">{{item.xiangmuname}}</td>
											<td class="text-center">{{item.xingmutype}}</td>
											<td class="text-center">{{item.shoujiaan}}</td>
											<td class="text-center">{{item.price}}</td>
											<td class="text-center">{{item.vipprice}}</td>
											<td class="text-center">{{item.xieprice}}</td>
											<td class="text-center">{{item.huiprice}}</td>
											<td class="text-center">{{item.bei1}}</td>
											<td class="text-center">{{item.bei2}}</td>
										</tr>
									</tbody>
								</table>
						</div>
					</div>
					<div class="hide"></div>
					<div class="hide"></div>
					<div class="hide"></div>
				</div>
			</div>
			
			
			<!-- 竣工检验  -  模态框 -->
			<div class="modal" tabindex="-1" role="dialog" id="stock">
			  	<div class="modal-dialog" role="document" style="width: 60%;">
			    	<div class="modal-content">
			      		<div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
					        <div class="row">
					        	<h3 class="modal-title col-xs-9">竣工检修</h3>
					        	<button type="button" class="btn btn-success col-xs-2" onclick="insertJunGong()">保存</button>
					        </div>
			      		</div>
				      	<div class="modal-body row" style="font-size: 17px;">
				      		<div class="col-xs-6">
					      		<p><label><input type="radio" name="ishege" value="true" onclick="show()">合格完工</label></p>
					      		<div class="input-group" style="margin-bottom: 15px;">
									<span class="input-group-addon">预计完工</span>
									<input type="datetime-local" v-model="jungongyuji" name="yujitime" style="vertical-align: middle ; width:190px; height:33px;" disabled="disabled"/>
								</div>
								<div class="input-group" style="margin-bottom: 15px;">
									<span class="input-group-addon">实际完工</span>
									<input type="datetime-local"  class="hege" onchange="timechange()" name="shijitime" style="vertical-align: middle ; width:190px; height:33px;" disabled="disabled"/>
								</div>
								<div class="input-group" style="margin-bottom: 15px;">
									<span class="input-group-addon">误工原因</span>
									<input type="text" name="wugong" style="vertical-align: middle ; width:190px; height:33px;" disabled="disabled"/>
								</div>
								<div class="input-group" style="margin-bottom: 15px;">
									<span class="input-group-addon">质检员&nbsp;&nbsp;&nbsp;</span>
									<select name="zhijian" class="hege" style="vertical-align: middle ; width:191px; height:33px;" disabled="disabled">
					      				<option value="">质检员1</option>
					      				<option value="">超级用户</option>
					      				<option value="">魏</option>
					      			</select>
								</div>
								<div class="input-group" style="margin-bottom: 15px;">
									<span class="input-group-addon">责任人&nbsp;&nbsp;&nbsp;</span>
					      			<input type="text" name="wugongren" class="hege" style="vertical-align: middle ; width:191px; height:33px;" disabled="disabled">
								</div>
								<div class="input-group" style="margin-bottom: 15px;">
									<span class="input-group-addon">处罚金额</span>
					      			<input type="number" value="100" class="hege" name="wugongchufa" style="vertical-align: middle ; width:190px; height:33px;" disabled="disabled">
								</div>
				      		</div>
				      		<div class="col-xs-6">
				      			<p><label><input type="radio" name="ishege" value="false" onclick="show()">不合格返工</label>&nbsp;&nbsp;&nbsp;已返工<span>{{showcishu}}</span>次</p>
				      			<div class="input-group" style="margin-bottom: 15px;">
									<span class="input-group-addon">返工原因</span>
									<input type="text" class="fangong" name="fangong" style="vertical-align: middle ; width:190px; height:33px;" disabled="disabled">
				      			</div>
								<div class="input-group" style="margin-bottom: 15px;">
									<span class="input-group-addon">责任人：</span>
									<input type="text" class="fangong" name="fangongren" style="vertical-align: middle ; width:190px; height:33px;" disabled="disabled">
								</div>
								<div class="input-group" style="margin-bottom: 15px;">
									<span class="input-group-addon">处罚金额</span>
									<input type="number" value="100" class="fangong" name="fangongchufa" style="vertical-align: middle ; width:190px; height:33px;" disabled="disabled">
								</div>
				      		</div>
				      	</div>
			    	</div><!-- /.modal-content -->
			  	</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
			
			<!--  模态框  维修副单  -->
			<div class="modal" tabindex="-1" role="dialog" id="fudan">
			  	<div class="modal-dialog" role="document">
			    	<div class="modal-content">
			      		<div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
					        <div class="row">
					        	<h3 class="modal-title col-xs-8">维修附单</h3>
					        	<button type="button" class="btn btn-success col-xs-2" style="margin-right: 10px;">保存</button>
					        	<button type="button" class="btn btn-default col-xs-1">关闭</button>
					        </div>
					        <div class="row" style="margin-top: 30px;">
					        	<p class="col-xs-4">单号：<span>000000000000</span></p>
					        	<p class="col-xs-6">下次保养里程：<input type="text" style="width: 120px;"></p>
					        	<p class="col-xs-2">结算单</p>
					        </div>
			      		</div>
				      	
			    	</div><!-- /.modal-content -->
			  	</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
		</div>

		
	</body>
	<script type="text/javascript" src="js/jquery-3.4.1.min .js" ></script>
	<script type="text/javascript" src="js/vue.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js" ></script>
	<script type="text/javascript" src="js/my.js"></script>
	<script type="text/javascript">
	var vm = new Vue({
		el:"#body",
		data(){
			return {
				wxdan:{},
				wxno:"",
				wxChepai:"",
				cishu:0,
				showcishu:0,
				insert:{wxdanno:null,ishege:null,yujitime:null,
					shijitime:null,wugong:null,zhijian:null,wugongren:null,
					wugongchufa:null,fangongci:null,fangong:null,fangongren:null,
					fangongchufa:null,bei1:null,bei2:null,bei3:null,bei4:null},
				wxxiangmus:[],
				jungongyuji:null,
				guwen:[
					{val:"李顾问",text:"李顾问"},{val:"王顾问",text:"王顾问"},{val:"刘顾问",text:"刘顾问"}
				],
				banci:[
					{val:"白天",text:"白天"},{val:"晚班",text:"晚班"}
				],
				jiecheren:[
					{val:"小王",text:"小王"},{val:"老张",text:"老张"}
				],
				jiesuan:[
					{val:"现金",text:"现金"},{val:"会员卡",text:"会员卡"}
				]
			};
		},
		methods:{
			
		}
	})
	//页面加载方法
	function tab(){
		//获取id为tab_t的ul
	    var tab_t=document.getElementById('tab_t');
		//获取id为tab_t的ul的子元素li集
	    var tab_t_li=tab_t.getElementsByTagName('li');
	    //获取id为tab_t的div
	    var tab_c=document.getElementById('tab_c');
	    ////获取id为tab_t的div的子元素div集
	    var tab_c_li=tab_c.getElementsByTagName('div');
	    var len=tab_t_li.length;
	    var i=0;
	    for(i=0;i<len;i++){
	        tab_t_li[i].index=i;
	        //为每个li绑定click事件
	        tab_t_li[i].onclick=function(){
	            for(i=0;i<len;i++){
	                tab_t_li[i].className='';
	                tab_c_li[i].className='hide';
	            }
	            if(this.index=="0"){
	            	queryXinagMu();
	            }
	            tab_t_li[this.index].className='act';
	            tab_c_li[this.index].className='';
	        }
	    }
	}
	function load(){
		vm.wxno = window.parent.vm.selectedwxdanno;
		vm.wxChepai = window.parent.vm.selectedchepai;
		$.ajax({
			"url":data.ip +"weixiujieche/oldwxJieDan",
			"data":"wxdanno="+vm.wxno,
			"type":"post",
			"success":function(result){
				vm.wxdan = result;
			},
			"error":function(){
				alert("数据渲染失败555！");
				return "";
			}
		})
	}
	//初始化，调用页面加载方法
	tab();
	load();
	
	function closeParent(){
		if(top.location==self.location){
			alert("当前窗口没有父窗口！");
		}else{
			var childIframe=window.parent.document.getElementById("weixiudan");
			index = null;
			vm.wxno = "";
			vm.wxChepai = "";
			window.parent.load();
			childIframe.remove();
		}
	}
	

	
	function show(){
		if($("input[name='ishege']:checked").val() =="true"){
			vm.showcishu=0;
			vm.jungongyuji = vm.wxdan.yujitime.replace(" ","T");
			for(var i=0;i<$(".hege").length;i++){
				$(".hege")[i].disabled=false;
			}
			for(var i=0;i<$(".fangong").length;i++){
				$(".fangong")[i].disabled=true;
				$(".fangong")[i].value="";
			}
		}
		else
		{
			vm.showcishu=vm.cishu;
			vm.jungongyuji = null;
			for(var i=0;i<$(".hege").length;i++){
				$(".hege")[i].disabled=true;
				$(".hege")[i].value="";
			}
			for(var i=0;i<$(".fangong").length;i++){
				$(".fangong")[i].disabled=false;
			}
		}
	}
	
	function timechange(){
		if($("input[name='yujitime']").val()=="" || $("input[name='shijitime']").val()==""){
			$("input[name='wugong']")[0].disabled=true;
		}
		else{
			if($("input[name='shijitime']").val().replace('T', ' ')<$("input[name='yujitime']").val().replace('T', ' ')){
				$("input[name='wugong']")[0].disabled=true;
			}
			else{
				$("input[name='wugong']")[0].disabled=false;
			}
		}
	}
	
	function modalshow(){
		if(vm.wxdan.danjustatu =="已竣工"){
			alert("此单已竣工！");
			return;
		}
		
		$.ajax({
			"url":data.ip +"jungongjianxiu/queryCiShu",
			"data":"wxdanno="+vm.wxno,
			"success":function(result){
				if(result == "null"){
					vm.cishu= 0;
				}else
				{
					vm.cishu =result;
				}
			},
			"error":function(){
				alert("没有查到次数");
			}
		})
		$("#stock").modal("show");
	}
	
	function insertJunGong(){
		vm.insert.wxdanno = vm.wxno;
		vm.insert.ishege=$("input[name='ishege']:checked").val();
		if($("input[name='ishege']:checked").val() =="true"){
			vm.insert.yujitime = $("input[name='yujitime']").val();
			vm.insert.shijitime = $("input[name='shijitime']").val();
			vm.insert.wugong = $("input[name='wugong']").val();
			vm.insert.zhijian = $("input[name='zhijian']").val();
			vm.insert.wugongren = $("input[name='wugongren']").val();
			vm.insert.wugongchufa = parseFloat($("input[name='wugongren']").val());
			if(vm.insert.yujitime =="" || vm.insert.shijitime ==""){
				alert("请完善合格完工信息！");
				return;
			}
			if($("input[name='shijitime']").val().replace('T', ' ')>$("input[name='yujitime']").val().replace('T', ' ')){
				if(vm.insert.wugong == "" || vm.insert.wugongren == ""){
					alert("请完善误工信息");
					return;
				}
			}
		}
		else
		{
			vm.insert.fangongci = vm.cishu;
			vm.insert.fangong = $("input[name='fangong']").val();
			vm.insert.fangongren = $("input[name='fangongren']").val();
			vm.insert.fangongchufa = parseFloat($("input[name='fangongchufa']").val());
			if(vm.insert.fangong =="" || vm.insert.fangongren ==""){
				alert("请完善返工信息！");
				return;
			}
		}
		$.ajax({
			"url":data.ip +"jungongjianxiu/insertJunGong",
			data:JSON.stringify(vm.insert),
			type:"post",
			contentType:"application/json;charset=UTF-8",
			success:function(result){
				if(result =="null" ){
					alert("竣工成功！");
				}else if(result.length > 4){
					alert("本单已返工！新单号为"+result+"，给您造成的不便还望见谅！")
				}
				closeParent();
			},
			error:function(){
				alert("保存失败555！");
			}
		})
	}
	
	//查询当前维修项目集
	function queryXinagMu(){
		if(vm.selectedwxdanno!=""){
			$.ajax({
				"url":data.ip +"weixiujieche/queryXinagMuBybei3",
				"type":"post",
				"data":"bei3="+vm.wxdan.bei3,
				"success":function(result){
					vm.wxxiangmus=result;
				},
				"error":function(){
					alert("数据渲染失败444！");
				}
			})
		}
	}
	</script>
</html>
