<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="fonts/font_4aigx4do0lb/iconfont.css" />
		<link rel="stylesheet" href="css/bootstrapStyle/bootstrapStyle.css" type="text/css">
		<style type="text/css">
			#tbss{
				padding: 1em 2em;
				display: flex;
			}
			#dhl a{
				font-size: 15px;
			}
		</style>
	</head>
	<body>
		<div id="ctx" class="container-fluid row">
			
			<!-- 增加 -->
		<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" >
		  <div class="modal-dialog modal-lg" role="document" >
		    <div class="modal-content"  style="width: 800px;">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        
		        <div class="row">
		      		<div class="col-md-2" >
						<h4 class="modal-title"  id="myModalLabel">技工资料</h4>
					</div>
					<div class="col-md-8"></div>
					<div class="col-md-1" >
						<button type="button" data-dismiss="modal" class="btn btn-success" @click="xxzjg">保存</button>
					</div>
				</div>
				
		      </div>
		      <div class="modal-body">
				<div>
					
					<table>
						
						<tr>
							<td>技工编号:<input v-model="bzjg.jigongno" disabled="true" type="text" style="vertical-align: middle"></td>
							<td>技工姓名:<input v-model="bzjg.jigongname" type="text" style="vertical-align: middle"></td>
							<td>性别选择:<select v-model="bzjg.sex" style="vertical-align: middle; width:174px; height:26px;">
									<option value="男">男</option>
									<option value="女">女</option>
								</select>
							</td>
						</tr>
						
						<tr>
							<td>是否组长:<select v-model="bzjg.iszuzhang" style="vertical-align: middle; width:174px; height:26px;">
									<option value="0">否</option>
									<option value="1">是</option>
								</select>
							</td>
							<td>所在班组:<select v-model="bzjg.banid" disabled="true" style="vertical-align: middle; width:174px; height:26px;">
									<option :value="hqbz.banid">{{hqbz.banname}}</option>
								</select>
							</td>
							<td>手机号码:<input v-model="bzjg.phone" type="text" style="vertical-align: middle"></td>
							
						</tr>
						
						<tr>
							<td>登录账号:<input v-model="bzjg.login" type="text" style="vertical-align: middle"></td>
							<td>微信账号:<input v-model="bzjg.wx" type="text" style="vertical-align: middle"></td>
							<td>出生日期:<input v-model="bzjg.birthday" type="date" style="vertical-align: middle; width:174px; height:26px;"></td>
						</tr>
						
						<tr>
							<td>银行账号:<input v-model="bzjg.bankcard" type="text" style="vertical-align: middle"></td>
							<td>身份证号:<input v-model="bzjg.idcard" type="text" style="vertical-align: middle"></td>
							<td>开户银行:<select v-model="bzjg.bank" style="vertical-align: middle; width:174px; height:26px;">
									<option value="建设银行">建设银行</option>
									<option value="中国银行">中国银行</option>
									<option value="交通银行">交通银行</option>
								</select>
							</td>
						</tr>
						
						<tr>
							<td>员工星级:<select v-model="bzjg.jigongxing" style="vertical-align: middle; width:174px; height:26px;">
									<option v-for="item in jgxj" :value="item.jistarid">{{item.starname}}</option>
								</select>
							</td>
							<td>维修工种:<input v-model="bzjg.weixiutype" type="text" style="vertical-align: middle"></td>
							<td>维修品牌:<input v-model="bzjg.weixiubank" type="text" style="vertical-align: middle"></td>
						</tr>
						
						<tr>
							<td>现在地址:<input v-model="bzjg.address" type="text" style="vertical-align: middle;"></td>	
							<td>户口地址:<input v-model="bzjg.hukouaddress" type="text" style="vertical-align: middle;"></td>
						</tr>
						
					</table>
					
				</div>
		      </div>
		    </div>
		  </div>
		  
		</div>
		
		<!--修改-->
			<div class="modal fade bs-example-modal-lg" id="myModalupdate" tabindex="-1" role="dialog" >
		  <div class="modal-dialog modal-lg" role="document" >
		    <div class="modal-content"  style="width: 800px;">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        
		        <div class="row">
		      		<div class="col-md-2" >
						<h4 class="modal-title"  id="myModalLabel">技工资料</h4>
					</div>
					<div class="col-md-8"></div>
					<div class="col-md-1" >
						<button type="button" data-dismiss="modal" class="btn btn-success" @click="upjg">保存</button>
					</div>
				</div>
				
		      </div>
		      <div class="modal-body">
				<div>
					
					<table>
						
						<tr>
							<td>技工编号:<input v-model="bzjgxg.jigongno" disabled="true" type="text" style="vertical-align: middle"></td>
							<td>技工姓名:<input v-model="bzjgxg.jigongname" type="text" style="vertical-align: middle"></td>
							<td>性别选择:<select v-model="bzjgxg.sex" style="vertical-align: middle; width:174px; height:26px;">
									<option value="男">男</option>
									<option value="女">女</option>
								</select>
							</td>
						</tr>
						
						<tr>
							<td>是否组长:<select v-model="bzjgxg.iszuzhang" style="vertical-align: middle; width:174px; height:26px;">
									<option value="0">否</option>
									<option value="1">是</option>
								</select>
							</td>
							<td>所在班组:<select v-model="bzjgxg.banid" disabled="true" style="vertical-align: middle; width:174px; height:26px;">
									<option :value="djjg.banid">{{djjg.banname}}</option>
								</select>
							</td>
							<td>手机号码:<input v-model="bzjgxg.phone" type="text" style="vertical-align: middle"></td>
							
						</tr>
						
						<tr>
							<td>登录账号:<input v-model="bzjgxg.login" type="text" style="vertical-align: middle"></td>
							<td>微信账号:<input v-model="bzjgxg.wx" type="text" style="vertical-align: middle"></td>
							<td>出生日期:<input v-model="bzjgxg.birthday" type="date" style="vertical-align: middle; width:174px; height:26px;"></td>
						</tr>
						
						<tr>
							<td>银行账号:<input v-model="bzjgxg.bankcard" type="text" style="vertical-align: middle"></td>
							<td>身份证号:<input v-model="bzjgxg.idcard" type="text" style="vertical-align: middle"></td>
							<td>开户银行:<select v-model="bzjgxg.bank" style="vertical-align: middle; width:174px; height:26px;">
									<option value="建设银行">建设银行</option>
									<option value="中国银行">中国银行</option>
									<option value="交通银行">交通银行</option>
								</select>
							</td>
						</tr>
						
						<tr>
							<td>员工星级:<select v-model="bzjgxg.jigongxing" style="vertical-align: middle; width:174px; height:26px;">
									<option v-for="item in jgxj" :value="item.jistarid">{{item.starname}}</option>
								</select>
							</td>
							<td>维修工种:<input v-model="bzjgxg.weixiutype" type="text" style="vertical-align: middle"></td>
							<td>维修品牌:<input v-model="bzjgxg.weixiubank" type="text" style="vertical-align: middle"></td>
						</tr>
						
						<tr>
							<td>现在地址:<input v-model="bzjgxg.address" type="text" style="vertical-align: middle;"></td>	
							<td>户口地址:<input v-model="bzjgxg.hukouaddress" type="text" style="vertical-align: middle;"></td>
						</tr>
						
					</table>
					
				</div>
		      </div>
		    </div>
		  </div>
		  
		</div>
		
		<!--新增班组-->
		<div class="modal fade " id="myModalbz" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog " role="document" >
		    <div class="modal-content"  style="width: 300px;">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<ul>
					<li><h4 class="modal-title" id="myModalLabel2">新增班组</h4></li>
					<li style="padding-left: 150px;"><button type="button" data-dismiss="modal" class="btn btn-success" @click="xzbzdw">保存</button></li>
				</ul>
		      </div>
		      <div class="modal-body">
				<div>
					<table class="table table-bordered">
						<tr>
							<td>班组编号:<input type="text" value="无需设置" disabled="true"></td>		
						</tr>
						<tr>
							<td>班组名称:<input v-model="xzbz.banname" type="text"></td>		
						</tr>
						<tr>
							<td>班组权重:<select v-model="xzbz.parentid" disabled="true" style="vertical-align: middle; width:174px; height:26px;">
									<option :value="hqbzfl.banid">{{hqbzfl.banname}}</option>
							</td>		
						</tr>
					</table>
				</div>
		      </div>
		    </div>
		  </div>
		  
		</div>
		
		<!--查询模态框-->
				<div class="modal fade" tabindex="-1" role="dialog" id="cxygmtk">
			<div class="modal-dialog" role="document" style="width:300px;">
				<div class="modal-content">
					<div class="modal-header" id="dhl">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<div>
								<button type="button" class="btn btn-success" data-dismiss="modal" style="vertical-align: middle; width: 150px;">保存</button>&nbsp;&nbsp;&nbsp;
							</div>
					</div>
					<div class="row modal-body">
					<table>
						<tr>
							<td>
								员工编号:<input type="text" style="vertical-align: middle"/>
							</td>
						</tr>
						<tr>
							<td>
								员工姓名:<input type="text" style="vertical-align: middle"/>
							</td>
						</tr>
						<tr>
							<td>
								员工性别:<select style="vertical-align: middle; width:174px; height:26px;">
										<option value="男">男</option>
										<option value="女">女</option>
									</select>
							</td>
						</tr>
						<tr>
							<td>
								员工岗位:<select style="vertical-align: middle; width:174px; height:26px;">
										<option value="1">展厅经理</option>
										<option value="2">销售顾问</option>
										<option value="3">DCC主管</option>
									</select>
							</td>
						</tr>
						<tr>
							<td>				
								所在部门:<select style="vertical-align: middle; width:174px; height:26px;">
											<option value="1">管理</option>
											<option value="2">财务</option>
											<option value="3">股东</option>
										</select>
							</td>
						</tr>
					</table>
					</div>
				</div>
			</div>
		</div>
		
		
			
			<div id="ctx" >
				
				<div class="row" style="border: 1px solid #E6E6E6;">
					<h3 class="col-md-2">班组技工</h3>
						<div class="col-md-7"></div>
						<div class="col-md-3" id="tbss">
							<input type="text" placeholder="匹配工号/姓名/手机" class="form-control input-sm" style="margin-top: 2px;">&nbsp;&nbsp;&nbsp;
							<button type="button" class="btn btn-warning" style="width: 150px;">搜索</button>&nbsp;&nbsp;&nbsp;
							<button type="button" class="btn btn-default">关闭</button>
						</div>
				</div>
			
			<div id="dhl">
				<ol class="breadcrumb">
					<li><span class="iconfont" style="vertical-align: middle">&#xe62c;</span><a href="#" style="vertical-align: middle" data-toggle="modal" data-target="#myModal" >增加员工</a></li>
					<li><span class="iconfont" style="vertical-align: middle">&#xe612;</span><a href="#" style="vertical-align: middle" data-toggle="modal" data-target="#myModalupdate">修改</a></li>
					<li><span class="iconfont" style="vertical-align: middle">&#xe614;</span><a href="#" style="vertical-align: middle" @click="del">删除</a></li>
					<li><span class="iconfont" style="vertical-align: middle">&#xe78a;</span><a href="#" style="vertical-align: middle" data-toggle="modal" data-target="#cxygmtk">查询</a></li>
					<!--<li><span class="iconfont" style="vertical-align: middle">&#xe6b6;</span><a href="#" style="vertical-align: middle">班组权重</a></li>-->
					<!--<li><span class="iconfont" style="vertical-align: middle">&#xe6a5;</span><a href="#" style="vertical-align: middle">导出</a></li>-->
					<li><span class="iconfont" style="vertical-align: middle">&#xe613;</span><a href="#" style="vertical-align: middle" data-toggle="modal" data-target="#myModalbz">新增班组</a></li>
				</ol>
			</div>
			<div id="mydiv_2" class="col-md-2" style="border: 1px solid #E6E6E6; height:780px; overflow:scroll;">
				<ul id="treeDemo" class="ztree"></ul>
			</div>
			<div  class="col-md-10" style="height:780px;overflow:scroll;">
				<table class="table table-hover table-bordered" style="width: 2000px;">
						<tr>
							<td>班组编号</td>
							<td>班组名称</td>
							<td>技工编号</td>
							<td>技工姓名</td>
							<td>性别</td>
							<td>手机</td>
							<td>地址</td>
							<td>出生日期</td>
							<td>组长</td>
							<td>登陆名</td>
							<td>身份证号</td>
							<td>户口地址</td>
							<td>开户银行</td>
							<td>户口地址</td>
							<td>银行账号</td>
							<td>星级</td>
							<td>维修工种</td>
							<td>维修品牌</td>
						</tr>
						<tr v-for="item in bzjgxq" @click="tableDblclick(item)">	
							<td>{{item.banid}}</td>
							<td>{{item.banname}}</td>
							<td>{{item.jigongno}}</td>
							<td>{{item.jigongname}}</td>
							<td>{{item.sex}}</td>
							<td>{{item.phone}}</td>
							<td>{{item.address}}</td>
							<td>{{item.birthday}}</td>
							<td>{{item.iszuzhang}}</td>
							<td>{{item.login}}</td>
							<td>{{item.idcard}}</td>
							<td>{{item.hukouaddress}}</td>
							<td>{{item.bank}}</td>
							<td>{{item.hukouaddress}}</td>
							<td>{{item.bankcard}}</td>
							<td>{{item.starname}}</td>
							<td>{{item.weixiutype}}</td>
							<td>{{item.weixiubank}}</td>
						</tr>
				</table>
			</div>
		</div>
		
	</div>
		
</body>

<script type="text/javascript" src="js/jquery-1.12.4.js" ></script>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.ztree.core.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript" src="js/my.js"></script>
<script type="text/javascript">
	
	var vm = new Vue({
		el: "#ctx",
		data() {
			return {
				hqbz:{},//获取班组
				jgxj:{},//技工星级
				bzjgxq:{},//班组技工详情
				bzjg:{},//新增班组技工	
				bzjgxg:{},//班组技工修改
				djjg:{},//点击技工
				xzbz:{},//新增班组
				hqbzfl:{}//获取班组根目录
			}
		},
		created(){//加载事件
      		this.loading();//加载班组树状图初始树状图
      		this.cxjgxj();//加载班组技工星级
      		this.cxbzjgxq();//加载班组技工详情
      		this.jgscbhzz();//班组技工生成技工编号
   		},
		methods: {
			loading:function(){//获取初始树状图数据
				$.ajax({
					url: data.ip +"ncq/querybzszt",
					type: "get",
					dataType: "json",
					success: function(result) {
						console.log(result);
						$.fn.zTree.init($("#treeDemo"), setting, result);//初始化树节点时，添加同步获取的数据
						$.fn.zTree.init($("#treeDemo"), setting, result).expandAll(true);//树状图加载好默认打开所有节点
					},
					error: function(result) {
						console.log(result);
					}	
				});
			},
			cxjgxj:function(){//加载班组技工星级
				$.ajax({
					url: data.ip +"ncq/queryjgxj",
					type: "get",
					dataType: "json",
					success: function(result) {
						console.log(result);
						vm.jgxj=result;
					},
					error: function(result) {
						console.log(result);
					}	
				});
			},
			cxbzjgxq:function(){//加载班组技工详情
				$.ajax({
					url: data.ip +"ncq/cxbzjgxq",
					type: "get",
					dataType: "json",
					success:function(result) {
						console.log(result);
						vm.bzjgxq=result;
					},
					error: function(result) {
						console.log(result);
					}	
				});
			},
			jgscbhzz:function(){//班组技工生成技工编号
				$.ajax({
					url: data.ip +"ncq/jgscbhbh",
					type: "get",
					dataType: "text",
					success:function(result) {
						console.log(result);
						vm.bzjg.jigongno=result;
					},
					error: function(result) {
						console.log(result);
					}	
				});
			},
			xxzjg:function(){
				console.log(vm.bzjg);
				$.ajax({//新增技工
					url: data.ip +"ncq/xzjg",
					type: "post",
					data:vm.bzjg,
					dataType: "json",
					success:function(result) {
						console.log(result);
						if(result>0){
							alert("新增成功");
						}else{
							alert("新增失败");
						}
						vm.cxbzjgxq();
					},
					error: function(result) {
						console.log(result);
					}	
				});
			},
			tableDblclick:function(item){//获得点击的技工id
				vm.djjg.jigongno=item.jigongno;
				vm.djjg.banid=item.banid;
				vm.djjg.banname=item.banname;
				console.log(vm.djjg.jigongno);
				console.log(vm.djjg.banid);
				console.log(vm.djjg.banname);
				$.ajax({//修改技工查询 
					url: data.ip +"ncq/bzjgxgcx",
					type: "get",
					data:{jigongno:vm.djjg.jigongno},
					dataType: "json",
					success: function(result) {
						console.log(result);
						vm.bzjgxg = result;
						
					},
					error: function(result) {
						console.log(result);
					}	
				});
			},
			upjg:function(){//修改技工
				$.ajax({
					url:data.ip +"ncq/upjgxg",
					type:"post",
					data:vm.bzjgxg,
					dataType:"text",
					success:function(result){
						console.log(result);
						if(result>0){
							alert("修改成功");
						}else{
							alert("修改失败");
						}
						vm.cxbzjgxq();
					},error:function(result){
						console.log(result);
					}
				});
			},
			del:function(){//删除技工
				$.ajax({
					url:data.ip +"ncq/deljg",
					type:"post",
					data:{jigongno:vm.djjg.jigongno},
					dataType:"text",
					success:function(result){
						console.log(result);
						if(result>0){
							alert("删除成功");
						}else{
							alert("删除失败");
						}
						vm.cxbzjgxq();
					},error:function(result){
						console.log(result);
					}
				});
			},
			xzbzdw:function(){//新增班组
				$.ajax({
					url: data.ip +"ncq/xzbz",
					type: "post",
					data:{banname:vm.xzbz.banname,parentid:vm.xzbz.parentid},
					dataType: "json",
					success:function(result) {
						console.log(result);
						if(result>0){
							alert("新增成功");
						}else{
							alert("新增失败");
						}
						vm.loading();
					},
					error: function(result) {
						console.log(result);
					}	
				});
			}
		}
	});
	
	
	//树状图
	var setting = {
		view: {
        	selectedMulti: true,
        	showIcon:false
    	},
		check: {
			enable: false
		},
		data: {
			key: {
                    name: "banname",//树节点name名称
                },
			simpleData: {
				enable: true,//是否采用简单数据模式
            	idKey: "banid",//树节点ID名称
            	pIdKey: "parentid",//父节点ID名称
            	rootPId: 0,//根节点ID
			}
		},
		 callback:{
			onClick:chooseNode,
		}
	};
	
	//点击树状图获取班组
	function chooseNode(event,treeId,treeNode){
		if (treeNode.parentid=="0") {
			vm.hqbzfl=treeNode;
			vm.xzbz.parentid=vm.hqbzfl.banid;
			console.log(vm.hqbzfl);
			console.log(vm.xzbz.parentid);
			return;
		}
		vm.hqbz=treeNode;
		vm.bzjg.banid=vm.hqbz.banid;
		console.log(vm.hqbz);
		console.log(vm.bzjg.banid);
		$.ajax({//点击树状图获取班组在根据班组id查询技工详情
			url: data.ip +"ncq/djbzcxjg",
			type: "get",
			data:{banid:vm.hqbz.banid},
			dataType: "json",
			success: function(result) {
				console.log(result);
				vm.bzjgxq = result;
			},
			error: function(result) {
				console.log(result);
			}	
		});
	}
	
	
	
	
</script>
</html>
