<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="fonts/font_4aigx4do0lb/iconfont.css" />
		<link rel="stylesheet" href="css/bootstrapStyle/bootstrapStyle.css" type="text/css">
		<style type="text/css">
			#tbss{
				padding: 1em 2em;
				display: flex;
			}
			.shang{
			    margin-top: 10px;
			    padding-top: 10px;
			    padding-left:15px;
		   	}
		   	
		   	.guan{
			    font-size: 35px;
			}
			
		</style>
	</head>
	<body>
		<div id="ctx" class="container-fluid row">
			
		<!-- 增加 -->
		<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" >
		  <div class="modal-dialog modal-lg" role="document" >
		    <div class="modal-content"  style="width: 800px;">
		     <div class="modal-content">
					<div class="modal-header" style="height: 60px;" >
	           			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="guan">&times;</span></button>
	           			<h4 class="modal-title" style="margin-top:5px;">技工新增</h4>
	          			<div class="col-md-9"></div>
			           	<div >
			             	<button type="button" class="btn btn-success" data-dismiss="modal" style="margin-top: -50px;margin-left: 100px; vertical-align: middle; width: 60px;" @click="xxzjg">新增</button>
			          	</div>
     				</div>
					<div class="row modal-body"  style="margin-top: -30px; ">
						<div class="shang">
							
							<p>
								<div class="input-group" style="margin-top: 20px;">
									
									<span class="input-group-addon">技工编号:</span>
									<input type="text" v-model="bzjg.jigongno" class="form-control" aria-describedby="basic-addon3" disabled="true" style="vertical-align: middle ; width:160px; height:33px;">
									
									<span class="input-group-addon">技工姓名:</span>
									<input type="text" v-model="bzjg.jigongname" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
									
									<span class="input-group-addon">性别选择:</span>
									<select v-model="bzjg.sex" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle; width:160px; height:33px;">
										<option value="男">男</option>
										<option value="女">女</option>
									</select>
									 
								</div>
							</p>
							
							<p>
								<div class="input-group" style="margin-top: 20px;">
									
									<span class="input-group-addon">是否组长:</span>
									<select v-model="bzjg.iszuzhang" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle; width:160px; height:33px;">
										<option value="0">否</option>
										<option value="1">是</option>
									</select>
									
									<span class="input-group-addon">所在班组:</span>
									<select v-model="bzjg.banid" class="form-control" aria-describedby="basic-addon3" disabled="true" style="vertical-align: middle; width:160px; height:33px;">
										<option :value="hqbz.banid">{{hqbz.banname}}</option>
									</select>
									
									<span class="input-group-addon">手机号码:</span>
									<input type="text" v-model="bzjg.phone" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
									
								</div>
							</p>
							
							<p>
								<div class="input-group" style="margin-top: 20px;">
									
									<span class="input-group-addon">登录账号:</span>
									<input type="text" v-model="bzjg.login" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
									
									<span class="input-group-addon">微信账号:</span>
									<input type="text" v-model="bzjg.wx" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
									
									<span class="input-group-addon">出生日期:</span>
									<input type="date" v-model="bzjg.birthday" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
									

								</div>
							</p>
					
							<p>
								<div class="input-group" style="margin-top: 20px;">
									
									<span class="input-group-addon">银行账号:</span>
									<input type="text" v-model="bzjg.bankcard" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
									
									<span class="input-group-addon">身份证号:</span>
									<input type="text" v-model="bzjg.idcard" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
									
									<span class="input-group-addon">开户银行:</span>
									<select v-model="bzjg.bank" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle; width:160px; height:33px;">
										<option value="建设银行">建设银行</option>
										<option value="中国银行">中国银行</option>
										<option value="交通银行">交通银行</option>
									</select>
									

								</div>
							</p>
							
							<p>
								<div class="input-group" style="margin-top: 20px;">
									
									<span class="input-group-addon">员工星级:</span>
									<select v-model="bzjg.jigongxing" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle; width:160px; height:33px;">
										<option v-for="item in jgxj" :value="item.jistarid">{{item.starname}}</option>
									</select>
									
									<span class="input-group-addon">维修工种:</span>
									<input type="text" v-model="bzjg.weixiutype" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">

									
									<span class="input-group-addon">维修品牌:</span>
									<input type="text" v-model="bzjg.weixiubank" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
									
								</div>
							</p>
							
							<table>
								<tr>
									<td class="col-md-0">
										<div class="input-group">
														
											<span class="input-group-addon" >现在地址:</span>
											<input type="text" v-model="bzjg.address" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
												
										</div>
									</td>	
									<td class="col-md-7">
										<div class="input-group">
												
											<span class="input-group-addon">户口地址:</span>
											<input type="text" v-model="bzjg.hukouaddress" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
											
										</div>
									</td>
								</tr>
							</table>
							
						</div>
					</div>
		      	</div>
		    </div>
		</div>
	</div>
	
	<!--修改-->
		<div class="modal fade bs-example-modal-lg" id="myModalupdate" tabindex="-1" role="dialog" >
		  <div class="modal-dialog modal-lg" role="document" >
		    <div class="modal-content"  style="width: 800px;">
		     <div class="modal-content">
					<div class="modal-header" style="height: 60px;" >
	           			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="guan">&times;</span></button>
	           			<h4 class="modal-title" style="margin-top:5px;">技工修改</h4>
	          			<div class="col-md-9"></div>
			           	<div >
			             	<button type="button" class="btn btn-success" data-dismiss="modal" style="margin-top: -50px;margin-left: 100px; vertical-align: middle; width: 60px;" @click="upjg">修改</button>
			          	</div>
     				</div>
					<div class="row modal-body"  style="margin-top: -30px; ">
						<div class="shang">
							
							<p>
								<div class="input-group" style="margin-top: 20px;">
									
									<span class="input-group-addon">技工编号:</span>
									<input type="text" v-model="bzjgxg.jigongno" class="form-control" aria-describedby="basic-addon3" disabled="true" style="vertical-align: middle ; width:160px; height:33px;">
									
									<span class="input-group-addon">技工姓名:</span>
									<input type="text" v-model="bzjgxg.jigongname" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
									
									<span class="input-group-addon">性别选择:</span>
									<select v-model="bzjgxg.sex" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle; width:160px; height:33px;">
										<option value="男">男</option>
										<option value="女">女</option>
									</select>
									 
								</div>
							</p>
							
							<p>
								<div class="input-group" style="margin-top: 20px;">
									
									<span class="input-group-addon">是否组长:</span>
									<select v-model="bzjgxg.iszuzhang" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle; width:160px; height:33px;">
										<option value="0">否</option>
										<option value="1">是</option>
									</select>
									
									<span class="input-group-addon">所在班组:</span>
									<select v-model="bzjgxg.banid" class="form-control" aria-describedby="basic-addon3" disabled="true" style="vertical-align: middle; width:160px; height:33px;">
										<option :value="djjg.banid">{{djjg.banname}}</option>
									</select>
									
									<span class="input-group-addon">手机号码:</span>
									<input type="text" v-model="bzjgxg.phone" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
									
								</div>
							</p>
							
							<p>
								<div class="input-group" style="margin-top: 20px;">
									
									<span class="input-group-addon">登录账号:</span>
									<input type="text" v-model="bzjgxg.login" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
									
									<span class="input-group-addon">微信账号:</span>
									<input type="text" v-model="bzjgxg.wx" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
									
									<span class="input-group-addon">出生日期:</span>
									<input type="date" v-model="bzjgxg.birthday" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
									

								</div>
							</p>
					
							<p>
								<div class="input-group" style="margin-top: 20px;">
									
									<span class="input-group-addon">银行账号:</span>
									<input type="text" v-model="bzjgxg.bankcard" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
									
									<span class="input-group-addon">身份证号:</span>
									<input type="text" v-model="bzjgxg.idcard" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
									
									<span class="input-group-addon">开户银行:</span>
									<select v-model="bzjgxg.bank" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle; width:160px; height:33px;">
										<option value="建设银行">建设银行</option>
										<option value="中国银行">中国银行</option>
										<option value="交通银行">交通银行</option>
									</select>
									

								</div>
							</p>
							
							<p>
								<div class="input-group" style="margin-top: 20px;">
									
									<span class="input-group-addon">员工星级:</span>
									<select v-model="bzjgxg.jigongxing" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle; width:160px; height:33px;">
										<option v-for="item in jgxj" :value="item.jistarid">{{item.starname}}</option>
									</select>
									
									<span class="input-group-addon">维修工种:</span>
									<input type="text" v-model="bzjgxg.weixiutype" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">

									
									<span class="input-group-addon">维修品牌:</span>
									<input type="text" v-model="bzjgxg.weixiubank" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
									
								</div>
							</p>
							
							<table>
								<tr>
									<td class="col-md-0">
										<div class="input-group">
														
											<span class="input-group-addon" >现在地址:</span>
											<input type="text" v-model="bzjgxg.address" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
												
										</div>
									</td>	
									<td class="col-md-7">
										<div class="input-group">
												
											<span class="input-group-addon">户口地址:</span>
											<input type="text" v-model="bzjgxg.hukouaddress" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
											
										</div>
									</td>
								</tr>
							</table>
							
						</div>
					</div>
		      	</div>
		    </div>
		</div>
	</div>
	
	<!--新增班组-->
	<div class="modal fade" tabindex="-1" role="dialog" id="xzbzmtk">
		<div class="modal-dialog" role="document" style="width:300px;">
			<div class="modal-content">
				<div class="modal-header" style="height: 60px;">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="guan">&times;</span></button>
					<h4 class="modal-title" style="margin-top:5px;">新增班组</h4>
					<div>
						<button type="button" class="btn btn-success" data-dismiss="modal" style="margin-top: -50px;margin-left: 180px; vertical-align: middle; width: 60px;" @click="xzbzdw">新增</button>
					</div>
				</div>
					<div class="row modal-body"  style="margin-top: -30px; ">
						<div class="shang">
							
							<p>
								<div class="input-group" style="margin-top: 20px;">
									
									<span class="input-group-addon" >班组编号:</span>
									<input type="text" value="无需设置"  class="form-control" aria-describedby="basic-addon3" disabled="true" style="vertical-align: middle ; width:160px; height:33px;">
									
								</div>
							</p>
							
							<p>
								<div class="input-group" style="margin-top: 20px;">
									
									<span class="input-group-addon" >班组名称:</span>
									<input type="text" v-model="xzbz.banname"  class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
									
								</div>
							</p>
							
							<p>
								<div class="input-group" style="margin-top: 20px;">
									
									<span class="input-group-addon" >班组权重:</span>
									<select v-model="xzbz.parentid" class="form-control" aria-describedby="basic-addon3" disabled="true" style="vertical-align: middle; width:160px; height:33px;">
										<option :value="hqbzfl.banid">{{hqbzfl.banname}}</option>
									</select>
									
								</div>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--查询模态框-->
		<div class="modal fade" tabindex="-1" role="dialog" id="cxygmtk">
			<div class="modal-dialog" role="document" style="width:300px;">
				<div class="modal-content">
					<div class="modal-header" style="height: 60px;">
	           			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="guan">&times;</span></button>
	           			<h4 class="modal-title" style="margin-top:5px;">查询技工</h4>
			           	<div >
			             	<button type="button" class="btn btn-success" data-dismiss="modal" style="margin-top: -50px;margin-left: 180px; vertical-align: middle; width: 60px;" >查询</button>
			          	</div>
     				</div>
					<div class="row modal-body"  style="margin-top: -30px; ">
						<div class="shang">
							
							<p>
								<div class="input-group" style="margin-top: 20px;">
									
									<span class="input-group-addon" >技工编号:</span>
									<input type="text" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
									
								</div>
							</p>
							
							<p>
								<div class="input-group" style="margin-top: 20px;">
									
									<span class="input-group-addon" >技工姓名:</span>
									<input type="text" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
									
								</div>
							</p>
							
							<p>
								<div class="input-group" style="margin-top: 20px;">
									
									<span class="input-group-addon" >技工性别:</span>
									<select class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle; width:160px; height:33px;">
										<option value="男">男</option>
										<option value="女">女</option>
									</select>
									
								</div>
							</p>
							
							<p>
								<div class="input-group" style="margin-top: 20px;">
									
									<span class="input-group-addon" >技工星级:</span>
									<select class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle; width:160px; height:33px;">
										<option v-for="item in jgxj" :value="item.jistarid">{{item.starname}}</option>
									</select>
									
								</div>
							</p>
							
							<p>
								<div class="input-group" style="margin-top: 20px;">
									
									<span class="input-group-addon" >所在班组:</span>
									<select class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle; width:160px; height:33px;">
										<option value="1">不要忘记先查询记得查询班组的语句不要查询=0的父节点</option>
									</select>
									
								</div>
							</p>
					
						</div>
					</div>
				</div>
			</div>
		</div>
		

			<div id="ctx" >
				
				<div class="row" style="border: 1px solid #E6E6E6;">
					<h3 class="col-md-2">班组技工</h3>
						<div class="col-md-7"></div>
						<div class="col-md-3" id="tbss">
							<input type="text" placeholder="匹配工号/姓名/手机" class="form-control input-sm" style="margin-top: 2px;">&nbsp;&nbsp;&nbsp;
							<button type="button" class="btn btn-warning" style="width: 150px;">搜索</button>&nbsp;&nbsp;&nbsp;
							<button type="button" class="btn btn-default">关闭</button>
						</div>
				</div>
			
			<div>
				<ol class="breadcrumb">
					<li v-perms="'addjigong'"><span class="iconfont" style="vertical-align: middle">&#xe62c;</span><a href="#" style="vertical-align: middle" data-toggle="modal" data-target="#myModal" >技工新增</a></li>
					<li v-perms="'updatejigong'"><span class="iconfont" style="vertical-align: middle">&#xe612;</span><a href="#" style="vertical-align: middle" data-toggle="modal" data-target="#myModalupdate">技工修改</a></li>
					<li v-perms="'deletejigong'"><span class="iconfont" style="vertical-align: middle">&#xe614;</span><a href="#" style="vertical-align: middle" @click="del">技工删除</a></li>
					<li v-perms="'findjigong'"><span class="iconfont" style="vertical-align: middle">&#xe78a;</span><a href="#" style="vertical-align: middle" data-toggle="modal" data-target="#cxygmtk">技工查询</a></li>
					<!--<li><span class="iconfont" style="vertical-align: middle">&#xe6b6;</span><a href="#" style="vertical-align: middle">班组权重</a></li>-->
					<!--<li><span class="iconfont" style="vertical-align: middle">&#xe6a5;</span><a href="#" style="vertical-align: middle">导出</a></li>-->
					<li v-perms="'addbanzu'"><span class="iconfont" style="vertical-align: middle">&#xe613;</span><a href="#" style="vertical-align: middle" data-toggle="modal" data-target="#xzbzmtk">新增班组</a></li>
				</ol>
			</div>
			<div class="col-md-2" style="border: 1px solid #E6E6E6; height:500px; overflow:scroll;">
				<ul id="treeDemo" class="ztree"></ul>
			</div>
			<div  class="col-md-10" style="height:500px;overflow:scroll;">
				<table class="table table-hover table-bordered" style="width: 2000px;" v-if="$perms('findjigong')">
						<tr>
							<td>班组编号</td>
							<td>班组名称</td>
							<td>技工编号</td>
							<td>技工姓名</td>
							<td>性别</td>
							<td>手机</td>
							<td>地址</td>
							<td>出生日期</td>
							<td>组长</td>
							<td>登陆名</td>
							<td>身份证号</td>
							<td>户口地址</td>
							<td>开户银行</td>
							<td>户口地址</td>
							<td>银行账号</td>
							<td>星级</td>
							<td>维修工种</td>
							<td>维修品牌</td>
						</tr>
						<tr v-for="item in bzjgxq" @click="tableDblclick(item)">	
							<td>{{item.banid}}</td>
							<td>{{item.banname}}</td>
							<td>{{item.jigongno}}</td>
							<td>{{item.jigongname}}</td>
							<td>{{item.sex}}</td>
							<td>{{item.phone}}</td>
							<td>{{item.address}}</td>
							<td>{{item.birthday}}</td>
							<td>{{item.iszuzhang}}</td>
							<td>{{item.login}}</td>
							<td>{{item.idcard}}</td>
							<td>{{item.hukouaddress}}</td>
							<td>{{item.bank}}</td>
							<td>{{item.hukouaddress}}</td>
							<td>{{item.bankcard}}</td>
							<td>{{item.starname}}</td>
							<td>{{item.weixiutype}}</td>
							<td>{{item.weixiubank}}</td>
						</tr>
				</table>
				<div v-else class="alert alert-danger" role="alert">权限不足</div>
			</div>
		</div>
		
	</div>
		
</body>

<script type="text/javascript" src="js/jquery-1.12.4.js" ></script>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.ztree.core.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript" src="js/my.js"></script>
<script type="text/javascript" src="js/perms.js" ></script>
<script type="text/javascript">
	
	var vm = new Vue({
		el: "#ctx",
		data() {
			return {
				hqbz:{},//获取班组
				jgxj:{},//技工星级
				bzjgxq:{},//班组技工详情
				bzjg:{jigongno:""},//新增班组技工	
				bzjgxg:{},//班组技工修改
				djjg:{},//点击技工
				xzbz:{},//新增班组
				hqbzfl:{}//获取班组根目录
			}
		},
		created(){//加载事件
      		this.loading();//加载班组树状图初始树状图
      		this.cxjgxj();//加载班组技工星级
      		this.cxbzjgxq();//加载班组技工详情
      		this.jgscbhzz();//班组技工生成技工编号
   		},
		methods: {
			loading:function(){//获取初始树状图数据
				$.ajax({
					url: data.ip +"ncq/querybzszt",
					type: "get",
					dataType: "json",
					success: function(result) {
						console.log(result);
						$.fn.zTree.init($("#treeDemo"), setting, result);//初始化树节点时，添加同步获取的数据
						$.fn.zTree.init($("#treeDemo"), setting, result).expandAll(true);//树状图加载好默认打开所有节点
					},
					error: function(result) {
						console.log(result);
					}	
				});
			},
			cxjgxj:function(){//加载班组技工星级
				$.ajax({
					url: data.ip +"ncq/queryjgxj",
					type: "get",
					dataType: "json",
					success: function(result) {
						console.log(result);
						vm.jgxj=result;
					},
					error: function(result) {
						console.log(result);
					}	
				});
			},
			cxbzjgxq:function(){//加载班组技工详情
				$.ajax({
					url: data.ip +"ncq/cxbzjgxq",
					type: "get",
					dataType: "json",
					success:function(result) {
						console.log(result);
						vm.bzjgxq=result;
					},
					error: function(result) {
						console.log(result);
					}	
				});
			},
			jgscbhzz:function(){//班组技工生成技工编号
				$.ajax({
					url: data.ip +"ncq/jgscbhbh",
					type: "get",
					dataType: "text",
					success:function(result) {
						console.log(result);
						vm.bzjg.jigongno=result;
					},
					error: function(result) {
						console.log(result);
					}	
				});
			},
			xxzjg:function(){
				console.log(vm.bzjg);
				$.ajax({//新增技工
					url: data.ip +"ncq/xzjg",
					type: "post",
					data:vm.bzjg,
					dataType: "json",
					success:function(result) {
						console.log(result);
						if(result>0){
							alert("新增成功");
						}else{
							alert("新增失败");
						}
						vm.cxbzjgxq();
					},
					error: function(result) {
						console.log(result);
					}	
				});
			},
			tableDblclick:function(item){//获得点击的技工id
				vm.djjg.jigongno=item.jigongno;
				vm.djjg.banid=item.banid;
				vm.djjg.banname=item.banname;
				console.log(vm.djjg.jigongno);
				console.log(vm.djjg.banid);
				console.log(vm.djjg.banname);
				$.ajax({//修改技工查询 
					url: data.ip +"ncq/bzjgxgcx",
					type: "get",
					data:{jigongno:vm.djjg.jigongno},
					dataType: "json",
					success: function(result) {
						console.log(result);
						vm.bzjgxg = result;
						
					},
					error: function(result) {
						console.log(result);
					}	
				});
			},
			upjg:function(){//修改技工
				$.ajax({
					url:data.ip +"ncq/upjgxg",
					type:"post",
					data:vm.bzjgxg,
					dataType:"text",
					success:function(result){
						console.log(result);
						if(result>0){
							alert("修改成功");
						}else{
							alert("修改失败");
						}
						vm.cxbzjgxq();
					},error:function(result){
						console.log(result);
					}
				});
			},
			del:function(){//删除技工
				$.ajax({
					url:data.ip +"ncq/deljg",
					type:"post",
					data:{jigongno:vm.djjg.jigongno},
					dataType:"text",
					success:function(result){
						console.log(result);
						if(result>0){
							alert("删除成功");
						}else{
							alert("删除失败");
						}
						vm.cxbzjgxq();
					},error:function(result){
						console.log(result);
					}
				});
			},
			xzbzdw:function(){//新增班组
				$.ajax({
					url: data.ip +"ncq/xzbz",
					type: "post",
					data:{banname:vm.xzbz.banname,parentid:vm.xzbz.parentid},
					dataType: "json",
					success:function(result) {
						console.log(result);
						if(result>0){
							alert("新增成功");
						}else{
							alert("新增失败");
						}
						vm.loading();
					},
					error: function(result) {
						console.log(result);
					}	
				});
			}
		}
	});
	
	
	//树状图
	var setting = {
		view: {
        	selectedMulti: true,
        	showIcon:false
    	},
		check: {
			enable: false
		},
		data: {
			key: {
                    name: "banname",//树节点name名称
                },
			simpleData: {
				enable: true,//是否采用简单数据模式
            	idKey: "banid",//树节点ID名称
            	pIdKey: "parentid",//父节点ID名称
            	rootPId: 0,//根节点ID
			}
		},
		 callback:{
			onClick:chooseNode,
		}
	};
	
	//点击树状图获取班组
	function chooseNode(event,treeId,treeNode){
		if (treeNode.parentid=="0") {
			vm.hqbzfl=treeNode;
			vm.xzbz.parentid=vm.hqbzfl.banid;
			vm.cxbzjgxq();
			console.log(vm.hqbzfl);
			console.log(vm.xzbz.parentid);
			return;
		}
		vm.hqbz=treeNode;
		vm.bzjg.banid=vm.hqbz.banid;
		vm.jgscbhzz();
		console.log(vm.hqbz);
		console.log(vm.bzjg.banid);
		$.ajax({//点击树状图获取班组在根据班组id查询技工详情
			url: data.ip +"ncq/djbzcxjg",
			type: "get",
			data:{banid:vm.hqbz.banid},
			dataType: "json",
			success: function(result) {
				console.log(result);
				vm.bzjgxq = result;
			},
			error: function(result) {
				console.log(result);
			}	
		});
	}
	
	
	
	
</script>
</html>
