<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="fonts/font_4aigx4do0lb/iconfont.css" />
		<link rel="stylesheet" href="css/bootstrapStyle/bootstrapStyle.css" type="text/css">
		<style>
			
			#tbss{
				padding: 1em 2em;
				display: flex;
			}
			
		</style>
	</head>
	<body>
		<div id="ctx">
			<div class="row" style="border: 1px solid #E6E6E6;">
				<h3 class="col-md-2">岗位定义</h3>
				<div class="col-md-9"></div>
				<div class="col-md-1" id="tbss">
					<button type="button" class="btn btn-default">关闭</button>
				</div>
			</div>
			
			<div class="row">
				
				<ol class="breadcrumb">
				  <li v-perms="'addgangwei'"><span class="iconfont" style="vertical-align: middle">&#xe62c;</span><a href="#" style="vertical-align: middle" @click="insert">增加岗位</a></li>
				  <li v-perms="'deletegangwei'"><span class="iconfont" style="vertical-align: middle">&#xe614;</span><a href="#" style="vertical-align: middle" @click="del(gangwei.gangweid)">删除岗位</a></li>
				  <li v-perms="'updategangwei'"><span class="iconfont" style="vertical-align: middle">&#xe612;</span><a href="#" style="vertical-align: middle" @click="up">修改岗位</a></li>
				  <!--<li><span class="iconfont" style="vertical-align: middle">&#xe6a5;</span><a href="#" style="vertical-align: middle">导出</a></li>-->
				</ol>
				
			</div>
			
			<div>
				<table>
					<tr>
						<td class="col-md-2">
							<div class="input-group">
											
								<span class="input-group-addon" >岗位编码:</span>
								<input v-model="gangwei.gangweid" type="text" class="form-control" aria-describedby="basic-addon3" disabled="true" style="vertical-align: middle ; width:160px; height:33px;">
									
							</div>
						</td>	
						<td class="col-md-2">
							<div class="input-group">
									
								<span class="input-group-addon" >岗位名称:</span>
								<input v-model="gangwei.gangweiname" type="text" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
								
							</div>
						</td>
						<td class="col-md-2"></td>
						<td class="col-md-2"></td>
						<td class="col-md-2"></td>
						<td class="col-md-2"></td>
					</tr>
				</table>
			</div>
			
			<div class="row" id="tbss" style=" border: 1px solid #E6E6E6;height:470px;">
				
				<table class="table table-hover table-bordered" style="width:600px;" v-if="$perms('findgangwei')">
					 
						<tr>
							<td>岗位编码</td>
							<td>岗位名称</td>
						</tr>
						
						<tr v-for="item,index in gwdy" @click="tableDblclick(item)">
							<td>{{item.gangweid}}</td>
							<td>{{item.gangweiname}}</td>
						</tr>
						
				</table>
				<div v-else class="alert alert-danger" role="alert">权限不足</div>
			</div>
			
		</div>
		

<script type="text/javascript" src="js/jquery-1.12.4.js"></script>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript" src="js/my.js"></script>
<script type="text/javascript" src="js/perms.js" ></script>
<script type="text/javascript">
	
	var vm = new Vue({
		el: "#ctx",
		data() {
			return {
				gwdy:{},//获取初岗位数据
				gangwei:{gangweid:"",gangweiname:""},//绑定文本框
			}
		},
		created(){//
      		this.loading();//加载初岗位数据
   		},
		methods: {
			loading:function() {//获取初岗位数据
				$.ajax({
					url: data.ip +"ncq/querygw",
						type: "get",
						dataType: "json",
					success: function(result) {
						vm.gwdy = result;
						console.log(result);
					},
					error: function(result) {
						console.log(result);
					}
				});
			},
			insert:function(){//新增岗位
				$.ajax({
					url:data.ip +"ncq/insertgw",
					type:"post",
					data:vm.gangwei,
					dataType:"text",
					success:function(result){
						console.log(result);
						if(result>0){
							alert("新增成功");
						}else{
							alert("新增失败");
						}
						vm.loading();
					},error:function(result){
						console.log(result);
					}
				});
			},
			tableDblclick:function(item){//查询岗位放入上方text框
				vm.gangwei.gangweid=item.gangweid;
				vm.gangwei.gangweiname=item.gangweiname;
				console.log(vm.gangwei.gangweid);
				console.log(vm.gangwei.gangweiname);
			},
			up:function(){
				console.log(vm.gangwei.gangweid);
				console.log(vm.gangwei.gangweiname);
				$.ajax({//修改岗位
					url:data.ip +"ncq/upgw",
					type:"post",
					data:{gangweid:vm.gangwei.gangweid,gangweiname:vm.gangwei.gangweiname},
					dataType:"text",
					success:function(result){
						console.log(result);
						if(result>0){
							alert("修改成功");
						}else{
							alert("修改失败");
						}
						vm.loading();
					},error:function(result){
						console.log(result);
					}
				});
			},
			del:function(gangweid){//删除岗位
				$.ajax({
					url:data.ip +"ncq/delByIdgw",
					type:"get",
					data:{gangweid:gangweid},
					dataType:"text",
					success:function(result){
						console.log(result);
						console.log(result);
						if(result>0){
							alert("删除成功");
						}else{
							alert("删除失败");
						}
						vm.loading();
					},error:function(result){
						console.log(result);
					}
				});
			}
		}
	});
	
	
</script>
</body>
</html>
