<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="fonts/font_4aigx4do0lb/iconfont.css" />
		<link rel="stylesheet" href="css/bootstrapStyle/bootstrapStyle.css" type="text/css">
		<style type="text/css">
			
			#tbss{
				padding: 1em 2em;
				display: flex;
			}
			
		</style>
	</head>
	<body>
		<div id="ctx">
			
				<div class="row" style="border: 1px solid #E6E6E6;">
						<h3 class="col-md-11">技工星级</h3>
					<div class="col-md-1" id="tbss">
						<button type="button" class="btn btn-default">关闭</button>
					</div>
				</div>
				
			<div class="row"> 
				
				<ol class="breadcrumb">
					<li v-perms="'addxingji'"><span class="iconfont" style="vertical-align: middle">&#xe62c;</span><a href="#" style="vertical-align: middle" @click="insert">新增星级</a></li>
				  	<li v-perms="'deletexingji'"><span class="iconfont" style="vertical-align: middle">&#xe614;</span><a href="#" style="vertical-align: middle" @click="del(jgxjxz.jistarid)">删除星级</a></li>
				  	<li v-perms="'updatexingji'"><span class="iconfont" style="vertical-align: middle">&#xe612;</span><a href="#" style="vertical-align: middle" @click="up">修改星级</a></li>
				</ol>
				
			</div>
				
			<div>
				<table>
					<tr>
						<td class="col-md-2">
							<div class="input-group">
												
								<span class="input-group-addon" >等级编号:</span>
								<input v-model="jgxjxz.jistarid" type="text" class="form-control" aria-describedby="basic-addon3" disabled="true" style="vertical-align: middle ; width:160px; height:33px;">
										
							</div>
						</td>					
						<td class="col-md-2">
							<div class="input-group">
										
								<span class="input-group-addon" >等级名称:</span>
								<input v-model="jgxjxz.starname" type="text" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
									
							</div>
						</td>
						<td class="col-md-2">
							<div class="input-group">
										
								<span class="input-group-addon" >提成权重:</span>
								<input v-model="jgxjxz.ticheng" type="text" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
									
							</div>
						</td>
						<td class="col-md-2"></td>
						<td class="col-md-2"></td>
						<td class="col-md-2"></td>
					</tr>
				</table>
			</div>

			
			
			<div class="row" id="tbss" style=" border: 1px solid #E6E6E6;height:470px;">
				
				<table class="table table-hover table-bordered" style="width: 830px;" v-if="$perms('findxingji')">
					
					<tr>
						<td>等级编码</td>
						<td>等级名称</td>
						<td>提成权重</td>
					</tr>	
					
					<tr v-for="item in jgxj" @click="tableDblclick(item)">
						<td>{{item.jistarid}}</td>
						<td>{{item.starname}}</td>
						<td>{{item.ticheng}}</td>
					</tr>	
					
				</table>
				<div v-else class="alert alert-danger" role="alert">权限不足</div>
			</div>
	</div>	
<script type="text/javascript" src="js/jquery-1.12.4.js"></script>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript" src="js/my.js"></script>
<script type="text/javascript" src="js/perms.js" ></script>
<script type="text/javascript">
	
	var vm = new Vue({
		el: "#ctx",
		data() {
			return {
				jgxj:{},//获取技工星级
				jgxjxz:{jistarid:"",starname:"",ticheng:""}//绑定文本框
			}
		},
		created(){//
      		this.loading();//加载初岗位数据
   		},
		methods: {
			loading:function() {//获取技工星级
				$.ajax({
					url: data.ip +"ncq/queryjgxj",
						type: "get",
						dataType: "json",
					success: function(result) {
						vm.jgxj = result;
						console.log(result);
					},
					error: function(result) {
						console.log(result);
					}
				});
			},
			insert:function(){//新增技工星级
				$.ajax({
					url:data.ip +"ncq/insertjgxj",
					type:"post",
					data:vm.jgxjxz,
					dataType:"text",
					success:function(result){
						console.log(result);
						if(result>0){
							alert("新增成功");
						}else{
							alert("新增失败");
						}
						vm.loading();
					},error:function(result){
						console.log(result);
					}
				});
			},
			tableDblclick:function(item){//查询星级放入上方text框
				vm.jgxjxz.jistarid=item.jistarid;
				vm.jgxjxz.starname=item.starname;
				vm.jgxjxz.ticheng=item.ticheng;
				console.log(vm.jgxjxz.jistarid);
				console.log(vm.jgxjxz.starname);
				console.log(vm.jgxjxz.ticheng);
			},
			up:function(){
				console.log(vm.jgxjxz.jistarid);
				console.log(vm.jgxjxz.starname);
				$.ajax({//修改技工星级
					url:data.ip +"ncq/upjgxj",
					type:"post",
					data:{jistarid:vm.jgxjxz.jistarid,starname:vm.jgxjxz.starname,ticheng:vm.jgxjxz.ticheng},
					dataType:"text",
					success:function(result){
						console.log(result);
						if(result>0){
							alert("修改成功");
						}else{
							alert("修改失败");
						}
						vm.loading();
					},error:function(result){
						console.log(result);
					}
				});
			},
			del:function(jistarid){//删除技工星级
				$.ajax({
					url:data.ip +"ncq/deljgxj",
					type:"post",
					data:{jistarid:jistarid},
					dataType:"text",
					success:function(result){
						console.log(result);
						console.log(result);
						if(result>0){
							alert("删除成功");
						}else{
							alert("删除失败");
						}
						vm.loading();
					},error:function(result){
						console.log(result);
					}
				});
			}
		}
	});
	
	
</script>
</body>
</html>
