<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="fonts/font_4aigx4do0lb/iconfont.css" />
		<link rel="stylesheet" href="css/bootstrapStyle/bootstrapStyle.css" type="text/css">
		<style>
			
			#tbss{
				padding: 1em 2em;
				display: flex;
			}
			#dhl a{
				font-size: 15px;
			}
			
		</style>
	</head>
	<body>
	<div id="ctx">
		<!--离职打开模态框-->
		<div class="modal fade" tabindex="-1" role="dialog" id="lzdjdk">
			<div class="modal-dialog" role="document" style="width:810px;">
				<div class="modal-content">
					<div class="modal-header" id="dhl">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<div class="col-md-9"></div>
							<div>
								<button type="button" class="btn btn-success" data-dismiss="modal" style="vertical-align: middle; width: 150px;">保存</button>&nbsp;&nbsp;&nbsp;
							</div>
					</div>
					<div class="row modal-body">

						
						<tr>
							<td>员工编号:<input v-model="bydkyg.yuanno"  type="text"  disabled="true" style="vertical-align: middle"/></td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td>员工姓名:<input v-model="bydkyg.yuanname" type="text" style="vertical-align: middle"/></td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td>员工性别:<select v-model="bydkyg.sex" style="vertical-align: middle; width:174px; height:26px;">
										<option value="男">男</option>
										<option value="女">女</option>
									 </select>
							</td>
						</tr>

						<tr>
							<td>所在门店:<input value="成高" type="text" readonly ="readonly" disabled style="vertical-align: middle"/></td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td>选择部门:<select v-model="djhqyg.bumenid" disabled="true" style="vertical-align: middle; width:174px; height:26px; ">
										<option :value="bydkyg.bumenid">{{djhqyg.bumenname}}</option>
									</select>
							</td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td>登录账号:<input v-model="bydkyg.login" type="text" style="vertical-align: middle"/></td>
						</tr>
	
						<tr>
							<td>员工岗位:<select v-model="bydkyg.gangweid" style="vertical-align: middle; width:174px; height:26px;">
										<option v-for="item in yggw" :value="item.gangweid">{{item.gangweiname}}</option>
									</select>
							</td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td>身体状况:<input type="text" v-model="bydkyg.bodystate" style="vertical-align: middle"/></td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td>员工身高:<input type="text" v-model="bydkyg.height" style="vertical-align: middle"/></td>
						</tr>
	
						<tr>
							<td>员工籍贯:<select v-model="bydkyg.jiguan" style="vertical-align: middle; width:174px; height:26px; ">
									<option value="北京">北京</option>
									<option value="湖南">湖南</option>
									<option value="上海">上海</option>
									<option value="深圳">深圳</option>
								</select>
							</td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td>员工民族:<select v-model="bydkyg.minzu" style="vertical-align: middle; width:174px; height:26px;">
									<option value="汉">汉</option>
									<option value="满">满</option>
									<option value="蒙">蒙</option>
								</select>
							</td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td>婚姻状况:<select v-model="bydkyg.hunyin" style="vertical-align: middle; width:174px; height:26px;">
										<option value="未婚">未婚</option>
										<option value="已婚">已婚</option>
									</select>
							</td>
						</tr>
					
						<tr>
							<td>员工学历:<select v-model="bydkyg.xueli" style="vertical-align: middle; width:174px; height:26px;">
									<option value="初等教育">初等教育</option>
									<option value="中等教育">中等教育</option>
									<option value="高等教育">高等教育</option>
								</select>
							</td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td>毕业学校:<select v-model="bydkyg.biye" style="vertical-align: middle; width:174px; height:26px;">
										<option value="北京大学">北京大学</option>
										<option value="清华大学">清华大学</option>
									</select>
							</td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td>员工专业:<select v-model="bydkyg.zhuanye" style="vertical-align: middle; width:174px; height:26px;">
									<option value="计算机软件">计算机软件</option>
									<option value="网络工程">网络工程</option>
								</select></td>
						</tr>
						
						<tr>
							<td>专业资格:<select v-model="bydkyg.zhuanyezg" style="vertical-align: middle; width:174px; height:26px; ">
										<option value="初级工程师">初级工程师</option>
										<option value="中级工程师">中级工程师</option>
										<option value="高级工程师">高级工程师</option>
									</select>
							</td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td>员工属性:<select v-model="bydkyg.shuxingid" style="vertical-align: middle; width:174px; height:26px;">
									<option v-for="item in ygsx" :value="item.shuxingid">{{item.shuxingname}}</option>
									
								</select>
							</td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td>员工学位:<select v-model="bydkyg.xuewei" style="vertical-align: middle; width:174px; height:26px;">
									<option value="本科">本科</option>
									<option value="硕士">硕士</option>
									<option value="博士">博士</option>
								</select>
							</td>
						</tr>
						
						<tr>
							<td>员工编制:<select v-model="bydkyg.bianzhi" style="vertical-align: middle; width:174px; height:26px;">
									<option value="劳务派遣">劳务派遣</option>
									<option value="劳务外包">劳务外包</option>
									<option value="正式员工">正式员工</option>
								</select>
							</td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td>身份证号:<input v-model="bydkyg.idcard" type="text" style="vertical-align: middle"/></td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td>户口地址:<input v-model="bydkyg.huaddress" type="text" style="vertical-align: middle"/></td>
						</tr>
						
						<tr>
							<td>现住地址:<input v-model="bydkyg.nowaddress" type="text" style="vertical-align: middle"/></td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td>联系电话:<input v-model="bydkyg.phone" type="text" style="vertical-align: middle"/></td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td>手机号码:<input v-model="bydkyg.shouji" type="text" style="vertical-align: middle"/></td>
						</tr>
						
						<tr>
							<td>员工邮箱:<input v-model="bydkyg.email" type="text" style="vertical-align: middle"/></td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td>开户银行:<select v-model="bydkyg.bank" style="vertical-align: middle; width:174px; height:26px;">
										<option value="建设银行">建设银行</option>
										<option value="中国银行">中国银行</option>
										<option value="交通银行">交通银行</option>
									</select>
							</td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td>银行账号:<input v-model="bydkyg.cardnumber" type="text" style="vertical-align: middle"/></td>
						</tr>
						
						<tr>
							<td>推荐人员:<input v-model="bydkyg.tuijian" type="text" style="vertical-align: middle"/></td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td>减免权力:<input v-model="bydkyg.jianmian" type="text" style="vertical-align: middle"/></td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td>入职日期:<input v-model="bydkyg.bei3" type="date" style="vertical-align: middle; width:174px; height:26px;"/></td>
						</tr>
						
						<tr>
							<td>试用到期:<input v-model="bydkyg.shiyong" type="date" style="vertical-align: middle; width:174px; height:26px;"/></td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td>出生日期:<input v-model="bydkyg.birthday" type="date" style="vertical-align: middle; width:174px; height:26px;"/></td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td>合同开始:<input v-model="bydkyg.hetongstart" type="date" style="vertical-align: middle; width:174px; height:26px;"/></td>
						</tr>
						
						<tr>
							<td>合同结束:<input v-model="bydkyg.hetongend" type="date" style="vertical-align: middle; width:174px; height:26px;"/></td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td>卡自编号:<input v-model="bydkyg.kazi" type="text" style="vertical-align: middle"/></td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td>卡内编号:<input v-model="bydkyg.kanei" type="text" style="vertical-align: middle"/></td>
						</tr>
						
						<tr>
							<td>紧急联系:<input v-model="bydkyg.empeople" type="text" style="vertical-align: middle"/></td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td>紧急电话:<input v-model="bydkyg.emphone" type="text" style="vertical-align: middle"/></td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td>商品折扣:<input v-model="bydkyg.spzhekou" type="text" style="vertical-align: middle"/></td>
							<td>工时折扣:<input v-model="bydkyg.gszhekou" type="text" style="vertical-align: middle"/></td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td>整单折扣:<input v-model="bydkyg.zdzhekou" type="text" style="vertical-align: middle"/></td>
						</tr>
						
						
					</div>
				</div>
			</div>
		</div>
		
		<!--查询模态框-->
				<div class="modal fade" tabindex="-1" role="dialog" id="cxygmtk">
			<div class="modal-dialog" role="document" style="width:300px;">
				<div class="modal-content">
					<div class="modal-header" id="dhl">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<div>
								<button type="button" class="btn btn-success" data-dismiss="modal" style="vertical-align: middle; width: 150px;">保存</button>&nbsp;&nbsp;&nbsp;
							</div>
					</div>
					<div class="row modal-body">
					<table>
						<tr>
							<td>
								员工编号:<input type="text" style="vertical-align: middle"/>
							</td>
						</tr>
						<tr>
							<td>
								员工姓名:<input type="text" style="vertical-align: middle"/>
							</td>
						</tr>
						<tr>
							<td>
								员工性别:<select style="vertical-align: middle; width:174px; height:26px;">
										<option value="男">男</option>
										<option value="女">女</option>
									</select>
							</td>
						</tr>
						<tr>
							<td>
								员工岗位:<select style="vertical-align: middle; width:174px; height:26px;">
										<option value="1">展厅经理</option>
										<option value="2">销售顾问</option>
										<option value="3">DCC主管</option>
									</select>
							</td>
						</tr>
						<tr>
							<td>				
								所在部门:<select style="vertical-align: middle; width:174px; height:26px;">
											<option value="1">管理</option>
											<option value="2">财务</option>
											<option value="3">股东</option>
										</select>
							</td>
						</tr>
					</table>
					</div>
				</div>
			</div>
		</div>
		
		<!--离职模态框-->
			<div class="modal fade" tabindex="-1" role="dialog" id="lzmtk">
			<div class="modal-dialog" role="document" style="width:550px;">
				<div class="modal-content">
					<div class="modal-header" id="dhl">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<div class="col-md-7">
							<h4>离职登记</h4>
						</div>
							<div>
								<button type="button" class="btn btn-success" data-dismiss="modal" style="vertical-align: middle; width: 150px;" @click="lz">保存</button>&nbsp;&nbsp;&nbsp;
							</div>
					</div>
					<div class="row modal-body">
						
						<p>
							员工姓名:<input type="text" v-model="lzbydkyg.yuanname" style="vertical-align: middle " readonly ="readonly"/>
							<button type="button" class="btn btn-success" style="vertical-align: middle; width: 80px;" data-toggle="modal" data-target="#xzyg">选择员工</button>
							离职日期:<input type="date" v-model="lzxqxz.lizhitime" style="vertical-align: middle"/>
						</p>
						<p>
							离职原因:<input type="text" v-model="lzxqxz.remark" style="vertical-align: middle; width: 475px;"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						</p>
					</div>
					<div style=" border: 1px solid #E6E6E6; margin-top:-35px;">
						
						<table class="table table-hover table-bordered" style="overflow:scroll;">
					 
							<tr>
								<td>领用日期</td>
								<td>员工编号</td>
								<td>员工姓名</td>
							</tr>
							
							<tr>
								<td>{{lzbydkyg.bei3}}</td>
								<td>{{lzbydkyg.yuanno}}</td>
								<td>{{lzbydkyg.yuanname}}</td>
							</tr>
						
						</table>
					</div>
				</div>
			</div>
		</div>
		
		<!--选择员工-->
			<div class="modal fade" tabindex="-1" role="dialog" id="xzyg">
			<div class="modal-dialog" role="document" style="width:550px;">
				<div class="modal-content">
					<div class="modal-header" id="dhl">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<div class="col-md-7">
							<h4>选择员工</h4>
						</div>
							
					</div>
					<div class="row modal-body">
						
						<p>
							<select style="vertical-align: middle; width: 548px; height: 35px; pointer-events: none;">
										<option value="1">成高</option>
							</select>
						</p>
						<span>所有</span>
					</div>
					<div style=" border: 1px solid #E6E6E6; ">
						
						<table class="table table-hover table-bordered">
					 
							<tr>
								<td>部门名称</td>
								<td>工号</td>
								<td>姓名</td>
							</tr>
							
							<tr v-for="item in ygcx" @click="lztableDblclick(item)">
								<td>{{item.bumenname}}</td>
								<td>{{item.yuanno}}</td>
								<td>{{item.yuanname}}</td>
							</tr>
						
						</table>
					</div>
				</div>
			</div>
		</div>
		

		
		<div class="container-fluid" >
			<div class="row" style="border: 1px solid #E6E6E6;">
				<h3 class="col-md-2">离职登记</h3>
				<div class="col-md-7"></div>
				<div class="col-md-3" id="tbss">
					<input class="form-control input-sm" placeholder="匹配工号/姓名" type="text" style="margin-top: 2px;" />&nbsp;&nbsp;&nbsp;
					<button type="button" class="btn btn-warning" style="width: 150px;">搜索</button>&nbsp;&nbsp;&nbsp;
					<button type="button" class="btn btn-default">关闭</button>
				</div>
			</div>
			
			<div id="dhl">
				<div class="col-md-9"></div>
				<ol class="breadcrumb col-md-3">
				  <li><span class="iconfont" style="vertical-align: middle">&#xe614;</span><a href="#" style="vertical-align: middle" data-toggle="modal" data-target="#lzmtk">离职</a></li>
				  <li><span class="iconfont" style="vertical-align: middle">&#xe6b6;</span><a href="#" style="vertical-align: middle" @click="lzdjhg">回滚</a></li>
				  <li><span class="iconfont" style="vertical-align: middle">&#xe62c;</span><a href="#" style="vertical-align: middle" data-toggle="modal" data-target="#lzdjdk">打开</a></li>
				  <li><span class="iconfont" style="vertical-align: middle">&#xe613;</span><a href="#" style="vertical-align: middle" @click="sclzygsj">删除</a></li>
				  <li><span class="iconfont" style="vertical-align: middle">&#xe78a;</span><a href="#" style="vertical-align: middle" data-toggle="modal" data-target="#cxygmtk">查询</a></li>
				  <!--<li><span class="iconfont" style="vertical-align: middle">&#xe6a5;</span><a href="#" style="vertical-align: middle">导出</a></li>-->
				</ol>
			</div>
			
			<div class="row">
				
				<div class="row" id="tbss" style=" border: 1px solid #E6E6E6;height:780px;">
					
				<table class="table table-hover table-bordered" style="width:800px;">
					 
						<tr>
							<td>部门</td>
							<td>员工编号</td>
							<td>姓名</td>
							<td>性别</td>
							<td>职位</td>
							<td>离职日期</td>
							<td>离职原因</td>
						</tr>
						
						<tr v-for="item in cssj" @click="tableDblclick(item)">
							<td>{{item.bumenname}}</td>
							<td>{{item.yuanno}}</td>
							<td>{{item.yuanname}}</td>
							<td>{{item.sex}}</td>
							<td>{{item.zhiwuname}}</td>
							<td>{{item.lizhitime}}</td>
							<td>{{item.remark}}</td>
						</tr>
						
				</table>

			</div>
			
		</div>
	</div>	
	</div>	
<script type="text/javascript" src="js/jquery-1.12.4.js" ></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript" src="js/my.js"></script>
<script type="text/javascript">

	var vm = new Vue({
		el: "#ctx",
		data() {
			return {
				cssj:{},//获取初始数据
				bydkyg:{},//打开查询
				djhqyg:{yuanno:"",bumenid:"",bumenname:""},//获得点击的员工id
				lzdjhqyg:{yuanno:""},//获得点击的离职员工id
				yggw:{},//查询岗位
				ygsx:{},//查询员工属性
				ygcx:{},//加载初始员工详情
				lzbydkyg:{},//离职员工查询
				lzxqxz:{}//离职详情新增
			}
		},
		created(){//加载事件
      		this.loading();//获取初始数据
      		this.cxyggw();//查询岗位
      		this.cxygshux();//查询员工属性
      		this.cxygcx();//加载初始员工详情
   		},
		methods: {
			loading:function(){//获取初始数据
				$.ajax({
					url: data.ip +"ncq/querycssj",
					type: "get",
					dataType: "json",
					success: function(result) {
						console.log(result);
						vm.cssj=result;
					},
					error: function(result) {
						console.log(result);
					}	
				});
			},
			tableDblclick:function(item){//获得点击的员工id
				vm.djhqyg.yuanno=item.yuanno;
				vm.djhqyg.bumenid=item.bumenid;
				vm.djhqyg.bumenname=item.bumenname;
				console.log(vm.djhqyg.yuanno);
				console.log(vm.djhqyg.bumenid);
				console.log(vm.djhqyg.bumenname);
				$.ajax({//员工查询
					url: data.ip +"ncq/lzdjdk",
					type: "get",
					data:{yuanno:vm.djhqyg.yuanno},
					dataType: "json",
					success: function(result) {
						console.log(result);
						vm.bydkyg = result;
						
					},
					error: function(result) {
						console.log(result);
					}	
				});
			},
			cxyggw:function(){//查询员工岗位
				$.ajax({
					url: data.ip +"ncq/cxyggw",
					type: "get",
					dataType: "json",
					success: function(result) {
						console.log(result);
						vm.yggw = result;
					},
					error: function(result) {
						console.log(result);
					}	
				});
			},
			cxygshux:function(){//查询员工属性
				$.ajax({
					url: data.ip +"ncq/cxygsx",
					type: "get",
					dataType: "json",
					success: function(result) {
						console.log(result);
						vm.ygsx = result;
					},
					error: function(result) {
						console.log(result);
					}	
				});
			},
			lzdjhg:function(){//回滚员工
				$.ajax({
					url:data.ip +"ncq/lzdjhg",
					type:"post",
					data:{yuanno:vm.djhqyg.yuanno},
					dataType:"text",
					success:function(result){
						console.log(result);
						if(result>0){
							alert("回滚成功");
						}else{
							alert("回滚失败");
						}
						vm.loading();
						vm.cxygcx();
					},error:function(result){
						console.log(result);
					}
				});
			},
			cxygcx:function(){//获取初始员工详情数据
				$.ajax({
					url: data.ip +"ncq/ygcx",
					type: "get",
					dataType: "json",
					success: function(result) {
						console.log(result);
						vm.ygcx = result;
					},
					error: function(result) {
						console.log(result);
					}	
				});
			},
			lztableDblclick:function(item){//获得点击的员工id
				vm.lzdjhqyg.yuanno=item.yuanno;
				console.log(vm.lzdjhqyg.yuanno);
				$.ajax({//离职员工查询
					url: data.ip +"ncq/byupygff",
					type: "get",
					data:{yuanno:vm.lzdjhqyg.yuanno},
					dataType: "json",
					success: function(result) {
						console.log(result);
						vm.lzbydkyg = result;						
					},
					error: function(result) {
						console.log(result);
					}	
				});
			},
			lz:function(){//离职登记员工离职
				vm.lzxqxz.yuanno=vm.lzbydkyg.yuanno;
				console.log(vm.lzxqxz.yuanno);
				console.log(vm.lzxqxz.lizhitime);
				console.log(vm.lzxqxz.remark);
				$.ajax({
					url:data.ip +"ncq/insertlzxq",
					type:"post",
					contentType:"application/json;charset=utf-8",
					data:JSON.stringify(vm.lzxqxz),
					dataType:"text",
					success:function(result){
						console.log(result);
						if(result>0){
							alert("离职成功");
						}else{
							alert("离职失败");
						}
						vm.loading();
					},error:function(result){
						console.log(result);
					}
				});
			},
			sclzygsj:function(){//删除离职员工数据
					console.log(vm.djhqyg.yuanno);
					$.ajax({
					url:data.ip +"ncq/sclzygsj",
					type:"post",
					data:{yuanno:vm.djhqyg.yuanno},
					dataType:"text",
					success:function(result){
						console.log(result);
						if(result>0){
							alert("删除成功");
						}else{
							alert("删除失败");
						}
						vm.loading();
					},error:function(result){
						console.log(result);
					}
				});
			}
		}
	});

</script>	
</body>
</html>
