<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="fonts/font_4aigx4do0lb/iconfont.css" />
		<link rel="stylesheet" href="css/bootstrapStyle/bootstrapStyle.css" type="text/css">
		<style>
			
			#tbss{
				padding: 1em 2em;
				display: flex;
			}
			#dhl a{
				font-size: 15px;
			}
			
		</style>
	</head>
	<body>
		<div class="container-fluid" id="ctx">
			<div class="row" style="border: 1px solid #E6E6E6;">
				<h3 class="col-md-2">通讯名录</h3>
				<div class="col-md-7"></div>
				<div class="col-md-3" id="tbss">
					<input class="form-control input-sm" type="text" style="margin-top: 2px;" />&nbsp;&nbsp;&nbsp;
					<button type="button" class="btn btn-warning" style="width: 150px;">搜索</button>&nbsp;&nbsp;&nbsp;
					<button type="button" class="btn btn-default">关闭</button>
				</div>
			</div>
			
			<div id="dhl">
				<div class="col-md-10"></div>
				<ol class="breadcrumb col-md-2">
				  <li><span class="iconfont" style="vertical-align: middle">&#xe6b6;</span><a href="#" style="vertical-align: middle" @click="uptxml">保存</a></li>
				  <li><span class="iconfont" style="vertical-align: middle">&#xe78a;</span><a href="#" style="vertical-align: middle">查询</a></li>
				  <li><span class="iconfont" style="vertical-align: middle">&#xe6a5;</span><a href="#" style="vertical-align: middle">导出</a></li>
				</ol>
			</div>
			
			<div class="row">
				
				<div class="row" id="tbss" style=" border: 1px solid #E6E6E6;height:780px;">
					
				<table class="table table-hover table-bordered" style="width:1000px;">
					 
						<tr>
							<td>部门</td>
							<td>员工编号</td>
							<td>姓名</td>
							<td>分机/短号</td>
							<td>直播</td>
							<td>手机</td>
							<td>邮箱</td>
						</tr>
						
						<tr v-for="item in txmlxq">
							<td>{{item.bumenname}}</tsd>
							<td>{{item.yuanno}}</td>
							<td>{{item.yuanname}}</td>
							<td><input type="text" v-model="item.fenqi" value="" style="border: 0px;"/></td>
							<td><input type="text" v-model="item.phone" value="" style="border: 0px;"/></td>
							<td><input type="text" v-model="item.shouji" value="" style="border: 0px;"/></td>
							<td><input type="text" v-model="item.email" value="" style="border: 0px;"/></td>
						</tr>
						
				</table>

			</div>
			
		</div>
		
	</div>	
<script type="text/javascript" src="js/jquery-1.12.4.js" ></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript" src="js/my.js"></script>
<script type="text/javascript">
	var vm = new Vue({
		el: "#ctx",
		data() {
			return {
				txmlxq:{}//通讯名录详情
			}
		},
		created(){//加载事件
      		this.cxtxmlxq();//通讯名录详情
   		},
		methods: {
			cxtxmlxq:function(){//通讯名录详情
				$.ajax({
					url: data.ip +"ncq/cxtxmlxq",
					type: "get",
					dataType: "json",
					success: function(result) {
						console.log(result);
						vm.txmlxq = result;
					},
					error: function(result) {
						console.log(result);
					}	
				});
			},
			uptxml:function(){//通讯名录修改
				$.ajax({
					url:data.ip +"ncq/uptxml",
					type:"post",
					contentType:"application/json;charset=utf-8",
					data:JSON.stringify(vm.txmlxq),
					dataType:"text",
					success:function(result){
						console.log(result);
						if(result>0){
							alert("修改成功");
						}else{
							alert("修改失败");
						}
					},error:function(result){
						console.log(result);
					}
				});
			}
		}
	});
	
</script>
</body>
</html>
