<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="fonts/font_4aigx4do0lb/iconfont.css" />
		<link rel="stylesheet" href="css/bootstrapStyle/bootstrapStyle.css" type="text/css">
		<style>
			
			#tbss{
				padding: 1em 2em;
				display: flex;
			}
			
			.shang{
			    margin-top: 10px;
			    padding-top: 10px;
			    padding-left:15px;
		   	}
		   	
		   	.guan{
			    font-size: 35px;
			}
			
		</style>
	</head>
	<body>
		<div id="ctx" class="container-fluid row">
		<!--新增模态框-->
		<div class="modal fade" tabindex="-1" role="dialog" id="ygxzmtk">
			<div class="modal-dialog" role="document" style="width:800px;">
				<div class="modal-content">
					<div class="modal-header" style="height: 60px;" >
	           			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="guan">&times;</span></button>
	           			<h4 class="modal-title" style="margin-top:5px;">员工新增</h4>
	          			<div class="col-md-9"></div>
			           	<div >
			             	<button type="button" class="btn btn-success" data-dismiss="modal" style="margin-top: -50px;margin-left: 100px; vertical-align: middle; width: 60px;" @click="zzjgxzyg">新增</button>
			          	</div>
     				</div>
					<div class="row modal-body"  style="margin-top: -30px; ">
						<div class="shang">
							
							<p>
								<div class="input-group" style="margin-top: 20px;">
									
									<span class="input-group-addon">员工编号:</span>
									<input type="text" v-model="xzyg.yuanno" class="form-control" aria-describedby="basic-addon3" disabled="true" style="vertical-align: middle ; width:160px; height:33px;">
									
									<span class="input-group-addon">员工姓名:</span>
									<input type="text" v-model="xzyg.yuanname" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
									
									<span class="input-group-addon">员工性别:</span>
									<select v-model="xzyg.sex" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle; width:160px; height:33px;">
										<option value="男">男</option>
										<option value="女">女</option>
									</select>
									 
								</div>
							</p>
							
							<p>
								<div class="input-group" style="margin-top: 20px;">
									
									<span class="input-group-addon" >所在门店:</span>
									<input type="text" value="成高" class="form-control" aria-describedby="basic-addon3" disabled="true" style="vertical-align: middle ; width:160px; height:33px;">
									
									<span class="input-group-addon" >所在部门:</span>
									<select v-model="xzyg.bumenid"  class="form-control" aria-describedby="basic-addon3" disabled="true" style="vertical-align: middle; width:160px; height:33px;">
										<option :value="xzygbm.bumenid">{{xzygbm.bumenname}}</option>
									</select>
									
									<span class="input-group-addon" >登录账号:</span>
									<input type="text" v-model="xzyg.login" class="form-control"  aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
									 
								</div>
							</p>
							
							<p>
								<div class="input-group" style="margin-top: 20px;">
									
									<span class="input-group-addon" >员工岗位:</span>
									<select v-model="xzyg.gangweid"  class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle; width:160px; height:33px;">
										<option v-for="item in yggw" :value="item.gangweid">{{item.gangweiname}}</option>
									</select>
									
									<span class="input-group-addon" >身体状况:</span>
									<input type="text" v-model="xzyg.bodystate" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
									
									<span class="input-group-addon" >员工身高:</span>
									<input type="text" v-model="xzyg.height" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
									 
								</div>
							</p>
							
							<p>
								<div class="input-group" style="margin-top: 20px;">
									
									<span class="input-group-addon" >员工籍贯:</span>
									<select v-model="xzyg.jiguan"  class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle; width:160px; height:33px;">
										<option value="北京">北京</option>
										<option value="湖南">湖南</option>
										<option value="上海">上海</option>
										<option value="深圳">深圳</option>
									</select>
									
									<span class="input-group-addon" >员工民族:</span>
									<select v-model="xzyg.minzu"  class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle; width:160px; height:33px;">
										<option value="汉">汉</option>
										<option value="满">满</option>
										<option value="蒙">蒙</option>
									</select>
									
									<span class="input-group-addon" >婚姻状况:</span>
									<select v-model="xzyg.hunyin"  class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle; width:160px; height:33px;">
										<option value="未婚">未婚</option>
										<option value="已婚">已婚</option>
									</select>
									 
								</div>
							</p>
							
							<p>
								<div class="input-group" style="margin-top: 20px;">
									
									<span class="input-group-addon" >员工学历:</span>
									<select v-model="xzyg.xueli"  class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle; width:160px; height:33px;">
										<option value="初等教育">初等教育</option>
										<option value="中等教育">中等教育</option>
										<option value="高等教育">高等教育</option>
									</select>
									
									<span class="input-group-addon" >毕业学校:</span>
									<select v-model="xzyg.biye"  class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle; width:160px; height:33px;">
										<option value="北京大学">北京大学</option>
										<option value="清华大学">清华大学</option>
									</select>
									
									<span class="input-group-addon" >员工专业:</span>
									<select v-model="xzyg.zhuanye"  class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle; width:160px; height:33px;">
										<option value="计算机软件">计算机软件</option>
										<option value="网络工程">网络工程</option>
									</select>
									 
								</div>
							</p>
							
							<p>
								<div class="input-group" style="margin-top: 20px;">
									
									<span class="input-group-addon" >专业资格:</span>
									<select v-model="xzyg.zhuanyezg"  class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle; width:160px; height:33px;">
										<option value="初级工程师">初级工程师</option>
										<option value="中级工程师">中级工程师</option>
										<option value="高级工程师">高级工程师</option>
									</select>
									
									<span class="input-group-addon" >员工属性:</span>
									<select v-model="xzyg.shuxingid" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle; width:160px; height:33px;">
										<option v-for="item in ygsx" :value="item.shuxingid">{{item.shuxingname}}</option>
									</select>
									
									<span class="input-group-addon" >员工学位:</span>
									<select v-model="xzyg.xuewei"  class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle; width:160px; height:33px;">
										<option value="本科">本科</option>
										<option value="硕士">硕士</option>
										<option value="博士">博士</option>
									</select>
									 
								</div>
							</p>
							
							<p>
								<div class="input-group" style="margin-top: 20px;">
									
									<span class="input-group-addon" >员工编制:</span>
									<select v-model="xzyg.bianzhi"  class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle; width:160px; height:33px;">
										<option value="劳务派遣">劳务派遣</option>
										<option value="劳务外包">劳务外包</option>
										<option value="正式员工">正式员工</option>
									</select>
									
									<span class="input-group-addon" >身份证号:</span>
									<input type="text" v-model="xzyg.idcard" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
									
									<span class="input-group-addon" >户口地址:</span>
									<input type="text" v-model="xzyg.huaddress" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
									 
								</div>
							</p>
							
							<p>
								<div class="input-group" style="margin-top: 20px;">
									
									<span class="input-group-addon" >现住地址:</span>
									<input type="text" v-model="xzyg.nowaddress" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
									
									<span class="input-group-addon" >联系电话:</span>
									<input type="text" v-model="xzyg.phone" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
									
									<span class="input-group-addon" >手机号码:</span>
									<input type="text" v-model="xzyg.shouji" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
									 
								</div>
							</p>

							<p>
								<div class="input-group" style="margin-top: 20px;">
									
									<span class="input-group-addon" >员工邮箱:</span>
									<input type="text" v-model="xzyg.email" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
									
									<span class="input-group-addon" >开户银行:</span>
									<select v-model="xzyg.bank"  class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle; width:160px; height:33px;">
										<option value="建设银行">建设银行</option>
										<option value="中国银行">中国银行</option>
										<option value="交通银行">交通银行</option>
									</select>
									
									<span class="input-group-addon" >银行账号:</span>
									<input type="text" v-model="xzyg.cardnumber" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
									 
								</div>
							</p>
						
							<p>
								<div class="input-group" style="margin-top: 20px;">
									
									<span class="input-group-addon" >推荐人员:</span>
									<input type="text" v-model="xzyg.tuijian" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
									
									<span class="input-group-addon" >减免权力:</span>
									<input type="text" v-model="xzyg.jianmian" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
									
									<span class="input-group-addon" >入职日期:</span>
									<input type="date" v-model="xzyg.bei3" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
									 
								</div>
							</p>
						
							<p>
								<div class="input-group" style="margin-top: 20px;">
									
									<span class="input-group-addon" >试用到期:</span>
									<input type="date" v-model="xzyg.shiyong" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
									
									<span class="input-group-addon" >出生日期:</span>
									<input type="date" v-model="xzyg.birthday" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
									
									<span class="input-group-addon" >合同开始:</span>
									<input type="date" v-model="xzyg.hetongstart" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
									 
								</div>
							</p>
						
							<p>
								<div class="input-group" style="margin-top: 20px;">
									
									<span class="input-group-addon" >合同结束:</span>
									<input type="date" v-model="xzyg.hetongend" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
									
									<span class="input-group-addon" >卡自编号:</span>
									<input type="text" v-model="xzyg.kazi" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
									
									<span class="input-group-addon" >卡内编号:</span>
									<input type="text" v-model="xzyg.kanei" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
									 
								</div>
							</p>
							
							<p>
								<div class="input-group" style="margin-top: 20px;">
									
									<span class="input-group-addon" >紧急联系:</span>
									<input type="text" v-model="xzyg.empeople" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
									
									<span class="input-group-addon" >紧急电话:</span>
									<input type="text" v-model="xzyg.emphone" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
									
									<span class="input-group-addon" >商品折扣:</span>
									<input type="text" v-model="xzyg.spzhekou" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
									 
								</div>
							</p>
							

							<table>
								<tr>
									<td class="col-md-0">
										<div class="input-group">
														
											<span class="input-group-addon" >工时折扣:</span>
											<input type="text" v-model="xzyg.gszhekou" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
												
										</div>
									</td>	
									<td class="col-md-7">
										<div class="input-group">
												
											<span class="input-group-addon">整单折扣:</span>
											<input type="text" v-model="xzyg.zdzhekou" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
											
										</div>
									</td>
								</tr>
							</table>
							
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!--修改模态框-->
		<div class="modal fade" tabindex="-1" role="dialog" id="ygxgmtk">
			<div class="modal-dialog" role="document" style="width:800px;">
				<div class="modal-content">
					<div class="modal-header" style="height: 60px;" >
	           			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="guan">&times;</span></button>
	           			<h4 class="modal-title" style="margin-top:5px;">员工修改</h4>
	          			<div class="col-md-9"></div>
			           	<div >
			             	<button type="button" class="btn btn-success" data-dismiss="modal" style="margin-top: -50px;margin-left: 100px; vertical-align: middle; width: 60px;" @click="upyg">修改</button>
			          	</div>
     				</div>
					<div class="row modal-body"  style="margin-top: -30px; ">
						<div class="shang">
							
							<p>
								<div class="input-group" style="margin-top: 20px;">
									
									<span class="input-group-addon" >员工编号:</span>
									<input type="text" v-model="byupyg.yuanno" class="form-control" aria-describedby="basic-addon3" disabled="true" style="vertical-align: middle ; width:160px; height:33px;">
									
									<span class="input-group-addon" >员工姓名:</span>
									<input type="text" v-model="byupyg.yuanname" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
									
									<span class="input-group-addon" >员工性别:</span>
									<select v-model="byupyg.sex" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle; width:160px; height:33px;">
										<option value="男">男</option>
										<option value="女">女</option>
									</select>
									 
								</div>
							</p>
							
							<p>
								<div class="input-group" style="margin-top: 20px;">
									
									<span class="input-group-addon" >所在门店:</span>
									<input type="text" value="成高" class="form-control" aria-describedby="basic-addon3" disabled="true" style="vertical-align: middle ; width:160px; height:33px;">
									
									<span class="input-group-addon" >所在部门:</span>
									<select v-model="djyg.bumenid"  class="form-control" aria-describedby="basic-addon3" disabled="true" style="vertical-align: middle; width:160px; height:33px;">
										<option :value="byupyg.bumenid">{{djyg.bumenname}}</option>
									</select>
									
									<span class="input-group-addon" >登录账号:</span>
									<input type="text" v-model="byupyg.login" class="form-control"  aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
									 
								</div>
							</p>
							
							<p>
								<div class="input-group" style="margin-top: 20px;">
									
									<span class="input-group-addon" >员工岗位:</span>
									<select v-model="byupyg.gangweid"  class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle; width:160px; height:33px;">
										<option v-for="item in yggw" :value="item.gangweid">{{item.gangweiname}}</option>
									</select>
									
									<span class="input-group-addon" >身体状况:</span>
									<input type="text" v-model="byupyg.bodystate" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
									
									<span class="input-group-addon" >员工身高:</span>
									<input type="text" v-model="byupyg.height" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
									 
								</div>
							</p>
							
							<p>
								<div class="input-group" style="margin-top: 20px;">
									
									<span class="input-group-addon" >员工籍贯:</span>
									<select v-model="byupyg.jiguan"  class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle; width:160px; height:33px;">
										<option value="北京">北京</option>
										<option value="湖南">湖南</option>
										<option value="上海">上海</option>
										<option value="深圳">深圳</option>
									</select>
									
									<span class="input-group-addon" >员工民族:</span>
									<select v-model="byupyg.minzu"  class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle; width:160px; height:33px;">
										<option value="汉">汉</option>
										<option value="满">满</option>
										<option value="蒙">蒙</option>
									</select>
									
									<span class="input-group-addon" >婚姻状况:</span>
									<select v-model="byupyg.hunyin"  class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle; width:160px; height:33px;">
										<option value="未婚">未婚</option>
										<option value="已婚">已婚</option>
									</select>
									 
								</div>
							</p>
							
							<p>
								<div class="input-group" style="margin-top: 20px;">
									
									<span class="input-group-addon" >员工学历:</span>
									<select v-model="byupyg.xueli"  class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle; width:160px; height:33px;">
										<option value="初等教育">初等教育</option>
										<option value="中等教育">中等教育</option>
										<option value="高等教育">高等教育</option>
									</select>
									
									<span class="input-group-addon" >毕业学校:</span>
									<select v-model="byupyg.biye"  class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle; width:160px; height:33px;">
										<option value="北京大学">北京大学</option>
										<option value="清华大学">清华大学</option>
									</select>
									
									<span class="input-group-addon" >员工专业:</span>
									<select v-model="byupyg.zhuanye"  class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle; width:160px; height:33px;">
										<option value="计算机软件">计算机软件</option>
										<option value="网络工程">网络工程</option>
									</select>
									 
								</div>
							</p>
							
							<p>
								<div class="input-group" style="margin-top: 20px;">
									
									<span class="input-group-addon" >专业资格:</span>
									<select v-model="byupyg.zhuanyezg"  class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle; width:160px; height:33px;">
										<option value="初级工程师">初级工程师</option>
										<option value="中级工程师">中级工程师</option>
										<option value="高级工程师">高级工程师</option>
									</select>
									
									<span class="input-group-addon" >员工属性:</span>
									<select v-model="byupyg.shuxingid" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle; width:160px; height:33px;">
										<option v-for="item in ygsx" :value="item.shuxingid">{{item.shuxingname}}</option>
									</select>
									
									<span class="input-group-addon" >员工学位:</span>
									<select v-model="byupyg.xuewei"  class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle; width:160px; height:33px;">
										<option value="本科">本科</option>
										<option value="硕士">硕士</option>
										<option value="博士">博士</option>
									</select>
									 
								</div>
							</p>
							
							<p>
								<div class="input-group" style="margin-top: 20px;">
									
									<span class="input-group-addon" >员工编制:</span>
									<select v-model="byupyg.bianzhi"  class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle; width:160px; height:33px;">
										<option value="劳务派遣">劳务派遣</option>
										<option value="劳务外包">劳务外包</option>
										<option value="正式员工">正式员工</option>
									</select>
									
									<span class="input-group-addon" >身份证号:</span>
									<input type="text" v-model="byupyg.idcard" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
									
									<span class="input-group-addon" >户口地址:</span>
									<input type="text" v-model="byupyg.huaddress" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
									 
								</div>
							</p>
						
							<p>
								<div class="input-group" style="margin-top: 20px;">
									
									<span class="input-group-addon" >现住地址:</span>
									<input type="text" v-model="byupyg.nowaddress" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
									
									<span class="input-group-addon" >联系电话:</span>
									<input type="text" v-model="byupyg.phone" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
									
									<span class="input-group-addon" >手机号码:</span>
									<input type="text" v-model="byupyg.shouji" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
									 
								</div>
							</p>

							<p>
								<div class="input-group" style="margin-top: 20px;">
									
									<span class="input-group-addon" >员工邮箱:</span>
									<input type="text" v-model="byupyg.email" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
									
									<span class="input-group-addon" >开户银行:</span>
									<select v-model="byupyg.bank"  class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle; width:160px; height:33px;">
										<option value="建设银行">建设银行</option>
										<option value="中国银行">中国银行</option>
										<option value="交通银行">交通银行</option>
									</select>
									
									<span class="input-group-addon" >银行账号:</span>
									<input type="text" v-model="byupyg.cardnumber" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
									 
								</div>
							</p>
						
							<p>
								<div class="input-group" style="margin-top: 20px;">
									
									<span class="input-group-addon" >推荐人员:</span>
									<input type="text" v-model="byupyg.tuijian" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
									
									<span class="input-group-addon" >减免权力:</span>
									<input type="text" v-model="byupyg.jianmian" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
									
									<span class="input-group-addon" >入职日期:</span>
									<input type="date" v-model="byupyg.bei3" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
									 
								</div>
							</p>
						
							<p>
								<div class="input-group" style="margin-top: 20px;">
									
									<span class="input-group-addon" >试用到期:</span>
									<input type="date" v-model="byupyg.shiyong" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
									
									<span class="input-group-addon" >出生日期:</span>
									<input type="date" v-model="byupyg.birthday" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
									
									<span class="input-group-addon" >合同开始:</span>
									<input type="date" v-model="byupyg.hetongstart" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
									 
								</div>
							</p>
						
							<p>
								<div class="input-group" style="margin-top: 20px;">
									
									<span class="input-group-addon" >合同结束:</span>
									<input type="date" v-model="byupyg.hetongend" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
									
									<span class="input-group-addon" >卡自编号:</span>
									<input type="text" v-model="byupyg.kazi" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
									
									<span class="input-group-addon" >卡内编号:</span>
									<input type="text" v-model="byupyg.kanei" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
									 
								</div>
							</p>
							
							<p>
								<div class="input-group" style="margin-top: 20px;">
									
									<span class="input-group-addon" >紧急联系:</span>
									<input type="text" v-model="byupyg.empeople" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
									
									<span class="input-group-addon" >紧急电话:</span>
									<input type="text" v-model="byupyg.emphone" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
									
									<span class="input-group-addon" >商品折扣:</span>
									<input type="text" v-model="byupyg.spzhekou" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
									 
								</div>
							</p>
							
							<table>
								<tr>
									<td class="col-md-0">
										<div class="input-group">
														
											<span class="input-group-addon" >工时折扣:</span>
									        <input type="text" v-model="byupyg.gszhekou" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
												
										</div>
									</td>	
									<td class="col-md-7">
										<div class="input-group">
												
											<span class="input-group-addon" >整单折扣:</span>
											<input type="text" v-model="byupyg.zdzhekou" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
											
										</div>
									</td>
								</tr>
							</table>
					
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!--查询模态框-->
		<div class="modal fade" tabindex="-1" role="dialog" id="cxygmtk">
			<div class="modal-dialog" role="document" style="width:300px;">
				<div class="modal-content">
					<div class="modal-header" style="height: 60px;">
	           			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="guan">&times;</span></button>
	           			<h4 class="modal-title" style="margin-top:5px;">查询员工</h4>
			           	<div >
			             	<button type="button" class="btn btn-success" data-dismiss="modal" style="margin-top: -50px;margin-left: 180px; vertical-align: middle; width: 60px;" >查询</button>
			          	</div>
     				</div>
					<div class="row modal-body"  style="margin-top: -30px; ">
						<div class="shang">
							
							<p>
								<div class="input-group" style="margin-top: 20px;">
									
									<span class="input-group-addon" >员工编号:</span>
									<input type="text" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
									
								</div>
							</p>
							
							<p>
								<div class="input-group" style="margin-top: 20px;">
									
									<span class="input-group-addon" >员工姓名:</span>
									<input type="text" class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
									
								</div>
							</p>
							
							<p>
								<div class="input-group" style="margin-top: 20px;">
									
									<span class="input-group-addon" >员工性别:</span>
									<select class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle; width:160px; height:33px;">
										<option value="男">男</option>
										<option value="女">女</option>
									</select>
									
								</div>
							</p>
							
							<p>
								<div class="input-group" style="margin-top: 20px;">
									
									<span class="input-group-addon" >员工岗位:</span>
									<select class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle; width:160px; height:33px;">
										<option v-for="item in yggw" :value="item.gangweid">{{item.gangweiname}}</option>
									</select>
									
								</div>
							</p>
							
							<p>
								<div class="input-group" style="margin-top: 20px;">
									
									<span class="input-group-addon" >所在部门:</span>
									<select class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle; width:160px; height:33px;">
										<option value="1">不要忘记先查询记得查询部门的语句不要查询=0的父节点</option>
									</select>
									
								</div>
							</p>
					
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!--员工角色模态框-->
		<div class="modal fade" tabindex="-1" role="dialog" id="ygjsmtk">
			<div class="modal-dialog" role="document" style="width:400px;">
				<div class="modal-content">
					<div class="modal-header" style="height: 60px;">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="guan">&times;</span></button>
						<h4 class="modal-title" style="margin-top:5px;">赋予角色</h4>
						<div>
							<button type="button" class="btn btn-success" data-dismiss="modal" style="margin-top: -50px;margin-left: 280px; vertical-align: middle; width: 60px;" @click="fuyjs" >赋予</button>
						</div>
					</div>
					<div>
						<table class="table table-hover table-bordered">
							<tr>
								<td>角色名称</td>
							</tr>
							<tr v-for="item in cxjs" @click="djhqjs(item)">
								<td>{{item.zhiwuname}}</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
		
	<!--新增部门-->
	<div class="modal fade" tabindex="-1" role="dialog" id="xzbm">
		<div class="modal-dialog" role="document" style="width:300px;">
			<div class="modal-content">
				<div class="modal-header" style="height: 60px;">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="guan">&times;</span></button>
					<h4 class="modal-title" style="margin-top:5px;">新增部门</h4>
					<div>
						<button type="button" class="btn btn-success" data-dismiss="modal" style="margin-top: -50px;margin-left: 180px; vertical-align: middle; width: 60px;" @click="xzbmdw">新增</button>
					</div>
				</div>
					<div class="row modal-body"  style="margin-top: -30px; ">
						<div class="shang">
							
							<p>
								<div class="input-group" style="margin-top: 20px;">
									
									<span class="input-group-addon" >部门编号:</span>
									<input type="text" value="无需设置"  class="form-control" aria-describedby="basic-addon3" disabled="true" style="vertical-align: middle ; width:160px; height:33px;">
									
								</div>
							</p>
							
							<p>
								<div class="input-group" style="margin-top: 20px;">
									
									<span class="input-group-addon" >部门名称:</span>
									<input type="text" v-model="xzbm.bumenname"  class="form-control" aria-describedby="basic-addon3" style="vertical-align: middle ; width:160px; height:33px;">
									
								</div>
							</p>
							
							<p>
								<div class="input-group" style="margin-top: 20px;">
									
									<span class="input-group-addon" >部门权重:</span>
									<select v-model="xzbm.parentid" class="form-control" aria-describedby="basic-addon3" disabled="true" style="vertical-align: middle; width:160px; height:33px;">
										<option :value="hqbmfl.bumenid">{{hqbmfl.bumenname}}</option>
									</select>
									
								</div>
							</p>
					</div>
				</div>
			</div>
		</div>
	</div>
		
		

		
		<div id="ctx">
			
			<div class="row" style="border: 1px solid #E6E6E6;">
				<h3 class="col-md-2">组织结构定义</h3>
				<div class="col-md-7"></div>
				<div class="col-md-3" id="tbss">
					<input class="form-control input-sm" placeholder="匹配工号/姓名/手机" type="text" style="margin-top: 2px;"/>&nbsp;&nbsp;&nbsp;
					<button type="button" class="btn btn-warning" style="width: 150px;">搜索</button>&nbsp;&nbsp;&nbsp;
					<button type="button" class="btn btn-default">关闭</button>
				</div>
			</div>
			
			<div>
				<ol class="breadcrumb">
				  <li v-perms="'addzuzhi'"><span class="iconfont" style="vertical-align: middle">&#xe62c;</span><a href="#" style="vertical-align: middle" data-toggle="modal" data-target="#ygxzmtk" >增加员工</a></li>
				  <li v-perms="'updatezuzhi'"><span class="iconfont" style="vertical-align: middle">&#xe612;</span><a href="#" style="vertical-align: middle" data-toggle="modal" data-target="#ygxgmtk" >修改员工</a></li>
				  <li v-perms="'deletezuzhi'"><span class="iconfont" style="vertical-align: middle">&#xe614;</span><a href="#" style="vertical-align: middle" @click="xglzzt" >删除员工</a></li><!-- 这里实际上是调用的离职方法 -->
				  <li v-perms="'findzuzhi'"><span class="iconfont" style="vertical-align: middle">&#xe78a;</span><a href="#" style="vertical-align: middle" data-toggle="modal" data-target="#cxygmtk" >查询员工</a></li>
				  <li><span class="iconfont" style="vertical-align: middle">&#xe648;</span><a href="#" style="vertical-align: middle" @click="zkmm">置空密码</a></li>
				  <!--<li><span class="iconfont" style="vertical-align: middle">&#xe6a5;</span><a href="#" style="vertical-align: middle">导出</a></li>-->
				  <!--<li><span class="iconfont" style="vertical-align: middle">&#xe6b6;</span><a href="#" style="vertical-align: middle">导入</a></li>-->
				  <li v-perms="'fuyuyuangong'"><span class="iconfont" style="vertical-align: middle">&#xe68e;</span><a href="#" style="vertical-align: middle" data-toggle="modal" data-target="#ygjsmtk"  >员工角色</a></li>
				  <li v-perms="'addbum'"><span class="iconfont" style="vertical-align: middle">&#xe613;</span><a href="#" style="vertical-align: middle" data-toggle="modal" data-target="#xzbm" >新增部门</a></li>
				</ol>
			</div>
			
			<div class="row">
				
				<div class="col-md-2" style="border: 1px solid #E6E6E6; height:500px; overflow:scroll;">
					<ul id="treeDemo" class="ztree"></ul>
				</div>
				
				<div class="col-md-10" style="height:500px; overflow:scroll;">
					
					<table class="table table-hover table-bordered" style="width: 3500px;" v-if="$perms('findzuzhi')">
						
						<tr>
							
							<td>机构</td>
							<td>部门代码</td>
							<td>部门名称</td>
							<td>工号</td>
							<td>姓名</td>
							<td>性别</td>
							<td>岗位名称</td>
							<td>身体状况</td>
							<td>身高</td>
							<td>籍贯</td>
							<td>民族</td>
							<td>婚姻状况</td>
							<td>学历</td>
							<td>毕业学校</td>
							<td>专业</td>
							<td>专业资格</td>
							<td>学位</td>
							<td>编制</td>
							<td>身份证号</td>
							<td>户口地址</td>
							<td>户口邮编</td>
							<td>现住地址</td>
							<td>现住邮编</td>
							<td>联系电话</td>
							<td>手机</td>
							<td>EMail</td>
							<td>紧急情况联系人</td>
							<td>紧急联系人电话</td>
							<td>现在何处</td>
							<td>试用到期</td>
							<td>入职日期</td>
							<td>出生日期</td>
							<td>合同开始日期</td>
							<td>合同结束日期</td>
							
						</tr>
						
						<tr v-for="item in ygcx" @click="tableDblclick(item)">
							
							<td>成高</td>
							<td>{{item.bumenid}}</td>
							<td>{{item.bumenname}}</td>
							<td>{{item.yuanno}}</td>
							<td>{{item.yuanname}}</td>
							<td>{{item.sex}}</td>
							<td>{{item.gangweiname}}</td>
							<td>{{item.bodystate}}</td>
							<td>{{item.height}}</td>
							<td>{{item.jiguan}}</td>
							<td>{{item.minzu}}</td>
							<td>{{item.hunyin}}</td>
							<td>{{item.xueli}}</td>
							<td>{{item.biye}}</td>
							<td>{{item.zhuanye}}</td>
							<td>{{item.zhuanyezg}}</td>
							<td>{{item.xuewei}}</td>
							<td>{{item.bianzhi}}</td>
							<td>{{item.idcard}}</td>
							<td>{{item.huaddress}}</td>
							<td>{{item.bei1}}</td>
							<td>{{item.nowaddress}}</td>
							<td>{{item.bei2}}</td>
							<td>{{item.phone}}</td>
							<td>{{item.shouji}}</td>
							<td>{{item.email}}</td>
							<td>{{item.empeople}}</td>
							<td>{{item.emphone}}</td>
							<td>{{item.nowaddress}}</td>
							<td>{{item.shiyong}}</td>
							<td>{{item.bei3}}</td>
							<td>{{item.birthday}}</td>
							<td>{{item.hetongstart}}</td>
							<td>{{item.hetongend}}</td>
						</tr>
						
					</table>
					<div v-else class="alert alert-danger" role="alert">权限不足</div>
					
				</div>
				
			</div>
			
		</div>
		
	</div>
		
<script type="text/javascript" src="js/jquery-1.12.4.js" ></script>
<script type="text/javascript" src="js/jquery.min.js"></script>

<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript" src="js/my.js"></script>
<script type="text/javascript" src="js/perms.js" ></script>

<script type="text/javascript" src="js/jquery.ztree.core.js"></script>
<script type="text/javascript">
	
	var vm = new Vue({
		el: "#ctx",
		data() {
			return {
				ygcx:{},//加载初始员工详情
				xzygbm:{},//点击树状图获取部门
				djyg:{yuanno:"",bumenid:"",bumenname:""},//获得点击的员工id
				yggw:{},//查询岗位
				ygsx:{},//查询员工属性
				xzyg:{},//新增员工
				byupyg:{},//修改员工/查询
				cxjs:{},//查询角色
				jsid:{},//获取角色id
				xzbm:{},//新增班组
				hqbmfl:{}//获取班组根目录
			}
		},
		created(){//加载事件
      		this.loading();//加载初始树状图
      		this.cxygcx();//加载初始员工详情
      		this.cxyggw();//查询岗位
      		this.randomWord();//获取员工编号
      		this.cxygshux();//查询员工属性
      		this.zzjgcxjs();//查询角色
   		},
		methods: {
			loading:function(){//获取初始树状图数据
				$.ajax({
					url: data.ip +"ncq/querybm",
					type: "get",
					dataType: "json",
					success: function(result) {
						console.log(result);
						$.fn.zTree.init($("#treeDemo"), setting, result);//初始化树节点时，添加同步获取的数据
						$.fn.zTree.init($("#treeDemo"), setting, result).expandAll(true);//树状图加载好默认打开所有节点
					},
					error: function(result) {
						console.log(result);
					}	
				});
			},
			cxygcx:function(){//获取初始员工详情数据
				$.ajax({
					url: data.ip +"ncq/ygcx",
					type: "get",
					dataType: "json",
					success: function(result) {
						console.log(result);
						vm.ygcx = result;
					},
					error: function(result) {
						console.log(result);
					}	
				});
			},
			tableDblclick:function(item){//获得点击的员工id
				vm.djyg.yuanno=item.yuanno;
				vm.djyg.bumenname=item.bumenname;
				vm.djyg.bumenid=item.bumenid;
				console.log(vm.djyg.yuanno);
				console.log(vm.djyg.bumenid);
				console.log(vm.djyg.bumenname);
				$.ajax({//修改员工查询
					url: data.ip +"ncq/byupygff",
					type: "get",
					data:{yuanno:vm.djyg.yuanno},
					dataType: "json",
					success: function(result) {
						console.log(result);
						vm.byupyg = result;
					},
					error: function(result) {
						console.log(result);
					}	
				});
			},
			zkmm:function(){//置空密码
				console.log(vm.djyg.yuanno);
				$.ajax({
					url:data.ip +"ncq/zkmm",
					type:"post",
					data:{yuanno:vm.djyg.yuanno},
					dataType:"text",
					success:function(result){
						console.log(result);
						if(result>0){
							alert("置空成功");
						}else{
							alert("置空失败");
						}
						vm.cxygcx();
					},error:function(result){
						console.log(result);
					}
				});
			},
			cxyggw:function(){//查询员工岗位
				$.ajax({
					url: data.ip +"ncq/cxyggw",
					type: "get",
					dataType: "json",
					success: function(result) {
						console.log(result);
						vm.yggw = result;
					},
					error: function(result) {
						console.log(result);
					}	
				});
			},
			randomWord:function(){//组织机构生成员工编号
				$.ajax({
					url: data.ip +"ncq/sjygbh",
					type: "get",
					dataType: "text",
					success: function(result) {
						console.log(result);
						vm.xzyg.yuanno= result;
					},
					error: function(result) {
						console.log(result);
					}	
				});
			},
			cxygshux:function(){//查询员工属性
				$.ajax({
					url: data.ip +"ncq/cxygsx",
					type: "get",
					dataType: "json",
					success: function(result) {
						console.log(result);
						vm.ygsx = result;
					},
					error: function(result) {
						console.log(result);
					}	
				});
			},
			zzjgxzyg:function(){//新增员工
				vm.xzyg.sflz=0;
				console.log(vm.xzyg);
				$.ajax({
					url:data.ip +"ncq/zzjgxzyg",
					type:"post",
					data:vm.xzyg,
					dataType:"json",
					success:function(result){
						console.log(result);
						if(result>0){
							alert("新增成功");
						}else{
							alert("新增失败");
						}
						vm.cxygcx();
					},error:function(result){
						console.log(result);
					}
				});
			},
			upyg:function(){
				$.ajax({//修改员工
					url:data.ip +"ncq/upygxq",
					type:"post",
					data:vm.byupyg,
					dataType:"text",
					success:function(result){
						console.log(result);
						if(result>0){
							alert("修改成功");
						}else{
							alert("修改失败");
						}
						vm.cxygcx();
					},error:function(result){
						console.log(result);
					}
				});
			},
			zzjgcxjs:function(){//查询角色
				$.ajax({
					url: data.ip +"ncq/zzjgcxjs",
					type: "get",
					dataType: "json",
					success: function(result) {
						console.log(result);
						vm.cxjs = result;
					},
					error: function(result) {
						console.log(result);
					}	
				});
			},
			djhqjs:function(item){//点击获取角色id
				vm.jsid.zhiwuid=item.zhiwuid;
				console.log(vm.jsid.zhiwuid);
			},
			fuyjs:function(){
				$.ajax({//赋予员工角色
					url:data.ip +"ncq/fujs",
					type:"post",
					data:{zhiwuid:vm.jsid.zhiwuid,yuanno:vm.djyg.yuanno},
					dataType:"text",
					success:function(result){
						console.log(result);
						if(result>0){
							alert("赋予成功");
						}else{
							alert("赋予失败");
						}
						vm.cxygcx();
					},error:function(result){
						console.log(result);
					}
				});
			},
			xglzzt:function(){//删除员工
				$.ajax({
					url:data.ip +"ncq/xglzzt",
					type:"post",
					data:{yuanno:vm.djyg.yuanno},
					dataType:"text",
					success:function(result){
						console.log(result);
						if(result>0){
							alert("删除成功");
						}else{
							alert("删除失败");
						}
						vm.cxygcx();
					},error:function(result){
						console.log(result);
					}
				});
			},
			xzbmdw:function(){//新增部门
				$.ajax({
					url: data.ip +"ncq/xzbm",
					type: "post",
					data:{bumenname:vm.xzbm.bumenname,parentid:vm.xzbm.parentid},
					dataType: "json",
					success:function(result) {
						console.log(result);
						if(result>0){
							alert("新增成功");
						}else{
							alert("新增失败");
						}
						vm.loading();
					},
					error: function(result) {
						console.log(result);
					}	
				});
			}
		}
	});
	
	
	//树状图
	var setting = {
		view: {
        	selectedMulti: true,
        	showIcon:false
    	},
		check: {
			enable: false
		},
		data: {
			key: {
                    name: "bumenname",//树节点name名称
                },
			simpleData: {
				enable: true,//是否采用简单数据模式
            	idKey: "bumenid",//树节点ID名称
            	pIdKey: "parentid",//父节点ID名称
            	rootPId: 0,//根节点ID
			}
		},
		 callback:{
			onClick:chooseNode,
		}
	};
	
	//点击树状图获取部门
	function chooseNode(event,treeId,treeNode){
		if (treeNode.parentid=="0") {
			vm.hqbmfl=treeNode;
			vm.xzbm.parentid=vm.hqbmfl.bumenid;
			console.log(vm.hqbmfl);
			console.log(vm.xzbm.parentid);
			vm.cxygcx();
			return;
		}
		vm.xzygbm=treeNode;
		vm.xzyg.bumenid=vm.xzygbm.bumenid;
		vm.randomWord();
		
		console.log(vm.xzygbm);
		$.ajax({//点击树状图获取部门在根据部门id查询员工详情
			url: data.ip +"ncq/gjbmcxyg",
			type: "get",
			data:{bumenid:vm.xzygbm.bumenid},
			dataType: "json",
			success: function(result) {
				console.log(result);
				vm.ygcx = result;
			},
			error: function(result) {
				console.log(result);
			}	
		});
	}
	
	
</script>
</body>
</html>
