<!DOCTYPE html>
<html style="height: 100%; border: 1px solid #333333;">
	<head>
		<meta charset="UTF-8">
		<title>发动机品牌</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
	</head>
	<body style="height: 100%; background-color:#F7F7F7">
		<div>
			<!--
            	作者：offline
            	时间：2019-12-31
            	描述：头部
            -->
			<header>
				<div class="row nav-tabs bg-success" style="margin-right:0px; margin-left:0px;">
					<div class="col-md-11">
						<h3 class="text-nowrap" style="margin-top: 10px; margin-left: 6px;">发动机品牌</h3>
					</div>
					<div class="col-md-1">
						<a class="btn btn-default" href="#" style="margin-top: 5px; background-color: #999999; color: #FFFFFF;">关闭</a>
					</div>
				</div>
			</header>
			<!--
            	作者：offline
            	时间：2019-12-31
            	描述：独立区域中间
            -->
			<section style="">
				<div class="" id="ctx">
					<div class="row nav-tabs bg-success" style="margin-right:0px; margin-left:0px;">
						<div class="col-lg-9">
							<div class="input-group" style="margin-top: 5%;">
								<span class="input-group-btn">
								    	<button class="btn btn-default" type="button">分类名称</button>
								</span>
								      <input type="text" v-model="inse.faname" class="form-control" placeholder="Search for" style="width: 40%;">
									  <input type="text" v-model="inse.fabankid" class="form-control" placeholder="编" style="width: 8%;">
								<span class="input-group-btn">
								    <button class="btn btn-default" type="button">分类柴油</button>
								</span>
								    <input type="text" v-model="inse.fanumber" class="form-control" placeholder="Search for" style="width: 40%;">
							</div>
						</div>
						<div class="col-md-3">
							<div class="container-fluid">
							    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="background-color:beige">
							      <ul class="nav navbar-nav navbar-right" id="wxxm_tu_1">
							        <li><a href="#"><span class="glyphicon glyphicon-tasks" aria-hidden="true"data-toggle="modal" @click="engInsert1">增加</a></span></li>
							        <li><a href="#"><span class="glyphicon glyphicon-edit" aria-hidden="true"data-toggle="modal" data-target="#myModal2">修改</a></span></li>
							        <li><a href="#" @click="engDelecte1"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true">删除</a></span></li>
							        <li><a href="#" @click="engUpdate1"><span class="glyphicon glyphicon-folder-open " aria-hidden="true">保存</a></span></li>
							      </ul>
							    </div>
							</div>
						</div>
					</div>
					<div id="" class="row nav-tabs bg-success" style="background-color: #F7F7F7; border: none; margin-left: 0px; margin-right: 0px;">
						<div class="col-md-4" style="overflow-y: scroll; height: 300px;">
							<table class="table table-bordered" style="overflow-y: scroll;">
								<tr style="background-color: #31B0D5;">
									<th>&nbsp;</th>
									<th>ID</th>
									<th>发动机品牌名称</th>
									<th>发动机柴油品牌</th>
								</tr>
								<tr v-for="item in page" @click="byid(item)">
									<td>&nbsp;</td>
									<td>{{item.fabankid}}</td>
									<td>{{item.faname}}</td>
									<td>{{item.fanumber}}</td>
								</tr>
							</table>
						</div>
						<div class="col-md-8">
							
						</div>
					</div>
				</div>
				
			</section>
			<!--
            	作者：offline
            	时间：2019-12-31
            	描述：导航
            -->
			<nav>
				
				
				
			</nav>
			<!--
            	作者：offline
            	时间：2019-12-31
            	描述：底部
            -->
            <foote>
            	
            </foote>
            <!--
            	作者：offline
            	时间：2019-12-31
            	描述：相关内容
            -->
            <aside>
            	
            </aside>
            <!--
            	作者：offline
            	时间：2019-12-31
            	描述：独立文章
            -->
            <article>
            	
            </article>
		</div>
		<script type="text/javascript" src="js/jquery-3.4.1.min .js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/vue.js"></script>
		<script type="text/javascript" src="js/my.js"></script>
		<script type="text/javascript">
			var vm=new Vue({
				el:"#ctx",
				data(){
					return{
						page:[],
						jihe:{},
						inse:{},
						xgdx:{}
					};
				},
				created:function(){
					engine_brandSelect();
				},
				methods:{
					byid:function(item){
						vm.jihe=item;
						$.ajax({
							url:"http://localhost:8080/student_Engine1/enginSe2",
							dataType:"json",
							data:{
								fabankid:vm.jihe.fabankid
							},
							type:"post",
							success:function(result){
								console.log(result);
								vm.inse=result;
							}
						});
					},
					
					engDelecte1:function(){
						if(confirm("你确定要删除"+vm.jihe.fabankid+"么?"))
						$.ajax({
							data:{
								fabankid:vm.jihe.fabankid
							},
							type:"post",
							url:"http://localhost:8080/student_Engine1/enginDe1",
							success:function(result){
								if(result>0){
									alert("恭喜！删除成功");
									engine_brandSelect();
								}else{
									alert("主人！出问题了")
								}
							},error:function(resulr){
								console.log(result);
							}
						});
					},
					engInsert1:function(){
						inse=JSON.stringify(vm.inse);
						$.ajax({
							url:"http://localhost:8080/student_Engine1/enginIn1",
							contentType:"application/json;charset=utf-8",
							dataType:"json",
							data:inse,
							type:"post",
							success:function(result){
								if(result>0){
									alert("恭喜！成功");
									engine_brandSelect();
								}else{
									alert("主人！出问题了")
								}
							}
						});
					},
					engUpdate1:function(){
						inse=JSON.stringify(vm.inse);
						$.ajax({
							url:"http://localhost:8080/student_Engine1/enginUp1",
							contentType:"application/json;charset=utf-8",
							dataType:"json",
							data:inse,
							type:"put",
							success:function(result){
								if (result>0) {
									alert("恭喜")
									engine_brandSelect();
								} else{
									alert("再来")
								}
							}
						});
					}
				}
			});
			
			function engine_brandSelect(){
						$.ajax({
							url:"http://localhost:8080/student_Engine1/enginSe1",
							dataType:"json",
							type:"get",
							success:function(result){
								vm.page=result;
							}
						});
					}
		</script>
	</body>
</html>
