<!DOCTYPE html>
<html style="height: 100%; width: 100%; border: 3px solid #41444A;">
	<head>
		<meta charset="UTF-8">
		<title>维修项目</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/bootstrapStyle/bootstrapStyle.css"/>
	</head>
	<style type="text/css">
		#wxxm_tu_1 li span{
			border: 1px solid #255625;
			border: none;
		}
		body{
			overflow-y: hidden;
		}
		#insert_zjia_gs_1 div{
			margin-top: 3%;
			margin-left: 6%;
		}
	</style>
	<body style="height: 100%; width: 100%;">
		<div class="" style="width: 100%;">
			<!--
            	作者：offline
            	时间：2019-12-31
            	描述：头部
            -->
			<header>
				<div class="row nav-tabs bg-success" style="margin-right:0px; margin-left:0px;">
					<div class="col-md-9" style="border:none;min-height: 70px;">
						<h3 class="text-nowrap text-justify" style="margin-left: 3%;">维修项目</h3>
					</div>
					<div class="col-md-3">
						<div class="input-group" style="margin-top: 5%;">
					      <input type="text" class="form-control" placeholder="匹配编码/名称/名称编码" style="width: 100%;">
					      <span class="input-group-btn">
					        <button class="btn btn-default" type="button">搜索</button>
					      </span>
					      <span class="input-group-btn">
					        <button class="btn btn-default" type="button">关闭</button>
					      </span>
					    </div>
					</div>
				</div>
			</header>
			<!--
            	作者：offline
            	时间：2019-12-31
            	描述：独立区域中间
           -->
				<div style="width: 100%;>	
					<div>
					  <div class="container-fluid">
					    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="background-color:beige">
					      <ul class="nav navbar-nav navbar-right" id="wxxm_tu_1">
					        <li><a href="#"><span class="glyphicon glyphicon-tasks" aria-hidden="true"data-toggle="modal" data-target="#myModal1">增加</a></span></li>
					        <li><a href="#"><span class="glyphicon glyphicon-edit" aria-hidden="true"data-toggle="modal" data-target="#myModal2">修改</a></span></li>
					        <li><a href="#" @click="sc1"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true">删除</a></span></li>
					        <li><a href="#"><span class="glyphicon glyphicon-folder-open " aria-hidden="true">保存</a></span></li>
					        <li><a href="#"><span class="glyphicon glyphicon-level-up" aria-hidden="true">导出</a></span></li>
					      </ul>
					    </div>
					  </div>
					</div>	
					<!--
                    	作者：offline
                    	时间：2020-01-03
                    	描述：模态框
                    -->
                    	<!--增加-->
                    <div id="dierge">	
                    	<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						  <div class="modal-dialog" role="document">
						    <div class="modal-content" style="width: 600px;">
						      <div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						        <h4 class="modal-title" id="myModalLabel">服务项目定义</h4>
						      </div>
						      <div class="modal-body">
						        <form class="forms-inline" id="insert_zjia_gs_1">
						        	<table>
						        		<tr>
						        			<th>
						        				<div class="form-group">
												    <label for="exampleInputName2"  style="color: #AC2925;">项目编码</label>
												    <input type="text" v-model="dataa.xiangmuno" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
												</div>
						        			</th>
						        			<th>
						        				<div class="form-group">
												    <label for="exampleInputEmail2">项目名称</label>
												    <input type="email" v-model="dataa.xiangmuname" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
												</div>
						        			</th>
						        			<th>
						        				<div class="form-group">
												    <label for="exampleInputName2">收入种类</label>
												    <input type="text" v-model="dataa.shouruid" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
												</div>
						        			</th>
						        		</tr>
						        		<tr>
						        			<th>
						        				<div class="form-group">
												    <label for="exampleInputEmail2">项目类别</label>
												    <select name="" class="form-control" v-model="dataa.bei1">
												    	<option value="1">大车</option>
												    	<option value="2">大啊</option>
												    	<option value="3">车型</option>
												    	<option value="4">车</option>
												    </select>
												</div>
						        			</th>
						        			<th>
						        				<div class="form-group">
												    <label for="exampleInputEmail2">标准价</label>
												    <input type="email" v-model="dataa.price" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
												</div>
						        			</th>
						        			<th>
						        				<div class="form-group">
												    <label for="exampleInputName2">会员价</label>
												    <input type="text" v-model="dataa.huiprice" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
												</div>
						        			</th>
						        		</tr>
						        		<tr>
						        			<th>
						        				<div class="form-group">
												    <label for="exampleInputEmail2">VIP价</label>
												    <input type="email" v-model="dataa.vipprice" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
												</div>
						        			</th>
						        			<th>
						        				<div class="form-group">
												    <label for="exampleInputName2">协议价</label>
												    <input type="text" v-model="dataa.xieprice" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
												</div>
						        			</th>
						        			<th>
						        				<div class="form-group">
												    <label for="exampleInputName2">售价按</label>
												    <input type="text" v-model="dataa.shoujiaan" class="form-control" id="exampleInputName2" placeholder="数字价格">
												</div>
						        			</th>
						        		</tr>
						        	</table>
								</form>
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						        <button type="button" class="btn btn-default" @click="inse_baoc1">保存</button>
						      </div>
						    </div>
						  </div>
						</div>
						
						<!--修改-->
						<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						  <div class="modal-dialog" role="document">
						    <div class="modal-content" style="width: 600px;">
						      <div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						        <h4 class="modal-title" id="myModalLabel">服务项目定义</h4>
						      </div>
						      <div class="modal-body">
						        <form class="forms-inline" id="insert_zjia_gs_1">
						        	<table>
						        		<tr>
						        			<th>
						        				<div class="form-group">
												    <label for="exampleInputName2">项目编码</label>
												    <input type="text" v-model="dataa1.xiangmuno" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
												</div>
						        			</th>
						        			<th>
						        				<div class="form-group">
												    <label for="exampleInputEmail2">项目名称</label>
												    <input type="email" v-model="dataa1.xiangmuname" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
												</div>
						        			</th>
						        			<th>
						        				<div class="form-group">
												    <label for="exampleInputName2">收入种类</label>
												    <input type="text" v-model="dataa1.shourutype" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
												</div>
						        			</th>
						        		</tr>
						        		<tr>
						        			<th>
						        				<div class="form-group">
												    <label for="exampleInputEmail2">项目类别</label>
												    <select name="" class="form-control" v-model="dataa1.bei1">
												    	<option value="1">大车</option>
												    	<option value="2">大啊</option>
												    	<option value="3">车型</option>
												    	<option value="4">车</option>
												    </select>
												</div>
						        			</th>
						        			<th>
						        				<div class="form-group">
												    <label for="exampleInputEmail2">标准价</label>
												    <input type="email" v-model="dataa1.price" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
												</div>
						        			</th>
						        			<th>
						        				<div class="form-group">
												    <label for="exampleInputName2">会员价</label>
												    <input type="text" v-model="dataa1.huiprice" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
												</div>
						        			</th>
						        		</tr>
						        		<tr>
						        			<th>
						        				<div class="form-group">
												    <label for="exampleInputEmail2">VIP价</label>
												    <input type="email" v-model="dataa1.vipprice" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
												</div>
						        			</th>
						        			<th>
						        				<div class="form-group">
												    <label for="exampleInputName2">协议价</label>
												    <input type="text" v-model="dataa1.xieprice" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
												</div>
						        			</th>
						        			<th>
						        				<div class="form-group">
												    <label for="exampleInputName2">售价按</label>
												    <input type="text" v-model="dataa1.shoujiaan" class="form-control" id="exampleInputName2" placeholder="数字价格">
												</div>
						        			</th>
						        	</table>
								</form>
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						        <button type="button" class="btn btn-default" @click="xgbaoc1">保存</button>
						      </div>
						    </div>
						  </div>
						</div>
						
				</div>
				<div class="row" style=" height: 100%; width: 101%; border: 1px solid #269ABC;">
					<div class="col-md-2" style="border: 1px solid #255625; height: 100%;">
						<ul id="treeDemo" class="ztree" name="zhi"></ul>
					</div>
					<div class="col-md-10" id="ctx" style="border: none; overflow-y: scroll; height: 80%;">
						<table class="table table-bordered">
							<tr style="background-color: #31B0D5;">
								<th style="width: 4%;">&nbsp;</th>
								<th>项目类别</th>
								<th>项目编码</th>
								<th>项目名称</th>
								<th>售价按</th>
								<th>收入种类</th>
								<th>标准价</th>
								<th>会员价</th>
								<th>VIP价</th>
								<th>协议价</th>
							</tr>
							<tr v-for="item in page1" @click="byid(item)">
								<th>&nbsp;</th>
								<th>{{item.pname}}</th>
								<th>{{item.xiangmuno}}</th>
								<th>{{item.xiangmuname}}</th>
								<th>{{item.shoujiaan}}</th>
								<th>{{item.shourutype}}</th>
								<th>{{item.price}}</th>
								<th>{{item.huiprice}}</th>
								<th>{{item.vipprice}}</th>
								<th>{{item.xieprice}}</th>
							</tr>
						</table>
					</div>
				</div>
		</div>
		<script type="text/javascript" src="js/jquery-1.12.4.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/jquery.ztree.core.js"></script>
		<script type="text/javascript" src="js/jquery.ztree.core.js"></script>
		<script type="text/javascript" src="js/jquery.ztree.excheck.js"></script>
		<script type="text/javascript" src="js/jquery.ztree.exedit.js"></script>
		<script type="text/javascript" src="js/vue.js"></script>
		<script type="text/javascript" src="js/my.js"></script>
		<script type="text/javascript">
			var vm2=new Vue({
				el:"#bs-example-navbar-collapse-1",
				data(){
					return{
						sc:{}
					}
				},
				methods:{
					sc1:function(){
						alert("删除"+vm2.sc.xiangmuno);
						$.ajax({
							type:"post",
							url:"http://localhost:8080/maintenance6",
							data:{xiangmuno:vm2.sc.xiangmuno},
							success:function(result){
								queryTree();
								if(result>0){
									alert("恭喜！成功");
								}else{
									alert("主人！出问题了")
								}
							}
						});
					}
				}
			});
			var vm1=new Vue({
				el:"#dierge",
				data(){
					return{
						dataa:{},
						dataa1:{}
					}
				},
				methods:{
					//zjia
					inse_baoc1:function(){
						dataa1=JSON.stringify(vm1.dataa);
						$.ajax({
							url:"http://localhost:8080/maintenance3",
							contentType:"application/json;charset=utf-8",
							dataType:"json",
							data:dataa1,
							type:"post",
							success:function(result){
								if(result>0){
									alert("恭喜！成功");
									queryTree();
									$("#myModal1").modal('hide');
								}else{
									alert("主人！出问题了")
								}
							}
						});
					},
					//修改
					xgbaoc1:function(){
						dataa12=JSON.stringify(vm1.dataa1);
							$.ajax({
								url:"http://localhost:8080/maintenance5",
								contentType:"application/json;charset=utf-8",
								dataType:"json",
								data:dataa12,
								type:"put",
								success:function(result){
									queryTree();
									if(result>0){
										alert("恭喜！成功");
										queryTree();
										$("#myModal2").modal('hide');
									}else{
										alert("主人！出问题了")
									}
								}
							});
					}
				}
			});
			var vm=new Vue({
				el:"#ctx",
				data(){
					return{
						page:[],
						page1:[]
					};
				},
				created:function(){
					queryTree();
				},
				methods:{
					byid:function(item){
//						item=JSON.stringify(item);
						alert("选中项目编号:"+item.xiangmuno)
//						vm1.dataa1=item;
						$.ajax({
							url:"http://localhost:8080/maintenance4",
							dataType:"json",
							data:{
								xiangmuno:item.xiangmuno
							},
							type:"post",
							success:function(result){
								//result=JSON.stringify(result);
								//alert(result);
								vm1.dataa1=result;
								vm2.sc=result;
							}
						});
					},
					ed:function(zhi){
						alert("值:"+zhi)
					}
				}
			});
			
			function chooseNode(event,treeid,treeNode){
				$.ajax({
					url:"http://localhost:8080/maintenance2",
					type:"get",
					data:{pname:treeNode.pname},
					xhrFields:{
						withCredentials:true
					},
					dataType:"json",
					success:function(result){
						vm.page1=result;
				},error:function(result){
					console.log(result+"004");
				}
			});
			}
		function queryTree(){
     //树状结构
         $.ajax({
           type:"get",
           url:"http://localhost:8080/maintenance1",
           dateType:"json",
           xhrFields:{
            withCredentials:true
           },
           success:function(response){
              console.log(response);
              $.fn.zTree.init($("#treeDemo"), setting, response);//初始化节点数据
             $.fn.zTree.init($("#treeDemo"), setting, response).expandAll(true);
           }
          }); 
          
          var setting = {
             view: {
                    selectedMulti: true,
                    showIcon:false
                },
             check: {
              enable: false
             },
             data: {
               key: {
                    name: "pname",//树节点名称
               },
               simpleData: {
                enable: true,//是否采用简单数据模式
                    idKey: "pid",//树节点ID名称
                    pIdKey: "parentid",//父节点ID名称
                    rootPId: 0,//根节点ID
               }
             },
             callback:{
               onClick:chooseNode,
             }
          }}
		</script>
	</body>
</html>
