<!DOCTYPE html>
<html style="height: 100%;">
	<head>
		<meta charset="utf-8" />
		<title>车型档案</title>
	</head>
	<style type="text/css">
		#img_wjj_2 td h4{
			margin-left: 20px;
		}
		#img_wjj_1 td h4{
			margin-left: 20px;
		}
		a:hover{
			text-decoration: none;
		}
	</style>
	<body style="height: 100%;">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
		<div style="width: 100%;height: 100%;" id="ctx">
			<!--
            	作者：offline
            	时间：2019-12-31
            	描述：头部
            -->
			<header>
				<div class="row nav-tabs bg-success" style="margin-right:0px; margin-left:0px;">
					<div class="col-md-11">
						<h3 class="text-nowrap" style="margin-top: 10px; margin-left: 6px;">品牌车型</h3>
					</div>
					<div class="col-md-1">
						<a class="btn btn-default" href="#" style="margin-top: 5px; background-color: #999999; color: #FFFFFF;">关闭</a>
					</div>
				</div>
			</header>
			<!--
            	作者：offline
            	时间：2019-12-31
            	描述：独立区域中间
            -->
			<section style="height: 92%;">
				<div class="row" style="height: 100%;">
					<div class="col-md-4" style="height: 100%; background-color: white; border:1px solid #269ABC">
						<div class="bg-warning" style="border: 1px solid #262626; padding-bottom: 6px;  background-color:#F5F5F5">
							<table>
								<tr id="img_wjj_1">
									<td><h4><a href="#"><span class="glyphicon glyphicon-align-right" data-toggle="modal" data-target="#myModal1">增加品牌</span></a></h4></td>
									<td><h4><a href="#"><span class="glyphicon glyphicon-edit" aria-hidden="true" data-toggle="modal" data-target="#myModal2">修改</span></a></h4></td>
									<td><h4><a href="#"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true" @click="model_sc1">删除</span></a></h4></td>
								</tr>
							</table>
							<input type="text" name="" placeholder="匹配 品牌编码/品牌名称"/ style="width: 230px; height: 33px;"class="btn btn-default">
							<button type="button" class="btn btn-warning" style="margin-left: 10px;">搜索</button>
						</div>
						<div class="">
							<table border="1" class="table" style="background-color: #FFFFFF;">
								<tr class="bg-primary">
									<td class="text-center">&nbsp;</td>
									<td class="text-center">编码</td>
									<td class="text-center">品牌名称</td>
									<td class="text-center">首字母</td>
								</tr>
								<tr v-for="item in page" @click="byid(item)">
									<td style="background-color: #999999;">&nbsp;</td>
									<td class="text-center">{{item.carbankid}}</td>
									<td class="text-center">{{item.carbankname}}</td>
									<td class="text-center">{{item.firstword}}</td>
								</tr>
							</table>
						</div>
						
						<!--
                        	作者：offline
                        	时间：2020-01-01
                        	描述：模态框
                        -->
                        	<!--增加品牌-->
							<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
							  	<div class="modal-dialog" role="document">
							    	<div class="modal-content" style="width: 60%; margin-left: 20%;">
							      		<div class="modal-header">
							        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							        		<h4 class="modal-title">品牌定义</h4>
							      		</div>
							      		<div class="modal-body">
							        		<ul>
												<li>品牌编码<input type="text" disabled class="form-control" placeholder="P" style="margin-left: 10%; width: 50%; border-radius: 3px 3px 3px 3px;"></li>
												<li>品牌名称<input type="text" v-model="page1.carbankname" class="form-control" placeholder="P" style="margin-left: 10%; width: 50%; border-radius: 3px 3px 3px 3px;"></li>
												<li>&nbsp;&nbsp;&nbsp;首字母<input type="text" v-model="page1.firstword" class="form-control" placeholder="P" style="margin-left: 10%; width: 50%; border-radius: 3px 3px 3px 3px;"></li>
											</ul>
							      		</div>
							      		<div class="modal-footer">
							        		<button type="button" class="btn btn-primary" @click="insert_baoc1">保存</button>
							      		</div>
							    	</div>
							  	</div>
							</div>
							
							<!--修改-->
							<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
							  	<div class="modal-dialog" role="document">
							    	<div class="modal-content" style="width: 60%; margin-left: 20%;">
							      		<div class="modal-header">
							        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							        		<h4 class="modal-title">品牌定义</h4>
							      		</div>
							      		<div class="modal-body">
							        		<ul>
												<li>品牌编码<input type="text" disabled v-model="page1.carbankid" class="form-control" placeholder="P" style="margin-left: 10%; width: 50%; border-radius: 3px 3px 3px 3px;"></li>
												<li>品牌名称<input type="text" v-model="page1.carbankname" class="form-control" placeholder="P" style="margin-left: 10%; width: 50%; border-radius: 3px 3px 3px 3px;"></li>
												<li>&nbsp;&nbsp;&nbsp;首字母<input type="text" v-model="page1.firstword" class="form-control" placeholder="P" style="margin-left: 10%; width: 50%; border-radius: 3px 3px 3px 3px;"></li>
											</ul>
							      		</div>
							      		<div class="modal-footer">
							        		<button type="button" class="btn btn-primary" @click="model_xg1">保存</button>
							      		</div>
							    	</div>
							  	</div>
							</div>
					</div>
					<!--二-->
					<div class="col-md-8" style="border:1px solid #2E6DA4; background-color: white; height: 100%; margin-left: -15px;">
						<div class="bg-warning" style="border: 1px solid #262626; padding-bottom: 6px; margin-left: -16px; background-color:#F5F5F5;">
							<table>
								<tr id="img_wjj_2">
									<td><h4><a href="#"><span class="glyphicon glyphicon-align-right" data-toggle="modal" data-target="#myModal3">增加车型</span></a></h4></td>
									<td><h4><a href="#"><span class="glyphicon glyphicon-edit" aria-hidden="true" data-toggle="modal" data-target="#myModal5">修改</span></a></h4></td>
									<td><h4><a href="#"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true" @click="ybian_sc1">删除</span></a></h4></td>
								</tr>
							</table>
							<input type="text" name="" placeholder="匹配/车型编码/车型名称"/ style="width: 230px; height: 33px;"class="btn btn-default">
							<button type="button" class="btn btn-warning" style="margin-left: 10px;">搜索</button>
						</div>
						<div class="" style="margin-left: -15px;">
							<table border="1" class="table" style="background-color: #FFFFFF;">
								<tr class="bg-primary">
									<td class="text-center" style="width: 45px; height: 37px;">&nbsp;</td>
									<td class="text-center">APP展示</td>
									<td class="text-center">车型ID</td>
									<td class="text-center" style="width: 90px;">车型名称</td>
									<td class="text-center">发动机品牌号</td>
									<td class="text-center">参考价格</td>
									<td class="text-center">车辆年款</td>
									<td class="text-center">功率</td>
									<td class="text-center">进口国产</td>
									<td class="text-center">燃油标号</td>
									<td class="text-center">载重</td>
								</tr>
								<tr v-for="item in page3" @click="byid1(item)">
									<td style="background-color: #999999;">&nbsp;</td>
									<td class="text-center"><input type="checkbox" /></td>
									<td class="text-center">{{item.carbr_carbank}}</td>
									<td class="text-center">{{item.fadong_faname}}</td>
									<td class="text-center">{{item.fadong_fanumb}}</td>
									<td class="text-center">{{item.carxing_cankaop}}</td>
									<td class="text-center">{{item.carxing_caryearm}}</td>
									<td class="text-center">{{item.carxing_gonglv}}</td>
									<td class="text-center">{{item.carxing_jinkou}}</td>
									<td class="text-center">{{item.carxing_ranyou}}</td>
									<td class="text-center">{{item.carxing_zaizhon}}</td>
								</tr>
							</table>
						</div>
						
						<!--
                        	作者：offline
                        	时间：2020-01-01
                        	描述：模态框
                        -->
                        	<!--增加车型-->
							<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
							  <div class="modal-dialog" role="document">
							    <div class="modal-content">
							      <div class="modal-header">
							        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							        <h4 class="modal-title" id="myModalLabel">车型定义</h4>
							      </div>
							      <div class="modal-body">
							      	<table class="table table-hover">
							      		<tr>
							      			<th>车辆品牌
							      				<select name="" v-model="page5.carbankid" class="form-control" style="width: 60%;">
							      					<option value="1">丰田</option>
							      					<option value="2">中国一气</option>
							      					<option value="3">西重卡</option>
							      				</select>
							      			</th>
							      			<th>
							      				发动机品牌
							      				<select name="" v-model="page5.fabankid" class="form-control" placeholder="Amount" style="width: 60%;">
							      					<option value="1">奥迪</option>
							      					<option value="2">奔驰</option>
							      					<option value="3">雪佛兰</option>
							      					<option value="4">保时捷</option>
							      					<option value="5">本田</option>
							      					<option value="6">别克</option>
							      					<option value="7">宝骏</option>
							      					<option value="8">标致</option>
							      				</select>
							      			</th>
							      		</tr>
							      		<tr>
							      			<th>车型ID<input type="text" disabled class="form-control" placeholder="P" style="width: 60%; border-radius: 3px 3px 3px 3px;"></th>
							      			<th>车型名称<input type="text" v-model="page5.bei1"  class="form-control" placeholder="P" style="width: 60%; border-radius: 3px 3px 3px 3px;"></th>
							      		</tr>
							      		<tr>
							      			<th>
							      				进口国产<form class="form-inline" style="width: 60%;">
												  <div class="form-group">
												    <div class="input-group">
												      <select class="form-control" v-model="page5.jinkou" style="width: 100%; border: 1px solid #009688;">
														 	<option value="大众">大众</option>
														 	<option value="宝马">宝马</option>
														 	<option value="丰田">丰田</option>
														 </select>
												      <div class="input-group-addon">
												      	<button data-toggle="modal" data-target="#myModal4">a</button>
												      		
												      		<!--进口国产-->
												      		<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
															  	<div class="modal-dialog" role="document">
															    	<div class="modal-content">
															      		<div class="modal-header">
															        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
															        		<h4 class="modal-title" id="myModalLabel">选择内容设置</h4>
															      		</div>
															      		<div class="modal-body">
															        		<nav class="navbar navbar-default">
																			  	<div class="container-fluid">
																			    	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
																			      		<ul class="nav navbar-nav navbar-right">
																			        		<li><a href="#">修改</a></li>
																			        		<li><a href="#">保存</a></li>
																			      		</ul>
																			    	</div>
																			    	<div class="" style="height: 200px; overflow-y: scroll;">
																						<table class="table table-hover">
																							<tr style="background-color: #31B0D5;">
																								<th>&nbsp;</th>
																								<th>序号</th>
																								<th>进口国产</th>
																							</tr>
																							<tr>
																								<th>&nbsp;</th>
																								<th>1</th>
																								<th>国产</th>
																							</tr>
																							<tr>
																								<th>&nbsp;</th>
																								<th>2</th>
																								<th>进口</th>
																							</tr>
																							<tr>
																								<th>&nbsp;</th>
																								<th>3</th>
																								<th>合资</th>
																							</tr>
																						</table>
																					</div>
																			  	</div>
																			</nav>
															      		</div>
															      		<div class="modal-footer">
															        		<button type="button" class="btn btn-primary">选择</button>
															      		</div>
															    	</div>
															  	</div>
															</div>
												      </div>
												    </div>
												  </div>
												</form>
							      			</th>
							      			<th>参考价格<input type="text" v-model="page5.cankaoprice"  class="form-control" placeholder="P" style="width: 60%; border-radius: 3px 3px 3px 3px;"></th>
							      		</tr>
							      		<tr>
							      			<th>车辆年款<input type="text" v-model="page5.caryearmoney"  class="form-control" placeholder="P" style="width: 60%; border-radius: 3px 3px 3px 3px;"></th>
							      			<th>功率<input type="text" v-model="page5.gonglv"  class="form-control" placeholder="P" style="width: 60%; border-radius: 3px 3px 3px 3px;"></th>
							      		</tr>
							      		<tr>
							      			<th>燃油标号<input type="text" v-model="page5.ranyou"  class="form-control" placeholder="P" style="width: 60%; border-radius: 3px 3px 3px 3px;"></th>
							      			<th>载重<input type="text" v-model="page5.zaizhong"  class="form-control" placeholder="P" style="width: 60%; border-radius: 3px 3px 3px 3px;"></th>
							      		</tr>
							      	</table>
							      </div>
							      <div class="modal-footer">
							        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
							        <button type="button" class="btn btn-primary" @click="ybcxdan_Insert1">保存</button>
							      </div>
							    </div>
							  </div>
							</div>
							
							<!--修改-->
							<div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
							  <div class="modal-dialog" role="document">
							    <div class="modal-content">
							      <div class="modal-header">
							        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							        <h4 class="modal-title" id="myModalLabel">车型定义</h4>
							      </div>
							      <div class="modal-body">
							      	<table class="table table-hover">
							      		<tr>
							      			<th>车辆品牌
							      				<select name="" v-model="page6.carbankid" class="form-control" style="width: 60%;">
							      					<option value="1">丰田</option>
							      					<option value="2">中国一气</option>
							      					<option value="3">西重卡</option>
							      				</select>
							      			</th>
							      			<th>
							      				发动机品牌
							      				<select name="" v-model="page6.fabankid" class="form-control" placeholder="Amount" style="width: 60%;">
							      					<option value="1">奥迪</option>
							      					<option value="2">奔驰</option>
							      					<option value="3">雪佛兰</option>
							      					<option value="4">保时捷</option>
							      					<option value="5">本田</option>
							      					<option value="6">别克</option>
							      					<option value="7">宝骏</option>
							      					<option value="8">标致</option>
							      				</select>
							      			</th>
							      		</tr>
							      		<tr>
							      			<th>车型ID<input type="text" disabled v-model="page6.xingid" class="form-control" placeholder="P" style="width: 60%; border-radius: 3px 3px 3px 3px;"></th>
							      			<th>车型名称<input type="text" v-model="page6.bei1"  class="form-control" placeholder="P" style="width: 60%; border-radius: 3px 3px 3px 3px;"></th>
							      		</tr>
							      		<tr>
							      			<th>
							      				进口国产<form class="form-inline" style="width: 60%;">
												  <div class="form-group">
												    <div class="input-group">
												      <select class="form-control" v-model="page6.jinkou" style="width: 100%; border: 1px solid #009688;">
														 	<option value="大众">大众</option>
														 	<option value="宝马">宝马</option>
														 	<option value="丰田">丰田</option>
														 </select>
												      <div class="input-group-addon">
												      	<button data-toggle="modal" data-target="#myModal6">a</button>
												      		
												      		<!--进口国产-->
												      		<div class="modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
															  	<div class="modal-dialog" role="document">
															    	<div class="modal-content">
															      		<div class="modal-header">
															        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
															        		<h4 class="modal-title" id="myModalLabel">选择内容设置</h4>
															      		</div>
															      		<div class="modal-body">
															        		<nav class="navbar navbar-default">
																			  	<div class="container-fluid">
																			    	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
																			      		<ul class="nav navbar-nav navbar-right">
																			        		<li><a href="#">修改</a></li>
																			        		<li><a href="#">保存</a></li>
																			      		</ul>
																			    	</div>
																			    	<div class="" style="height: 200px; overflow-y: scroll;">
																						<table class="table table-hover">
																							<tr style="background-color: #31B0D5;">
																								<th>&nbsp;</th>
																								<th>序号</th>
																								<th>进口国产</th>
																							</tr>
																							<tr>
																								<th>&nbsp;</th>
																								<th>1</th>
																								<th>国产</th>
																							</tr>
																							<tr>
																								<th>&nbsp;</th>
																								<th>2</th>
																								<th>进口</th>
																							</tr>
																							<tr>
																								<th>&nbsp;</th>
																								<th>3</th>
																								<th>合资</th>
																							</tr>
																						</table>
																					</div>
																			  	</div>
																			</nav>
															      		</div>
															      		<div class="modal-footer">
															        		<button type="button" class="btn btn-primary">选择</button>
															      		</div>
															    	</div>
															  	</div>
															</div>
												      </div>
												    </div>
												  </div>
												</form>
							      			</th>
							      			<th>参考价格<input type="text" v-model="page6.cankaoprice"  class="form-control" placeholder="P" style="width: 60%; border-radius: 3px 3px 3px 3px;"></th>
							      		</tr>
							      		<tr>
							      			<th>车辆年款<input type="text" v-model="page6.caryearmoney"  class="form-control" placeholder="P" style="width: 60%; border-radius: 3px 3px 3px 3px;"></th>
							      			<th>功率<input type="text" v-model="page6.gonglv"  class="form-control" placeholder="P" style="width: 60%; border-radius: 3px 3px 3px 3px;"></th>
							      		</tr>
							      		<tr>
							      			<th>燃油标号<input type="text" v-model="page6.ranyou"  class="form-control" placeholder="P" style="width: 60%; border-radius: 3px 3px 3px 3px;"></th>
							      			<th>载重<input type="text" v-model="page6.zaizhong"  class="form-control" placeholder="P" style="width: 60%; border-radius: 3px 3px 3px 3px;"></th>
							      		</tr>
							      	</table>
							      </div>
							      <div class="modal-footer">
							        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
							        <button type="button" class="btn btn-primary" @click="ybxgbc_1">保存</button>
							      </div>
							    </div>
							  </div>
							</div>
							
					</div>
				</div>
			</section>
		</div><script type="text/javascript" src="js/vue.js"></script>
		<script type="text/javascript" src="js/jquery-1.12.4.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/my.js"></script>
		<script type="text/javascript">
			var vm=new Vue({
				el:"#ctx",
				data(){
					return{
						page:[],
						page1:{},
						page2:{},
						page3:{},
						page4:[],
						page5:{},
						page6:{}
					};
				},
				created:function(){
					pmodel_xs1();
				},
				methods:{
					byid:function(item){
//						item=JSON.stringify(item);
						this.dianji(item);
//						vm1.dataa1=item;
						$.ajax({
							url:"http://localhost:8080/vehicleDjizb2",
							dataType:"json",
							data:{
								CarBankId1:item.carbankid
							},
							type:"post",
							success:function(result){
								console.log(result);
								vm.page1=result;
								vm.page2=result;
							}	
						});
					},
					byid1:function(item){
						alert("选中:"+item.carbr_carbank);
						vm.page4=item;
						this.ybxgqc();
					},
					ybian_sc1:function(){
						alert("删除"+vm.page4.carbr_carbank);
						$.ajax({
							url:"http://localhost:8080/vehicleDjizb5",
							dataType:"json",
							type:"post",
							data:{xingid:vm.page4.carbr_carbank},
							success:function(result){
								if(result>=1){
									alert("右删成功!");
									pmodel_xs1();
								}else{
									alert("再来!")
								}
							}
						});
					},
					model_xg1:function(){
						page1=JSON.stringify(vm.page1);
						$.ajax({
							url:"http://localhost:8080/vehicleDjizb3",
							contentType:"application/json;charset=utf-8",
							dataType:"json",
							type:"post",
							data:page1,
							success:function(result){
								if(result>=1){
									alert("修改成功!");
									$("#myModal2").modal('hide');
									pmodel_xs1();
								}else{
									alert("再来!")
								}
							}
						});
					},
					model_sc1:function(){
						alert("删除"+vm.page1.carbankid);
						$.ajax({
							url:"http://localhost:8080/vehicleDjizb4",
							dataType:"json",
							type:"post",
							data:{CarBankId1:vm.page1.carbankid},
							success:function(result){
								if(result>=1){
									alert("成功!");
									pmodel_xs1();
								}else{
									alert("再来!")
								}
							}
						});
					},
					//增加修改用的数据
					
					//右边修改前查
					ybxgqc:function(){
						$.ajax({
							url:"http://localhost:8080/vehicleDjizb8",
							dataType:"json",
							type:"post",
							data:{page4id:vm.page4.carbr_carbank},
							success:function(result){
								vm.page6=result;
								result=JSON.stringify(result);
								console.log(result);
								
							}
						});
					},
					//右修改保存
					ybxgbc_1:function(){
						page6=JSON.stringify(vm.page6);
						$.ajax({
							url:"http://localhost:8080/vehicleDjizb9",
							contentType:"application/json;charset=utf-8",
							type:"post",
							dataType:"json",
							data:page6,
							success:function(result){
								if (result>=1) {
									alert("修成功")
									$("#myModal5").modal('hide');
									pmodel_xs1();
								} else{
									alert("请再来")
								}
							}
						});
					},
					zjiaysj:function(){
						$.ajax({
							url:"http://localhost:8080/vehiclefil6",
							dataType:"json",
							type:"get",
							success:function(result){
								vm.page5=result;
							}
						});
					},
					//右增加
					ybcxdan_Insert1:function(){
						page5=JSON.stringify(vm.page5);
						$.ajax({
							url:"http://localhost:8080/vehicleDjizb7",
							contentType:"application/json;charset=utf-8",
							dataType:"json",
							type:"post",
							data:page5,
							success:function(result){
								if (result>=1) {
									alert("增成功")
									$("#myModal3").modal('hide');
									pmodel_xs1();
								} else{
									alert("再来")
								}
							}
						});
					},
					
				insert_baoc1:function(){
					//左增加
					page1=JSON.stringify(vm.page1);
					alert("保存:"+page1);
					$.ajax({
						url:"http://localhost:8080/vehiclefil2",
						contentType:"application/json;charset=utf-8",
						type:"post",
						dataType:"json",
						data:page1,
						success:function(result){
							vm.page1=result;
							if (result>=1) {
								alert("成")
								$("#myModal1").modal('hide');
								pmodel_xs1();
							} else{
								alert("失")
							}
							console.log(result);
						}
					});
				},
				dianji:function(item){
					$.ajax({
						url:"http://localhost:8080/vehicleDjizb1",
						type:"post",
						dataType:"json",
						data:{
							CarBankId:item.carbankid
						},
						success:function(result){
							vm.page3=result;
							<!--result=JSON.stringify(result);-->
							console.log(result);
						}
					});
				}
				}
				
			});
			
			function pmodel_xs1(){
						$.ajax({
							url:"http://localhost:8080/vehiclefil1",
							dataType:"json",
							type:"get",
							xhrFields:{
				            withCredentials:true
				           				},
							success:function(result){
								vm.page=result;
								console.log(result);
							}
						});
					}
		</script>
	</body>
</html>
