<!DOCTYPE html>
<html style="height: 100%; width: 99%;">
	<head>
		<meta charset="UTF-8">
		<title>供货单位</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/bootstrapStyle/bootstrapStyle.css"/>
	</head>
	<body style="height: 100%;">
		<div class="">
			<!--  myModal1这个1-4是新增5-8修改9-10查询11联系人12字段设置
            	作者：offline
            	时间：2019-12-31
            	描述：头部
            -->
			<header>
				<div class="row nav-tabs bg-success">
					<div class="col-md-8" style="border:none;min-height: 70px;">
						<h3 class="text-nowrap text-justify" style="margin-left: 3%;">供货单位</h3>
					</div>
					<div class="col-md-4">
						<div class="input-group" style="margin-top: 5%;">
					      <input type="text" class="form-control" placeholder="匹配名称/联系人/简码/手机+号实现双条件查询" style="width: 100%;">
					      <span class="input-group-btn">
					        <button class="btn btn-default" type="button">搜索</button>
					      </span>
					      <span class="input-group-btn">
					        <button class="btn btn-default" type="button">关闭</button>
					      </span>
					    </div>
					</div>
				</div>
			</header>
			<!--
            	作者：offline
            	时间：2019-12-31
            	描述：独立区域中间
            -->
			<section style="" style="height: 100%;">
				<div class="" style="height: 100%;">
					<div id="ctx1">
						<nav class="navbar navbar-default" style="margin-bottom: 0px;">
						  <div class="container-fluid">
						    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						      <ul class="nav navbar-nav navbar-right" id="wxxm_tu_1">
						        <li><a href="#"><span class="glyphicon glyphicon-tasks" aria-hidden="true" data-toggle="modal" data-target="#myModal1">增加</a></span></li>
						        <li><a href="#"><span class="glyphicon glyphicon-edit" aria-hidden="true" data-toggle="modal" data-target="#myModal5">修改</a></span></li>
						        <li><a href="#"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true" @click="supply_sc1">删除</a></span></li>
						        <li><a href="#"><span class="glyphicon glyphicon-level-up" aria-hidden="true" data-toggle="modal" data-target="#myModal11">联系人</a></span></li>
						        <li><a href="#"><span class="glyphicon glyphicon-level-up" aria-hidden="true" data-toggle="modal" data-target="#myModal12">字段设置</a></span></li>
						      </ul>
						    </div>
						  </div>
						</nav>
						
						<!--
                        	作者：offline
                        	时间：2020-01-04
                        	描述：模态框
                        -->
                        	<!--增加-->
								<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
								  <div class="modal-dialog" role="document">
								    <div class="modal-content" style="width: 100%;">
								      <div class="modal-header">
								        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								        <h4 class="modal-title" id="myModalLabel">供货单位编辑</h4>
								      </div>
								      <div class="modal-body"style="width: 100%;">
								        	<table class="table table-hover">
								        		<tr>
								        			<th>
								        				广商代码<input type="text" class="form-control" disabled placeholder="询" style="width: 100%;">
								        			</th>
								        			<th>
								        				广商名称<input type="text" class="form-control" placeholder="询" style="width: 100%;">
								        			</th>
								        			<th>
								        				地址<input type="text" class="form-control" placeholder="询" style="width: 160%;">
								        			</th>
								        		</tr>
								        		<tr>
								        			<th>
								        				经营情况<input type="text" class="form-control" placeholder="询" style="width: 100%;">
								        			</th>
								        			<th>
								        				网址<input type="text" class="form-control" placeholder="询" style="width: 100%;">
								        			</th>
								        			<th>
								        				开户行<input type="text" class="form-control" placeholder="询" style="width: 100%;">
								        			</th>
								        		</tr>
								        		<tr>
								        			<th>
								        				银行账号<input type="text" class="form-control" placeholder="询" style="width: 100%;">
								        			</th>
								        			<th>
								        				付款方式
								        				<form class="form-inline" style="width: 130%;">
															  <div class="form-group">
															    <label class="sr-only" for="exampleInputAmount">Amount</label>
															    <div class="input-group">
															      <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
																	 <div class="input-group-addon" style="padding:0px 0px 0px 0px">
																	 	<div class="dropdown">
																		  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="padding:1px 6px">
																		    <span class="caret"></span>
																		  </button>
																		  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
																		    <li><a href="#">Acd</a></li>
																		  </ul>
																		</div>
																	 </div>
															      <div class="input-group-addon">
															      	<button data-toggle="modal" data-target="#myModal2">a</button>
															      	
															      		<!--
                                                                          	作者：offline
                                                                          	时间：2020-01-06
                                                                          	描述：模态框
                                                                          -->
                                                                          	<!--付款方式里-->
                                                                          	<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
																				<div class="modal-dialog" role="document">
																				    <div class="modal-content">
																				        <div class="modal-header">
																				        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
																				        	<h4 class="modal-title">选择内容设置</h4>
																				      	</div>
																				      	<div class="modal-body">
																				        	<table class="table table-hover">
																				        		<tr style="background-color: #66AFE9;">
																				        			<th>&nbsp;</th>
																				        			<th>序号</th>
																				        			<th>订单付款方式</th>
																				        		</tr>
																				        		<tr>
																				        			<th>&nbsp;</th>
																				        			<th>1</th>
																				        			<th>按月结算方式</th>
																				        		</tr>
																				        		<tr>
																				        			<th>&nbsp;</th>
																				        			<th>2</th>
																				        			<th>货到付款</th>
																				        		</tr>
																				        	</table>
																				      	</div>
																				    	<div class="modal-footer">
																				        	<button type="button" class="btn btn-primary">修改</button>
																				        	<button type="button" class="btn btn-primary">保存</button>
																				    	</div>
																				    </div>
																				</div>
																			</div>
															      </div>
															    </div>
															  </div>
														</form>
								        			</th>
								        			<th>
								        				广商等级
								        				<form class="form-inline" style="width: 130%; margin-left: 20%;">
															  <div class="form-group">
															    <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
															    <div class="input-group">
															      <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
																	 <div class="input-group-addon" style="padding:0px 0px 0px 0px">
																	 	<div class="dropdown">
																		  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="padding:1px 6px">
																		    <span class="caret"></span>
																		  </button>
																		  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
																		    <li><a href="#">Acd</a></li>
																		  </ul>
																		</div>
																	 </div>
															      <div class="input-group-addon">
															      	<button data-toggle="modal" data-target="#myModal3">a</button>
															      		<!--广商等级-->
															      			<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
																				<div class="modal-dialog" role="document">
																				    <div class="modal-content">
																				        <div class="modal-header">
																				        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
																				        	<h4 class="modal-title">选择内容设置</h4>
																				      	</div>
																				      	<div class="modal-body">
																				        	<table class="table table-hover">
																				        		<tr style="background-color: #66AFE9;">
																				        			<th>&nbsp;</th>
																				        			<th>序号</th>
																				        			<th>广商等级</th>
																				        		</tr>
																				        		<tr>
																				        			<th>&nbsp;</th>
																				        			<th>1</th>
																				        			<th>A</th>
																				        		</tr>
																				        		<tr>
																				        			<th>&nbsp;</th>
																				        			<th>2</th>
																				        			<th>B</th>
																				        		</tr>
																				        		<tr>
																				        			<th>&nbsp;</th>
																				        			<th>3</th>
																				        			<th>C</th>
																				        		</tr>
																				        	</table>
																				      	</div>
																				    	<div class="modal-footer">
																				        	<button type="button" class="btn btn-primary">选择</button>
																				    	</div>
																				    </div>
																				</div>
																			</div>
															      </div>
															    </div>
															  </div>
														</form>
								        			</th>
								        		</tr>
								        		<tr>
								        			<th>
								        				经营品牌<input type="text" class="form-control" placeholder="询" style="width: 100%;">
								        			</th>
								        			<th>
								        				广商类别
								        				<form class="form-inline" style="width: 300%;">
															  <div class="form-group">
															    <label class="sr-only" for="exampleInputAmount">Amount</label>
															    <div class="input-group">
															      <input type="text" class="form-control" placeholder="Amount">
																	<div class="input-group-addon">
															      		<button data-toggle="modal" data-target="#myModal4">a</button>
															      		<!--广告类别-->
															      			<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
																			  	<div class="modal-dialog" role="document">
																			    	<div class="modal-content">
																			      		<div class="modal-header">
																			        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
																			        		<h4 class="modal-title" id="myModalLabel">广商分类选择</h4>
																			      		</div>
																			      		<div class="modal-body">
																			        		<ul id="treeDemo1" class="ztree"></ul>
																			      		</div>
																			      		<div class="modal-footer">
																			        		<button type="button" class="btn btn-primary">选择</button>
																			      		</div>
																			    	</div>
																			  	</div>
																			</div>
															      	</div>
															    </div>
															  </div>
														</form>
								        			</th>
								        		</tr>
								        		<tr>
								        			<th>
								        				联系人<input type="text" class="form-control" placeholder="询" style="width: 100%;">
								        			</th>
								        			<th>
								        				电话<input type="text" class="form-control" placeholder="询" style="width: 100%;">
								        			</th>
								        			<th>
								        				手机<input type="text" class="form-control" placeholder="询" style="width: 100%;">
								        			</th>
								        			<th>
								        				Email1<input type="text" class="form-control" placeholder="询" style="width: 100%;">
								        			</th>
								        		</tr>
								        		<tr>
								        			<th>
								        				账期(天)<input type="text" class="form-control" placeholder="询" style="width: 100%;">
								        			</th>
								        			<th>
								        				备注<input type="text" class="form-control" placeholder="询" style="width: 260%;">
								        			</th>
								        		</tr>
								        	</table>
								      </div>
								      <div class="modal-footer">
								        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
								        <button type="button" class="btn btn-primary">保存</button>
								      </div>
								    </div>
								  </div>
								</div>
								
							<!--修改-->
							<div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
								  <div class="modal-dialog" role="document">
								    <div class="modal-content" style="width: 100%;">
								      <div class="modal-header">
								        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								        <h4 class="modal-title" id="myModalLabel">供货单位编辑</h4>
								      </div>
								      <div class="modal-body"style="width: 100%;">
								        	<table class="table table-hover">
								        		<tr>
								        			<th>
								        				广商代码<input type="text" class="form-control" disabled placeholder="询" style="width: 100%;">
								        			</th>
								        			<th>
								        				广商名称<input type="text" class="form-control" placeholder="询" style="width: 100%;">
								        			</th>
								        			<th>
								        				地址<input type="text" class="form-control" placeholder="询" style="width: 160%;">
								        			</th>
								        		</tr>
								        		<tr>
								        			<th>
								        				经营情况<input type="text" class="form-control" placeholder="询" style="width: 100%;">
								        			</th>
								        			<th>
								        				网址<input type="text" class="form-control" placeholder="询" style="width: 100%;">
								        			</th>
								        			<th>
								        				开户行<input type="text" class="form-control" placeholder="询" style="width: 100%;">
								        			</th>
								        		</tr>
								        		<tr>
								        			<th>
								        				银行账号<input type="text" class="form-control" placeholder="询" style="width: 100%;">
								        			</th>
								        			<th>
								        				付款方式
								        				<form class="form-inline" style="width: 130%;">
															  <div class="form-group">
															    <label class="sr-only" for="exampleInputAmount">Amount</label>
															    <div class="input-group">
															      <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
																	 <div class="input-group-addon" style="padding:0px 0px 0px 0px">
																	 	<div class="dropdown">
																		  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="padding:1px 6px">
																		    <span class="caret"></span>
																		  </button>
																		  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
																		    <li><a href="#">Acd</a></li>
																		  </ul>
																		</div>
																	 </div>
															      <div class="input-group-addon">
															      	<button data-toggle="modal" data-target="#myModal6">a</button>
															      	
															      		<!--
                                                                          	作者：offline
                                                                          	时间：2020-01-06
                                                                          	描述：模态框
                                                                          -->
                                                                          	<!--付款方式里-->
                                                                          	<div class="modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
																				<div class="modal-dialog" role="document">
																				    <div class="modal-content">
																				        <div class="modal-header">
																				        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
																				        	<h4 class="modal-title">选择内容设置</h4>
																				      	</div>
																				      	<div class="modal-body">
																				        	<table class="table table-hover">
																				        		<tr style="background-color: #66AFE9;">
																				        			<th>&nbsp;</th>
																				        			<th>序号</th>
																				        			<th>订单付款方式</th>
																				        		</tr>
																				        		<tr>
																				        			<th>&nbsp;</th>
																				        			<th>1</th>
																				        			<th>按月结算方式</th>
																				        		</tr>
																				        		<tr>
																				        			<th>&nbsp;</th>
																				        			<th>2</th>
																				        			<th>货到付款</th>
																				        		</tr>
																				        	</table>
																				      	</div>
																				    	<div class="modal-footer">
																				        	<button type="button" class="btn btn-primary">修改</button>
																				        	<button type="button" class="btn btn-primary">保存</button>
																				    	</div>
																				    </div>
																				</div>
																			</div>
															      </div>
															    </div>
															  </div>
														</form>
								        			</th>
								        			<th>
								        				广商等级
								        				<form class="form-inline" style="width: 130%; margin-left: 20%;">
															  <div class="form-group">
															    <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
															    <div class="input-group">
															      <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
																	 <div class="input-group-addon" style="padding:0px 0px 0px 0px">
																	 	<div class="dropdown">
																		  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="padding:1px 6px">
																		    <span class="caret"></span>
																		  </button>
																		  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
																		    <li><a href="#">Acd</a></li>
																		  </ul>
																		</div>
																	 </div>
															      <div class="input-group-addon">
															      	<button data-toggle="modal" data-target="#myModal7">a</button>
															      		<!--广商等级-->
															      			<div class="modal fade" id="myModal7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
																				<div class="modal-dialog" role="document">
																				    <div class="modal-content">
																				        <div class="modal-header">
																				        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
																				        	<h4 class="modal-title">选择内容设置</h4>
																				      	</div>
																				      	<div class="modal-body">
																				        	<table class="table table-hover">
																				        		<tr style="background-color: #66AFE9;">
																				        			<th>&nbsp;</th>
																				        			<th>序号</th>
																				        			<th>广商等级</th>
																				        		</tr>
																				        		<tr>
																				        			<th>&nbsp;</th>
																				        			<th>1</th>
																				        			<th>A</th>
																				        		</tr>
																				        		<tr>
																				        			<th>&nbsp;</th>
																				        			<th>2</th>
																				        			<th>B</th>
																				        		</tr>
																				        		<tr>
																				        			<th>&nbsp;</th>
																				        			<th>3</th>
																				        			<th>C</th>
																				        		</tr>
																				        	</table>
																				      	</div>
																				    	<div class="modal-footer">
																				        	<button type="button" class="btn btn-primary">选择</button>
																				    	</div>
																				    </div>
																				</div>
																			</div>
															      </div>
															    </div>
															  </div>
														</form>
								        			</th>
								        		</tr>
								        		<tr>
								        			<th>
								        				经营品牌<input type="text" class="form-control" placeholder="询" style="width: 100%;">
								        			</th>
								        			<th>
								        				广商类别
								        				<form class="form-inline" style="width: 300%;">
															  <div class="form-group">
															    <label class="sr-only" for="exampleInputAmount">Amount</label>
															    <div class="input-group">
															      <input type="text" class="form-control" placeholder="Amount">
																	<div class="input-group-addon">
															      		<button data-toggle="modal" data-target="#myModal8">a</button>
															      		
															      		<!--广告类别-->
															      			<div class="modal fade" id="myModal8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
																			  	<div class="modal-dialog" role="document">
																			    	<div class="modal-content">
																			      		<div class="modal-header">
																			        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
																			        		<h4 class="modal-title" id="myModalLabel">广商分类选择</h4>
																			      		</div>
																			      		<div class="modal-body">
																			        		<ul id="treeDemo2" class="ztree"></ul>
																			      		</div>
																			      		<div class="modal-footer">
																			        		<button type="button" class="btn btn-primary">选择</button>
																			      		</div>
																			    	</div>
																			  	</div>
																			</div>
															      	</div>
															    </div>
															  </div>
														</form>
								        			</th>
								        		</tr>
								        		<tr>
								        			<th>
								        				联系人<input type="text" class="form-control" placeholder="询" style="width: 100%;">
								        			</th>
								        			<th>
								        				电话<input type="text" class="form-control" placeholder="询" style="width: 100%;">
								        			</th>
								        			<th>
								        				手机<input type="text" class="form-control" placeholder="询" style="width: 100%;">
								        			</th>
								        			<th>
								        				Email1<input type="text" class="form-control" placeholder="询" style="width: 100%;">
								        			</th>
								        		</tr>
								        		<tr>
								        			<th>
								        				账期(天)<input type="text" class="form-control" placeholder="询" style="width: 100%;">
								        			</th>
								        			<th>
								        				备注<input type="text" class="form-control" placeholder="询" style="width: 260%;">
								        			</th>
								        		</tr>
								        	</table>
								      </div>
								      <div class="modal-footer">
								        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
								        <button type="button" class="btn btn-primary">保存</button>
								      </div>
								    </div>
								  </div>
							</div>
							<!--联系人-->
								<div class="modal fade" id="myModal11" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
								  	<div class="modal-dialog" role="document">
								    	<div class="modal-content">
								      		<div class="modal-header">
								        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								        		<h4 class="modal-title" id="myModalLabel">默默联系人</h4>
								      		</div>
								      		<div class="modal-body">
								        		<nav class="navbar navbar-default">
												  <div class="container-fluid">
												    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
												      <ul class="nav navbar-nav navbar-right">
												        <li><a href="#"><span class="glyphicon glyphicon-align-right" aria-hidden="true"></span>增加</a></li>
												        <li><a href="#"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>删除</a></li>
												        <li><a href="#"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>保存</a></li>
												      </ul>
												      <table class="table table-hover">
												      	<tr>
												      		<th>联系人<input type="text" class="form-control" placeholder="询" style="width: 100%;"></th>
												      		<th>手机<input type="text" class="form-control" placeholder="询" style="width: 100%;"></th>
												      		<th>职位<input type="text" class="form-control" placeholder="询" style="width: 100%;"></th>
												      	</tr>
												      	<tr>
												      		<th>电话<input type="text" class="form-control" placeholder="询" style="width: 100%;"></th>
												      		<th>Email<input type="text" class="form-control" placeholder="询" style="width: 100%;"></th>
												      	</tr>
												      </table>
												    </div>
												  </div>
												</nav>
												<div class="" style="height: 200px; overflow-y: scroll;">
													<table class="table table-hover">
														<tr style="background-color: #31B0D5;">
															<th>&nbsp;</th>
															<th>联系人</th>
															<th>职位</th>
															<th>手机</th>
															<th>电话</th>
															<th>Emali</th>
														</tr>
														<tr>
															<th>&nbsp;</th>
															<th>联系人</th>
															<th>职位</th>
															<th>手机</th>
															<th>电话</th>
															<th>Emali</th>
														</tr>
													</table>
												</div>
								      		</div>
								      		<div class="modal-footer">
								        		<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
								      		</div>
								    	</div>
								  	</div>
								</div>
								
								<!--字段设置-->
								<div class="modal fade" id="myModal12" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
								  	<div class="modal-dialog" role="document">
								    	<div class="modal-content">
								      		<div class="modal-header">
								        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								        		<h4 class="modal-title">字段设置</h4>
								      		</div>
								      		<div class="modal-body">
								       			<nav class="navbar navbar-default">
												  	<div class="container-fluid">
												    	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
												      		<ul class="nav navbar-nav navbar-right">
												        		<li><a href="#">全部选择</a></li>
												        		<li><a href="#">全部取消</a></li>
												      		</ul>
												    	</div>
												    	<div class="" style="height: 200px; overflow-y: scroll;">
															<table class="table table-hover">
																<tr style="background-color: #31B0D5;">
																	<th>&nbsp;</th>
																	<th><input type="checkbox"></th>
																	<th>联系人</th>
																	<th>职位</th>
																	<th>手机</th>
																	<th>电话</th>
																	<th>Emali</th>
																</tr>
																<tr>
																	<th>&nbsp;</th>
																	<th><input type="checkbox"></th>
																	<th>联系人</th>
																	<th>职位</th>
																	<th>手机</th>
																	<th>电话</th>
																	<th>Emali</th>
																</tr>
															</table>
														</div>
												  	</div>
												</nav>
								      		</div>
								      		<div class="modal-footer">
								        		<button type="button" class="btn btn-primary">确定</button>
								      		</div>
								    	</div>
								  	</div>
								</div>
								
					</div>
					<div class="row" style="height: 100%;" id="ctx">
						<div class="col-md-2" style="border: 1px solid #080808;">
							<ul id="treeDemo" class="ztree" name="zhi"></ul>
						</div>
						<div class="col-md-10" style="height: 100%;">
							<div class="" style="height: 300px; background-color: #FFFFFF; overflow-y: scroll;">
								<table border="1" class="table">
									<tr style="background-color: #269ABC;">
										<td width="4%">&nbsp;</td>
										<td>供货商编码</td>
										<td>供货商名称</td>
										<td>供货商地址</td>
										<td>经营情况</td>
										<td>网址</td>
										<td>开户行</td>
										<td>银行卡号</td>
										<td>付款方式</td>
										<td>厂商等级</td>
										<td>经营品牌</td>
										<td>厂商类别</td>
										<td>联系人</td>
										<td>电话</td>
										<td>手机</td>
									</tr>
									<tr v-for="item in page" @click="byid(item)">
										<td width="4%">&nbsp;</td>
										<td>{{item.huoshangno}}</td>
										<td>{{item.shangname}}</td>
										<td>{{item.address}}</td>
										<td>{{item.jingyin}}</td>
										<td>{{item.wangzhi}}</td>
										<td>{{item.kaihu}}</td>
										<td>{{item.yinhangcard}}</td>
										<td>{{item.fukuan}}</td>
										<td>{{item.shanggraden}}</td>
										<td>{{item.jingyintype}}</td>
										<td>{{item.shangtype}}</td>
										<td>{{item.lianxi}}</td>
										<td>{{item.dianhua}}</td>
										<td>{{item.shouji}}</td>
									</tr>
								</table>
							</div>
							<div class="">
								<div class="panel panel-default">
								  	<div class="panel-heading">
								  		联系人
								  	</div>
								  	<div class="" style="overflow-y: scroll; height: 120px;">
								  		<table class="table" border="1">
										    <tr style="background-color: #269ABC;">
										    	<td width="4%">&nbsp;</td>
										    	<td>联系人</td>
										    	<td>手机</td>
										    	<td>电话</td>
										    	<td>Email</td>
										    </tr>
										    <tr v-for="item in page">
										    	<td width="4%">&nbsp;</td>
										    	<td>{{item.lianxi}}</td>
										    	<td>{{item.shouji}}</td>
										    	<td>{{item.dianhua}}</td>
										    	<td>{{item.email}}</td>
										    </tr>
										</table>
								  	</div>
								</div>
							</div>
						</div>
					</div>	
				</div>	
			</section>
		</div>
				
		<script type="text/javascript" src="js/jquery-1.12.4.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/jquery.ztree.core.js"></script>
		<script type="text/javascript" src="js/jquery.ztree.core.js"></script>
		<script type="text/javascript" src="js/jquery.ztree.excheck.js"></script>
		<script type="text/javascript" src="js/jquery.ztree.exedit.js"></script>
		<script type="text/javascript" src="js/vue.js"></script>
		<script type="text/javascript" src="js/jquery.ztree.core.js"></script>
		<script type="text/javascript">
			var vm1=new Vue({
				el:"#ctx1",
				data(){
					return{
						andt:[]
					};
				},
				methods:{
					supply_sc1:function(){
						if(confirm("你确定要删除"+vm1.andt.huoshangno+"么?"))
						$.ajax({
							dataType:"json",
							type:"post",
							url:"http://localhost:8080/supplyunit4",
							data:{huoshangno:vm1.andt.huoshangno},
							success:function(result){
								if (result>=1) {
									alert("删成功")
								} else{
									alert("再来")
								}
							}
						});
					}
				}
			});
			var vm=new Vue({
				el:"#ctx",
				data(){
					return{
						page:{},
					};
				},
				created:function(){
					queryTree();
				},
				methods:{
					byid:function(item){
//						item=JSON.stringify(item);
						alert("选中项目编号:"+item.huoshangno)
//						vm1.dataa1=item;
						$.ajax({
							url:"http://localhost:8080/supplyunit3",
							dataType:"json",
							data:{
								huoshangno:item.huoshangno
							},
							type:"post",
							success:function(result){
								console.log(result);
								vm1.andt=result;
							}
						});
					}
				}
			});
			
			function chooseNode(event,treeid,treeNode){
				alert("是:"+treeNode.hid)
				$.ajax({
					url:"http://localhost:8080/supplyunit2",
					type:"get",
					data:{bei1:treeNode.hid},
					xhrFields:{
						withCredentials:true
					},
					dataType:"json",
					success:function(result){
						vm.page=result;
				},error:function(result){
					console.log(result+"004");
				}
			});
			}
			
			function queryTree(){
    	 //树状结构
         $.ajax({
           type:"get",
           url:"http://localhost:8080/supplyunit1",
           dateType:"json",
           xhrFields:{
            withCredentials:true
           },
           success:function(response){
              console.log(response);
              $.fn.zTree.init($("#treeDemo"), setting, response);//初始化节点数据
             $.fn.zTree.init($("#treeDemo"), setting, response).expandAll(true);
           }
          }); 
          
          var setting = {
             view: {
                    selectedMulti: true,
                    showIcon:false
                },
             check: {
              enable: false
             },
             data: {
               key: {
                    name: "hname",//树节点名称
               },
               simpleData: {
                enable: true,//是否采用简单数据模式
                    idKey: "hid",//树节点ID名称
                    pIdKey: "harentid",//父节点ID名称
                    rootPId: 0,//根节点ID
               }
             },
             callback:{
               onClick:chooseNode,
             }
          }}
		</script>
	</body>
</html>
