<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.mapper.KehutypeMapper" >
  <resultMap id="BaseResultMap" type="com.accp.domain.Kehutype" >
    <id column="typeid" property="typeid" jdbcType="INTEGER" />
    <result column="typename" property="typename" jdbcType="VARCHAR" />
    <result column="typeprice" property="typeprice" jdbcType="VARCHAR" />
    <result column="youxiaoqi" property="youxiaoqi" jdbcType="INTEGER" />
    <result column="huifei" property="huifei" jdbcType="INTEGER" />
    <result column="huiyuan" property="huiyuan" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    typeid, typename, typeprice, youxiaoqi, huifei, huiyuan
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.accp.domain.KehutypeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from kehutype
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from kehutype
    where typeid = #{typeid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from kehutype
    where typeid = #{typeid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.accp.domain.KehutypeExample" >
    delete from kehutype
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.accp.domain.Kehutype" >
    insert into kehutype (typeid, typename, typeprice, 
      youxiaoqi, huifei, huiyuan
      )
    values (#{typeid,jdbcType=INTEGER}, #{typename,jdbcType=VARCHAR}, #{typeprice,jdbcType=VARCHAR}, 
      #{youxiaoqi,jdbcType=INTEGER}, #{huifei,jdbcType=INTEGER}, #{huiyuan,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.accp.domain.Kehutype" >
    insert into kehutype
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="typeid != null" >
        typeid,
      </if>
      <if test="typename != null" >
        typename,
      </if>
      <if test="typeprice != null" >
        typeprice,
      </if>
      <if test="youxiaoqi != null" >
        youxiaoqi,
      </if>
      <if test="huifei != null" >
        huifei,
      </if>
      <if test="huiyuan != null" >
        huiyuan,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="typeid != null" >
        #{typeid,jdbcType=INTEGER},
      </if>
      <if test="typename != null" >
        #{typename,jdbcType=VARCHAR},
      </if>
      <if test="typeprice != null" >
        #{typeprice,jdbcType=VARCHAR},
      </if>
      <if test="youxiaoqi != null" >
        #{youxiaoqi,jdbcType=INTEGER},
      </if>
      <if test="huifei != null" >
        #{huifei,jdbcType=INTEGER},
      </if>
      <if test="huiyuan != null" >
        #{huiyuan,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.accp.domain.KehutypeExample" resultType="java.lang.Integer" >
    select count(*) from kehutype
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update kehutype
    <set >
      <if test="record.typeid != null" >
        typeid = #{record.typeid,jdbcType=INTEGER},
      </if>
      <if test="record.typename != null" >
        typename = #{record.typename,jdbcType=VARCHAR},
      </if>
      <if test="record.typeprice != null" >
        typeprice = #{record.typeprice,jdbcType=VARCHAR},
      </if>
      <if test="record.youxiaoqi != null" >
        youxiaoqi = #{record.youxiaoqi,jdbcType=INTEGER},
      </if>
      <if test="record.huifei != null" >
        huifei = #{record.huifei,jdbcType=INTEGER},
      </if>
      <if test="record.huiyuan != null" >
        huiyuan = #{record.huiyuan,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update kehutype
    set typeid = #{record.typeid,jdbcType=INTEGER},
      typename = #{record.typename,jdbcType=VARCHAR},
      typeprice = #{record.typeprice,jdbcType=VARCHAR},
      youxiaoqi = #{record.youxiaoqi,jdbcType=INTEGER},
      huifei = #{record.huifei,jdbcType=INTEGER},
      huiyuan = #{record.huiyuan,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.domain.Kehutype" >
    update kehutype
    <set >
      <if test="typename != null" >
        typename = #{typename,jdbcType=VARCHAR},
      </if>
      <if test="typeprice != null" >
        typeprice = #{typeprice,jdbcType=VARCHAR},
      </if>
      <if test="youxiaoqi != null" >
        youxiaoqi = #{youxiaoqi,jdbcType=INTEGER},
      </if>
      <if test="huifei != null" >
        huifei = #{huifei,jdbcType=INTEGER},
      </if>
      <if test="huiyuan != null" >
        huiyuan = #{huiyuan,jdbcType=VARCHAR},
      </if>
    </set>
    where typeid = #{typeid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.domain.Kehutype" >
    update kehutype
    set typename = #{typename,jdbcType=VARCHAR},
      typeprice = #{typeprice,jdbcType=VARCHAR},
      youxiaoqi = #{youxiaoqi,jdbcType=INTEGER},
      huifei = #{huifei,jdbcType=INTEGER},
      huiyuan = #{huiyuan,jdbcType=VARCHAR}
    where typeid = #{typeid,jdbcType=INTEGER}
  </update>
</mapper>